[2018-08-05 13:52] #468 closed

[2018-08-05 16:58] novellac opened #492 "Detroit Public Library Commission"
New spider for Detroit Public Library Commission (det_library_commission) from https://detroitpubliclibrary.org/about/commission

This spider is part of ticket group 5.

[2018-08-05 16:58] novellac commented on #492
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-08-05 23:35] novellac opened #494 "Detroit Board of Zoning Appeals"
New spider for Detroit Board of Zoning Appeals (det_zoning_appeals) from https://www.detroitmi.gov/Government/Boards/Board-of-Zoning-Appeals-Meeting

This spider does not have a ticketing group (it was part of Group 2 but that needs to be broken up since different/better sources have been found for some of these spiders).

[2018-08-05 23:35] novellac commented on #494
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-08-06 15:22] novellac opened #496 "Police and Fire Retirement System"
New spider for Detroit Police and Fire Retirement System (det_police_fire_retirement) from http://www.pfrsdetroit.org/Resources/Meetings

This spider is part of ticketing group 7 on the Public Meetings spreadsheet (https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297)

[2018-08-07 19:21] #496 closed, assigned to nobody

[2018-08-08 12:53] novellac opened #499 "Tests failing for det_eight_mile_woodward_corridor_improvement_authority"
@mkrump The status changed from tentative to confirmed, so the tests are failing for this one.

[2018-08-08 13:24] pjsier commented on #494
Closed by #495

[2018-08-08 13:24] #494 closed

[2018-08-08 14:30] novellac opened #500 "Wayne County Election Commission"
New spider for Wayne County Election Commission (wayne_election_commission) from https://www.waynecounty.com/elected/clerk/election-commission.aspx

This spider is is new and does not have a ticketing group. I will try to use the wayne_mixin, in which case it would be part of ticket group 13. If that's not possible, it should be considered its own group.

[2018-08-08 14:30] novellac commented on #500
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-08-08 15:38] #499 closed

[2018-08-08 15:50] mkrump commented on #484
Merged #486. Feel free to reopen if this doesn't resolve the issue.

[2018-08-08 15:50] #484 closed

[2018-08-08 19:18] novellac commented on #500
Was not able to use the wayne mixin, and should be considered its own ticketing group.

[2018-08-08 20:32] novellac opened #503 "Detroit City Council"
New spider for Detroit City Council (det_city_council) from
http://www.detroitmi.gov/Government/City-Council/City-Council-Sessions

These spiders need to be assigned their own ticketing group. They currently take up rows 21-28 on the spiders spreadsheet: https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297

[2018-08-08 20:32] novellac commented on #503
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-08-09 20:22] novellac opened #505 "Detroit Entertainment Commission"
New spider for Detroit Entertainment Commission (det_entertainment_commission) from https://www.detroitsentertainmentcommission.com/services

This spider needs a ticketing group! It was previously part of the mega calendar ticketing group, but there were no events found there.

[2018-08-09 21:17] pjsier commented on #492
Closed by #493

[2018-08-09 21:17] #492 closed

[2018-08-10 17:15] pjsier commented on #500
Closed by #502

[2018-08-10 17:15] #500 closed

[2018-08-10 17:22] #505 closed, assigned to nobody

[2018-08-11 21:12] diaholliday opened #507 "New Spider Request: Chicago Low-Income Housing Trust Fund"
Here's the meeting events page: http://www.chicagotrustfund.org/about-us/upcomingevents/

It currently doesn't show meetings beyond July 2018 but there will be meetings add going forward in the near future

[2018-09-13 21:18] pjsier commented on #503
Closed by #508

[2018-09-13 21:18] #503 closed

[2018-09-13 21:21] #433 closed, assigned to nobody

[2018-09-15 14:58] hancush commented on #418
hey @diaholliday, i don't have write access on the table, but i left a comment – i can take on the Mayor's Bicycle Advisory Council spider.

[2018-10-12 19:12] bonfirefan opened #528 "Pittsburgh City Council Spider"
@RonakDedhia @ishabandi67 are working on Pittsburgh City Council http://pittsburghpa.gov/clerk/council-meetings which uses Legistar: https://pittsburgh.legistar.com/Calendar.aspx
Spider Name: pitt_city_council

The [cook_board](https://github.com/City-Bureau/city-scrapers/blob/8b3e7204cf2207b2a408e65c2179472492878004/city_scrapers/spiders/cook_board.py) spider uses Legistar.

[2018-10-16 02:52] novellac opened #530 "Readme contains some broken links"
File: README.md
Section: "Ready to code with us?"
Subsection: "3. Get started with Installation and Contributing a spider."
Issue: The "Installation" and "Contributing a spider" links are no longer valid.
Side note: Is there somewhere else we can find the old docs? They were really helpful for me when I was on-boarding!

[2018-10-16 03:02] pjsier commented on #530
@novellac thanks for flagging this! I'll make the update. In the meantime, all the previous docs are here https://cityscrapers.org/docs/development/

[2018-10-24 21:19] pjsier opened #536 "Rewrite Detroit City Council scraper"
The city of Detroit recently updated its website, so we'll need to rewrite this scraper. We may be able to generalize the scraper behavior similarly to the [Wayne Commission mixin](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/mixins/wayne_commission.py)

[2018-10-24 21:19] pjsier opened #537 "Rewrite Detroit City Planning Commission scraper"
The city of Detroit recently updated its website, so we'll need to rewrite this scraper. We may be able to generalize the scraper behavior similarly to the [Wayne Commission mixin](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/mixins/wayne_commission.py)

[2018-10-24 21:20] pjsier opened #538 "Rewrite Detroit Police Commissioners scraper"
The city of Detroit recently updated its website, so we'll need to rewrite this scraper. We may be able to generalize the scraper behavior similarly to the [Wayne Commission mixin](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/mixins/wayne_commission.py)

[2018-10-24 21:20] pjsier opened #539 "Rewrite Detroit Zoning Board of Appeals scraper"
The city of Detroit recently updated its website, so we'll need to rewrite this scraper. We may be able to generalize the scraper behavior similarly to the [Wayne Commission mixin](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/mixins/wayne_commission.py)

[2018-10-24 21:21] pjsier opened #540 "Rewrite Detroit Wrecking Contractors Board scraper"
The city of Detroit recently updated its website, so we'll need to rewrite this scraper. We may be able to generalize the scraper behavior similarly to the [Wayne Commission mixin](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/mixins/wayne_commission.py)

[2018-10-24 21:29] novellac commented on #539
Interesting! I'll have a look at it if no one else has already grabbed this one.

[2018-10-24 21:36] pjsier commented on #539
@novellac it's all yours! It looks like this just happened in the past few days, so feel free to reach out if anything interesting comes up. We haven't looked much at the new site at all

[2018-10-26 13:09] pjsier commented on #530
Fixed in 5570423b247c73ec3d082828b967f74f65bc0caf

[2018-10-26 13:09] #530 closed

[2018-10-26 14:09] pjsier commented on #540
Closed by #542

[2018-10-26 14:09] #540 closed

[2018-10-26 15:06] novellac commented on #538
According to the new site [https://www.detroitmi.gov/government/boards/board-police-commissioners] the meetings are routine, and the listed dates are actually for recess. How should we handle this kind of case?

[2018-10-26 15:13] novellac commented on #537
Looks like the old page is down and the new page is [https://www.detroitmi.gov/government/commissions/city-planning-commission/city-planning-commission-meetings]
There are no meetings up yet, but since it looks like they changed CMS maybe they're still in the midst of a data migration. :)

[2018-10-26 15:29] pjsier commented on #538
This one might be worth holding off on to see if more info is migrated too. We have a scraper that handles the once a week case for Chicago Aldermanic ward nights, but I'd be more hesitant to do that here

[2018-10-26 21:36] bonfirefan opened #543 "Spider: City of Pittsburgh Planning Commission"
@dkori @nathanderon Are working on this

City of Pittsburgh Planning Commission
Hearing Notices / Planning Commission http://pittsburghpa.gov/dcp/notices

This is a plain text with event names as ‘p tags’ and details as ‘ul’ //an unordered list
Spider Name: pitt_city_planning
Issue: https://github.com/City-Bureau/city-scrapers/issues/543

[2018-10-26 21:40] nathanderon commented on #543
Correction: @nathanderon, not @nderon

[2018-10-26 22:16] dkori opened #545 "F string requirements results in syntax errors"
Possibly version issue with 3.6 requirement, tried python 3.6.5 and python 3.7.
Example 1:
[code]

Example 2:
[code]

[2018-10-26 22:19] pjsier commented on #545
Should be closed by #544

[2018-10-26 22:19] #545 closed

[2018-10-26 22:37] bonfirefan opened #546 "Create documentation on pipenv setup"
We need to add into our docs the process for setting up the project with pipenv.

@dkori has already done this and will be completing with @ishabandi67 @maitrivasa15 and @bonfirefan

[2018-10-26 22:37] bonfirefan opened #547 "Spider: Urban Redevelopment Authority of Pittsburgh"
Urban Redevelopment Authority of Pittsburgh:
Meetings of the URA Board of Directors are held on the second Thursday of each month at 2 p.m. in the Wherrett Room on the 13th floor at 200 Ross Street, Pittsburgh, PA 15219. https://www.ura.org/pages/board-meeting-notices-agendas-and-minutes
Spider Name: pitt_urbandev

@maitrivasa15 is working on this!

[2018-11-01 13:28] #507 closed

[2018-11-02 23:50] gwenix opened #552 "Spider: Pittsburgh Ethics Board Calendar"
Create a spider for: http://pittsburghpa.gov/ethics-hearing-board/ehb-meetings

[2018-11-02 23:53] gwenix commented on #552
(I think I'm working on this?)

[2018-11-07 16:41] #309 closed

[2018-11-07 16:42] #296 closed

[2018-11-07 16:52] pjsier opened #558 "Spider: Chicago Special Service Area #16 Greektown"
URL: https://www.wcachicago.org/ssa-16
Spider Name: `chi_ssa_16`
Agency Name: Chicago Special Service Area #16 Greektown

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 16:53] pjsier opened #559 "Spider: Chicago Special Service Area #18 North Halsted"
URL: https://northalsted.com/community/
Spider Name: `chi_ssa_18`
Agency Name: Chicago Special Service Area #18 North Halsted

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 16:56] pjsier opened #560 "Spider: Chicago Special Service Area #21 Lincoln Square Ravenswood"
URL: http://www.lincolnsquare.org/SSA-no-21-Commission-meetings
Spider Name: `chi_ssa_21`
Agency Name: Chicago Special Service Area #21 Lincoln Square Ravenswood

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 16:58] pjsier opened #561 "Spider: Chicago Special Service Area #22 Clark St/Andersonville"
URL: http://www.andersonville.org/our-organizations/andersonville-ssa-22/
Spider Name: `chi_ssa_22`
Agency Name: Chicago Special Service Area #22 Clark St/Andersonville

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 16:59] pjsier opened #562 "Spider: Chicago Special Service Area #23 Clark St/Lincoln Park"
URL: visitclarkstreet.com/clark-street-ssa-commission-meetings-pages-182.php
Spider Name: `chi_ssa_23`
Agency Name: Chicago Special Service Area #23 Clark St/Lincoln Park

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:00] pjsier opened #563 "Spider: Chicago Special Service Area #25 Little Village"
URL: http://littlevillagechamber.org/ssa-25/meetings-and-minutes/
Spider Name: `chi_ssa_25`
Agency Name: Chicago Special Service Area #25 Little Village

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:01] pjsier opened #564 "Spider: Chicago Special Service Area #26 Broadway Commercial District"
URL: https://www.edgewater.org/ssa-26/commissionmeetings/
Spider Name: `chi_ssa_26`
Agency Name: Chicago Special Service Area #26 Broadway Commercial District

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:02] pjsier opened #565 "Spider: Chicago Special Service Area #27 Lakeview West"
URL: https://www.lakeviewchamber.com/ssa27
Spider Name: `chi_ssa_27`
Agency Name: Chicago Special Service Area #27 Lakeview West

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:03] pjsier opened #566 "Spider: Chicago Special Service Area #31 Greater Ravenswood"
URL: http://ravenswoodchicago.org/ssa-31-commission-meetings/
Spider Name: `chi_ssa_31`
Agency Name: Chicago Special Service Area #31 Greater Ravenswood

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:04] pjsier opened #567 "Spider: Chicago Special Service Area #34 Uptown"
URL: https://exploreuptown.org/ssa/
Spider Name: `chi_ssa_34`
Agency Name: Chicago Special Service Area #34 Uptown

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:05] pjsier opened #568 "Spider: Chicago Special Service Area #35 Lincoln Ave"
URL: https://www.lincolnparkchamber.com/businesses/special-service-areas/lincoln-avenue-ssa/ssa-administration/
Spider Name: `chi_ssa_35`
Agency Name: Chicago Special Service Area #35 Lincoln Ave

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:06] pjsier opened #569 "Spider: Chicago Special Service Area #48 Old Town"
URL: https://oldtownchicago.org/ssa-48/
Spider Name: `chi_ssa_48`
Agency Name: Chicago Special Service Area #48 Old Town

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:07] pjsier opened #570 "Spider: Chicago Special Service Area #73 Chinatown"
URL: https://chinatownssa73.org/meeting-schedule/
Spider Name: `chi_ssa_73`
Agency Name: Chicago Special Service Area #73 Chinatown

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:08] pjsier opened #571 "Spider: Chicago Special Service Area #2 Belmont/Central"
URL: http://belmontcentral.org/about-ssa-2/ssa2-meeting-minutes-audit/
Spider Name: `chi_ssa_2`
Agency Name: Chicago Special Service Area #2 Belmont/Central

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:09] pjsier opened #572 "Spider: Chicago Special Service Area #38 Northcenter"
URL: http://www.northcenterchamber.com/pages/MeetingsTransparency1
Spider Name: `chi_ssa_38`
Agency Name: Chicago Special Service Area #38 Northcenter

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:10] pjsier opened #573 "Spider: Chicago Special Service Area #51 Chatham"
URL: http://www.cbatechworks.org/
Spider Name: `chi_ssa_51`
Agency Name: Chicago Special Service Area #51 Chatham

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:12] pjsier opened #574 "Spider: Chicago Special Service Area #52 51st Street"
URL: https://www.51ststreetchicago.com/about.html
Spider Name: `chi_ssa_52`
Agency Name: Chicago Special Service Area #52 51st Street

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 17:13] pjsier opened #575 "Spider: Chicago Special Service Area #60 Albany Park"
URL: https://northrivercommission.org/events/
Spider Name: `chi_ssa_60`
Agency Name: Chicago Special Service Area #60 Albany Park

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-11-07 18:04] MrDiggles2 commented on #560
@pjsier - Hi! I'm interested in taking up this work.

[2018-11-07 18:07] pjsier commented on #560
@MrDiggles2 great! Feel free to reach out with any questions here or on our Slack (you can join by filling out [this form](https://airtable.com/shrsdRcYVzp019U22) if you aren't in it now)

[2018-11-09 22:56] bonfirefan commented on #528
This covers the following:
<li class="rcbItem">City Council</li><li class="rcbItem">Committee on Finance and Law </li><li class="rcbItem">Committee on Hearings </li><li class="rcbItem">Committee on Human Resources </li><li class="rcbItem">Committee on Intergovernmental Affairs</li><li class="rcbItem">Committee on Land Use and Economic Development</li><li class="rcbItem">Committee on Public Safety

[2018-11-09 23:23] bonfirefan opened #576 "Spider: Housing Authority of the City of Pittsburgh"
Housing Authority of the City of Pittsburgh
hacp.org, http://www.hacp.org/public-information/board-info
Spider name: pitt_housing

This is particularly relevant given the [housing summit this weekend in Pittsburgh.](housingsummitpgh.org)

[2018-11-10 00:44] bonfirefan commented on #543
According to the [Pittsburgh Planning Commission](http://apps.pittsburghpa.gov/dcp/Planning_Commission.pdf), meetings:

[2018-11-13 17:31] bonfirefan opened #578 "Spider: Allegheny County Council"
Allegheny County: This spider uses Legistar, meaning we will use the Legistar API. Please template it using the [cook_board spider](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/cook_board.py).

spider name: alle_city
https://alleghenycounty.legistar.com/Calendar.aspx

Covers the following:

<ul class="rcbList" style="list-style:none;margin:0;padding:0;zoom:1;"><li

[2018-11-13 17:33] bonfirefan commented on #578
@thoo is working on this

[2018-11-14 02:56] pjsier commented on #576
Closed by #579

[2018-11-14 19:52] dpimpinella commented on #578
Just to avoid any confusion, @thoo and @bonfirefan, I mistakenly referenced this issue in my PR for another issue, so please ignore that. I have not done any work on this specific issue. Thanks!

[2018-11-14 19:56] thoo commented on #578
@dpimpinella np. It happens all the time. :)

[2018-11-15 16:09] thoo commented on #578
I don't see csv file at `local_outputs`. I can see all the parsed text in CLI.

[2018-11-15 18:00] pjsier commented on #578
@thoo right now the local output pipeline is commented out here: https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/settings/base.py#L30

You can try re-enabling it, but I think it may not be working as of now due to some of our schema updates

[2018-11-15 21:22] thoo commented on #578
@pjsier Thanks. It is still working.

[2018-11-15 21:33] pjsier commented on #578
@thoo thanks for catching that! It sounds like we just need to update the version of `twisted`? Feel free to open an issue for that. If it is just a version issue the best way to address it would be to use `pipenv` to update the `Pipfile` to allow for Python 3.5-3.7, specify `twisted` as its own dependency, and then update the `requirements.txt` from `pipenv lock -r`

[2018-11-15 23:49] thoo commented on #578
@pjsier Sure. I will open PR.

[2018-11-16 15:24] pjsier opened #581 "Remove invoke"
`invoke` has been causing compatibility issues, and since it isn't used heavily we should be able to just convert it to regular Python scripts

[2018-11-16 15:25] pjsier opened #582 "Pull agendas and minutes wherever available"
Some spiders aren't pulling documents where they're available on the site, and we should be pulling any documents we find, especially older minutes

- [x] `chi_library`
- [ ] `chi_schools`
- [x] `cook_water`
- [ ] `det_general_retirement_system`
- [x] `det_library_commission`

Archived data that can be pulled (but not through a scraper because dates and/or times aren't provided):

- [ ] `chi_anima

[2018-11-16 15:26] pjsier opened #583 "Update documentation"
Some items in the documentation are out of date, or could have additional clarity

* Naming conventions for meetings
* Criteria for descriptions

Will update with additional items

[2018-11-16 15:27] pjsier opened #584 "Improve linting"
The current `flake8` settings are pretty flexible, and the setup will be a lot more maintainable if we can clean that up

[2018-11-16 16:16] thoo commented on #578
@pjsier Sure go ahead. I haven't started yet. For python 3.7, I have to install `twisted` from `pip install git+https://github.com/twisted/twisted `. As you know, python3.7 introduces `asyncio` and `async/await` is used and `twisted` has a variable name (`async`). The github master for `twisted` is already updated even though it is not released yet.

[2018-11-16 21:11] #578 closed

[2018-11-17 00:54] dpimpinella opened #586 "Spider: Pittsburgh Zoning Board of Adjustment"
Pittsburgh's Zoning Board of Adjustment

URL: http://pittsburghpa.gov/dcp/zba-schedule
Spider name: pitt_zoning
Agency name: Zoning Board of Adjustment

[2018-11-17 01:01] dpimpinella opened #587 "Spider: Pittsburgh Department of Mobility and Infrastructure"
Pittsburgh Department of Mobility and Infrastructure

URL: http://pittsburghpa.gov/domi/index.html
Spider name: pitt_mobility_infra
Agency Name: Pittsburgh Department of Mobility and Infrastructure

[2018-11-17 01:05] dpimpinella opened #588 "Spider: Allegheny County Airport Authority"
URL: http://www.flypittsburgh.com/about-us/leadership
Spider name: alle_airport_authority
Agency name: Allegheny County Airport Authority

[2018-11-17 01:10] jasonbaik94 opened #589 "Spider: Housing Opportunity Fund Advisory Board Pittsburgh"
https://www.ura.org/events/housing-opportunity-fund-advisory-board-meeting
Spider: pitt_housing_opp

[2018-11-17 01:10] jasonbaik94 commented on #589
I'm working this

[2018-11-17 01:11] dpimpinella opened #590 "Spider: Allegheny League of Municipalities"
URL: http://alleghenyleague.org/
Spider name: alle_league_of_municipalities
Agency name: Allegheny League of Municipalities

[2018-11-17 01:14] dpimpinella opened #591 "Spider: Allegheny Regional Asset District"
URL: https://radworkshere.org/pages/whats-happening?cal=board-meetings
Spider name: alle_asset_district
Agency name: Allegheny Regional Asset District

[2018-11-17 01:16] dpimpinella opened #592 "Spider: Allegheny County Sanitary Authority (ALCOSAN)"
URL: http://www.alcosan.org/BoardofDirectors/2015MeetingSchedule/tabid/195/Default.aspx
Spider name: alle_sanitary
Agency name: Allegheny County Sanitary Authority

[2018-11-17 01:18] dpimpinella opened #593 "Spider: The Pittsburgh Water and Sewer Authority Board"
URL: http://www.pgh2o.com/board
Spider name: pitt_water
Agency name: The Pittsburgh Water and Sewer Authority Board

[2018-11-17 01:20] dpimpinella opened #594 "Spider: Sports and Exhibition Authority"
URL: http://www.pgh-sea.com/schedule_sea.aspx?yr=2018
Spider name: pitt_sports
Agency name: Sports and Exhibition Authority

[2018-11-17 01:31] dpimpinella opened #595 "Spider: Allegheny County Housing Authority"
URL: http://www.achsng.com/
Spider name: alle_housing
Agency name:  Allegheny County Housing Authority

[2018-11-17 02:17] ben-nathanson commented on #593
I'm working on this issue

[2018-11-17 02:49] pjsier commented on #584
Closed by #585

[2018-11-17 02:49] #584 closed

[2018-11-17 02:50] pjsier commented on #583
Closed by #585

[2018-11-17 02:50] #583 closed

[2018-11-17 02:50] pjsier commented on #581
Closed by #585

[2018-11-17 02:50] #581 closed

[2018-11-17 03:58] thoo commented on #590
I am working on this.

[2018-11-19 16:40] dpimpinella opened #597 "Spider: Allegheny County Finance and Development Commission"
URL: http://www.county.allegheny.pa.us/economic-development/authorities/meetings-reports/fdc/meetings.aspx
Spider name: alle_finance_dev
Agency name: Allegheny County Finance and Development Commission

Currently, the Finance and Development Commission (FDC) meetings include the meetings for all of the following organizations:

Higher Education Building Authority (HEBA)
Hospital Development Author

[2018-11-19 16:42] dpimpinella opened #598 "Spider: Allegheny County Authority for Improvements in Municipalities"
URL: http://www.county.allegheny.pa.us/economic-development/authorities/meetings-reports/aim/meetings.aspx
Spider name: alle_improvements
Agency name: Authority for Improvements in Municipalities

[2018-11-19 16:44] dpimpinella opened #599 "Spider: Partner4Work Board of Directors"
URL: https://www.partner4work.org/about/board-meetings
Spider name: pitt _partner4work
Agency name: Partner4Work

[2018-11-19 16:46] dpimpinella opened #600 "Spider: Port Authority of Allegheny County"
URL: https://www.portauthority.org/paac/CompanyInfoProjects/BoardofDirectors/MeetingAgendasResolutions.aspx
Spider name: alle_port_authority
Agency name: Port Authority of Allegheny County

[2018-11-19 16:48] dpimpinella opened #601 "Spider: Redevelopment Authority of Allegheny County"
URL: https://www.alleghenycounty.us/economic-development/authorities/meetings-reports/raac/meetings.aspx
Spider name: alle_redevelopment_authority
Agency name: Redevelopment Authority of Allegheny County

[2018-11-19 16:56] dpimpinella opened #602 "Spider: Board of Property Assessments and Appeals Review"
URL: http://www.county.allegheny.pa.us/real-estate/assessment-appeals/bpaar.aspx
Spider name: alle_property_assessment
Agency name: Allegheny County Board of Property Assessments and Appeals Review

[2018-11-19 17:06] dpimpinella opened #603 "Spider: Allegheny County Council"
URL: https://www.alleghenycounty.us/county-council/council-meetings.aspx
Spider name: alle_county_council
Agency name: Allegheny County Council

[2018-11-20 22:06] lilianhj commented on #574
I'm working on this!

[2018-11-21 02:34] pjsier opened #604 "Chicago Board of Election Commissioners"
URL: https://chicagoelections.com/en/board-meetings.html
Spider name: `chi_board_elections`
Agency name: Chicago Board of Election Commissioners

The current month's meeting can be pulled from the page, the past times aren't regular, but we might be able to pull minutes/video from the archive page https://chicagoelections.com/en/meeting-minutes-and-videos.html

[2018-11-21 07:14] thoo commented on #600
I am working on this one.

[2018-11-24 15:14] pjsier commented on #604
@zarifmahmud yep, it's all yours! Feel free to reach out with any questions

[2018-11-25 17:29] zarifmahmud commented on #604
Could you add me to to Slack? I have some questions about the City Scrapers specifications.

[2018-11-29 18:00] pjsier opened #612 "Spider: Cook County Commission on Social Innovation"
URL: http://www.cookcountymission.com/meetings.html
Spider Name: `cook_social_innovation`
Agency Name: Cook County Government
Meeting Name: Commission on Social Innovation

See the contribution guide for information on how to get started

[2018-12-01 19:38] danielahuang commented on #569
Hi I'm interested in working on this spider

[2018-12-01 22:00] pjsier commented on #569
It’s all yours, feel free to reach out with questions here or on slack!

[2018-12-08 00:19] jondyer commented on #601
I'm on it!

[2018-12-08 00:39] wingroove commented on #587
I am interested in taking this on!

[2018-12-08 00:42] pwprosap opened #613 "Installation Error - ModuleNotFoundError: No module named 'twisted'"
Full error text when trying to run a test scraper after installing pipenv:
[code]
In order to resolve this error, you will need to run the "pip run twisted" command from your folder where you cloned the Git repository into.

[2018-12-08 00:46] guesschess commented on #601
I will work on this.

[2018-12-08 00:50] pjsier commented on #613
Thanks for the report! Not sure I'm following the steps to reproduce, and I'm not able to replicate this locally with a fresh install using Python 3.5 and macOS.

Here are the commands I ran:
[code]

Did you see any output from `pipenv install` indicating any libraries failing to install?

[2018-12-08 00:55] pwprosap commented on #613
I am installing on Windows not on a Mac. Currently working here in
Pittsburgh with Bonnie Fan. Unfortunately I had to restart my Git Bash
window so lost the potential error messages I ran into. I additionally had
to install win32api on my computer to finish things off.

On Fri, Dec 7, 2018 at 7:50 PM Patrick Sier <notifications@github.com>
wrote:

[2018-12-08 00:59] pwprosap commented on #603
I will look to take on this Spider and work on it over the holiday break. I will also look for potential other sites that might house this info.

[2018-12-08 01:22] pwprosap commented on #603
After speaking with Bonnie we found a good Legistar website for this spider. I will be using the following URL for this spider instead of the one in the original post:
URL: [https://alleghenycounty.legistar.com/Calendar.aspx](https://alleghenycounty.legistar.com/Calendar.aspx)

[2018-12-09 15:06] #560 closed

[2018-12-13 22:16] #563 closed

[2018-12-14 18:59] pjsier opened #624 "Spider: Chicago Housing Authority"
URL: http://www.thecha.org/about/board-meetings-agendas-and-resolutions
Spider Name: `chi_housing_authority`
Agency Name: Chicago Housing Authority
Meeting Name: Board of Commissioners

See the contribution guide for information on how to get started

[2018-12-14 23:54] bonfirefan commented on #546
@pjsier this is perfect, thanks. I'm going to close this out

[2018-12-14 23:54] #546 closed

[2018-12-15 01:03] bonfirefan opened #625 "Spider: PA Department of Community & Economic Development"
URL: https://dced.pa.gov/events/
Agency: Department of Community & Economic Development
Spider name: pa_development

[2018-12-15 01:04] jackycute commented on #624
I'm working on this one.

https://www.thecha.org/about/board-meetings-agendas-and-resolutions/board-information-and-meetings

[2018-12-15 01:10] toddkaufmann commented on #588
Starting...

[2018-12-15 01:47] bruceadams commented on #598
I recommend using the HTTPS site: https://alleghenycounty.us/economic-development/authorities/meetings-reports/aim/meetings.aspx

[2018-12-15 01:52] pjsier commented on #624
Thanks for the interest @jackycute! I actually assigned this one to myself already because there are some quirks that we’ve been working through, but let me know if you’re looking for other Chicago scrapers

[2018-12-15 02:47] jackycute commented on #624
Nice to meet you guys tonight!
Let me know if there's anything I can help.
Also, people can try to use https://hackmd.io for documentation.

[2018-12-15 18:01] #624 closed

[2018-12-18 04:20] bonfirefan commented on #599
It looks like the most recently posted meeting was in 2017. Bruce has an email out asking for clarification on their meetings.

[2018-12-18 04:38] bonfirefan commented on #603
@pwprosap bad news, it looks like this was already closed in #580 by @thoo! It looks like it got re-added in our round 2 of issue opening. I suggest you work on #597 or another open issue.

[2018-12-18 04:38] #603 closed

[2018-12-18 04:45] bonfirefan commented on #576
It looks like they have changed their URL to http://www.hacp.org/public-information/board-info
The http://www.hacp.org/public-information/board-info URL now throws a 404 error. Does someone want to modify the existing pitt_housing spider that @dpimpinella created? @dpimpinella you get first dibs, of course.

[2018-12-18 15:57] dpimpinella commented on #576
@bonfirefan I'll take care of this one!

[2018-12-18 16:51] pjsier opened #633 "cook_electoral duplicating cook_board"
It looks like the documents pulled by the `cook_electoral` scraper are the same as those for `cook_board`, so we should look into whether there is another place for finding `cook_electoral` meetings. It looks like the most recent is at least included on this page https://www.cookcountyclerk.com/service/electoral-board

[2018-12-19 18:34] #633 closed

[2018-12-20 15:43] pjsier commented on #604
Closed by #608

[2018-12-20 15:43] #604 closed

[2018-12-20 20:04] pjsier opened #639 "Spider: Illinois Gaming Board"
URL: http://www.igb.illinois.gov/MeetingsMinutes.aspx
Spider Name: `il_gaming`
Agency Name: Illinois Gaming Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2018-12-21 16:09] zarifmahmud commented on #572
Could I try this one?

[2018-12-21 16:10] pjsier commented on #572
It's all yours!

[2018-12-28 00:07] #537 closed

[2018-12-28 00:07] #539 closed

[2019-01-02 19:31] dpimpinella commented on #576
@bonfirefan I won't be able to complete this within a reasonable time frame, so i'm putting it back up for grabs.

[2019-01-02 23:55] ben-nathanson commented on #592
I'm working on this!

[2019-01-12 01:42] agurtovoy opened #654 "Spider: Iowa City City Council"
I started working on the [Iowa City City Council](https://www.icgov.org/city-government/departments-and-divisions/city-council) meetings scrapper, and thought I'd create an issue to document this.

(Also, I need an issue number to follow the recommended branch name pattern :)

[2019-01-15 18:31] pjsier opened #656 "Pull Board of Ethics in cook_county scraper"
Most of the events in the calendar used in the `cook_county` scraper are duplicated from `cook_board`, so we're applying a filter for only the events classified as forums. This is leaving out Board of Ethics events, so we'll need to find out a way of including these, but ignoring everything else that isn't a forum

[2019-01-26 01:03] bonfirefan opened #662 "new spider: PA Liquor Control Board"
Spider Name: pa_liquorboard
Website: https://www.lcb.pa.gov/About-Us/Board/Pages/Public-Meetings.aspx

[2019-02-02 14:39] pjsier opened #664 "Spider: Illinois Medical District Commission"
URL: http://medicaldistrict.org/commission/
Spider Name: `chi_il_medical_district`
Agency Name: Illinois Medical District Commission

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-02 14:55] pjsier commented on #662
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/24

[2019-02-02 14:55] #662 closed

[2019-02-02 14:56] pjsier commented on #625
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/23

[2019-02-02 14:56] #625 closed

[2019-02-02 14:56] pjsier commented on #602
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/22

[2019-02-02 14:56] #602 closed

[2019-02-02 14:56] pjsier commented on #601
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/21

[2019-02-02 14:56] #601 closed

[2019-02-02 14:56] pjsier commented on #599
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/20

[2019-02-02 14:56] #599 closed

[2019-02-02 14:57] pjsier commented on #598
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/19

[2019-02-02 14:57] #598 closed

[2019-02-02 14:57] pjsier commented on #597
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/18

[2019-02-02 14:57] #597 closed

[2019-02-02 14:57] pjsier commented on #595
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/17

[2019-02-02 14:57] #595 closed

[2019-02-02 14:57] pjsier commented on #594
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/16

[2019-02-02 14:57] #594 closed

[2019-02-02 14:57] pjsier commented on #593
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/15

[2019-02-02 14:57] #593 closed

[2019-02-02 14:58] pjsier commented on #592
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/14

[2019-02-02 14:58] #592 closed

[2019-02-02 14:58] pjsier commented on #591
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/13

[2019-02-02 14:58] #591 closed

[2019-02-02 14:58] pjsier commented on #590
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/12

[2019-02-02 14:58] #590 closed

[2019-02-02 14:59] pjsier commented on #589
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/11

[2019-02-02 14:59] #589 closed

[2019-02-02 14:59] pjsier commented on #588
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/10

[2019-02-02 14:59] #588 closed

[2019-02-02 14:59] pjsier commented on #587
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/9

[2019-02-02 14:59] #587 closed

[2019-02-02 14:59] pjsier commented on #586
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/8

[2019-02-02 14:59] #586 closed

[2019-02-02 14:59] pjsier commented on #576
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/7

[2019-02-02 14:59] #576 closed

[2019-02-02 14:59] pjsier commented on #552
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/6

[2019-02-02 14:59] #552 closed

[2019-02-02 15:00] pjsier commented on #547
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/5

[2019-02-02 15:00] #547 closed

[2019-02-02 15:00] pjsier commented on #543
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/4

[2019-02-02 15:00] #543 closed

[2019-02-02 15:00] pjsier commented on #528
Moved to https://github.com/bonfirefan/city-scrapers-pitt/issues/3

[2019-02-02 15:00] #528 closed

[2019-02-02 15:02] #418 closed

[2019-02-02 15:02] pjsier commented on #334
Updated with the `city-scrapers-core` package and pipelines

[2019-02-02 15:02] #334 closed

[2019-02-02 15:04] pjsier commented on #164
The https://github.com/City-Bureau/city-scrapers-template repo as well as namespacing the scraper names is an attempt to do this. This hasn't been active in a while, so I'll close it unless this seems insufficient

[2019-02-02 15:04] #164 closed

[2019-02-02 15:04] pjsier commented on #24
Done in https://github.com/City-Bureau/city-scrapers-core

[2019-02-02 15:04] #24 closed

[2019-02-02 15:05] pjsier commented on #2
Moved to an approach based in static files with Documenters.org as the database backend. Closing

[2019-02-02 15:05] #2 closed

[2019-02-02 15:09] pjsier commented on #25
Done in https://github.com/City-Bureau/city-scrapers-core

[2019-02-02 15:09] #25 closed

[2019-02-02 15:11] pjsier commented on #613
It sounds like Windows installation issues were addressed, and workarounds documented in bf1a2c442eb7371c72e62a9a6994d948da960391. Closing

[2019-02-02 15:11] #613 closed

[2019-02-03 19:35] pjsier opened #666 "Spider: Chicago Firemen's Annuity and Benefit Fund Retirement Board"
URL: http://www.fabf.org/Meetings.html
Spider Name: `chi_fire_benefit_fund`
Agency Name: Chicago Firemen's Annuity and Benefit Fund

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:40] pjsier opened #667 "Spider: Laborers' & Retirement Board Employees' Annuity & Benefit Fund"
URL: http://www.labfchicago.org/agendas-minutes/
Spider Name: `chi_labor_retirement_fund`
Agency Name: Laborers' & Retirement Board Employees' Annuity & Benefit Fund

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:43] pjsier opened #668 "Spider: Chicago Metropolitan Pier and Exposition Authority"
URL: http://www.mpea.com/mpea-board-members/
Spider Name: `chi_metro_pier_exposition`
Agency Name: Chicago Metropolitan Pier and Exposition Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:45] pjsier opened #669 "Spider: Chicago Metropolitan Agency for Planning"
URL: https://www.cmap.illinois.gov/events
Spider Name: `chi_metro_planning`
Agency Name: Chicago Metropolitan Agency for Planning

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:46] pjsier opened #670 "Spider: Chicago Midway Noise Compatibility Commission"
URL: https://www.flychicago.com/community/MDWnoise/AdditionalResources/pages/default.aspx
Spider Name: `chi_midway_noise`
Agency Name: Chicago Midway Noise Compatibility Commission

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:48] pjsier opened #671 "Spider: Municipal Employees' Annuity and Benefit Fund of Chicago"
URL: https://www.meabf.org/retirement-board/minutes
Spider Name: `chi_municipal_retirement`
Agency Name: Municipal Employees' Annuity and Benefit Fund of Chicago

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:50] pjsier opened #672 "Spider: Chicago Northwest Home Equity Assurance Program"
URL: https://nwheap.com/category/meet-minutes-and-agendas/
Spider Name: `chi_northwest_home_equity`
Agency Name: Chicago Northwest Home Equity Assurance Program

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:51] pjsier opened #673 "Spider: Chicago O'Hare Noise Compatibility Commission"
URL: https://www.oharenoise.org/about-oncc/oncc-meetings/month.calendar/2019/02/03/-
Spider Name: `chi_ohare_noise`
Agency Name: Chicago O'Hare Noise Compatibility Commission

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:53] pjsier opened #674 "Spider: Policemen's Annuity and Benefit Fund of Chicago"
URL: http://www.chipabf.org/ChicagoPolicePension/MonthlyMeetings.html
Spider Name: `chi_police_retirement`
Agency Name: Policemen's Annuity and Benefit Fund of Chicago

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:57] pjsier opened #675 "Spider: Illinois International Port District"
URLs:

- Minutes: https://www.iipd.com/about/board-meeting-minutes
- Agendas: https://www.iipd.com/calendar/agendas
- Schedule: https://www.iipd.com/calendar/schedules

Spider Name: `il_port_district`
Agency Name: Illinois International Port District

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 19:58] pjsier opened #676 "Spider: Chicago Southwest Home Equity Commission I"
URL: https://swhomeequity.com/agenda-%26-minutes
Spider Name: `chi_southwest_home_equity_i`
Agency Name: Chicago Southwest Home Equity Commission I

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 20:06] pjsier opened #677 "Spider: Cook County Medical Examiner's Advisory Committee"
URL: https://www.cookcountyil.gov/service/medical-examiners-advisory-committee
Spider Name: `cook_medical_examiner`
Agency Name: Cook County Medical Examiner

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 20:08] pjsier opened #678 "Spider: Pace Suburban Bus Services"
URL: http://www.pacebus.com/sub/news_events/calendar_of_events.asp
Spider Name: `cook_pace_board`
Agency Name: Pace Suburban Bus Services

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 20:10] pjsier opened #679 "Spider: Chicago Cook Workforce Partnership"
URL: http://www.workforceboard.org/events-calendar/
Spider Name: `cook_workforce`
Agency Name: Chicago Cook Workforce Partnership

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 20:12] pjsier opened #680 "Spider: Illinois Aging Advisory Council"
URL: https://www2.illinois.gov/aging/PartnersProviders/OlderAdult/Pages/acmeetings.aspx
Spider Name: `il_aging_advisory_council`
Agency Name: Illinois Aging Advisory Council

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-03 20:14] pjsier opened #681 "Spider: Illinois Sports Facilities Authority"
URL: https://www.isfauthority.com/governance/board-meetings/
Spider Name: `il_sports_facilities_authority`
Agency Name: Illinois Sports Facilities Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-06 01:47] jayqi commented on #678
Going to try taking on this one!

[2019-02-07 20:54] skorasaurus opened #683 "RSS link on city-scrapers site is a 404"
Not sure if it's the right place to make, but the RSS Feed link on the website is dead.

(currently goes to https://cityscrapers.org/feed.xml) is a 404

[2019-02-07 22:02] pjsier commented on #683
Thanks for catching this! It looks like RSS is one of the default footer links in the Jekyll theme we’re using so we should disable it

[2019-02-08 14:52] #683 closed

[2019-02-08 17:47] jamesarnall commented on #681
If unclaimed, I'll take this one on. Let me know if there's anything special about this particular site I need to know.

[2019-02-08 17:50] pjsier commented on #681
It's all yours! The start times of past meetings aren't listed so it's probably safest to default to 10AM from a quick look, but otherwise it seems pretty straightforward

[2019-02-11 02:54] sfmajors373 commented on #667
I'm going to try to work on this one.

[2019-02-23 02:22] #536 closed

[2019-02-23 02:22] pjsier commented on #538
Closed by #688

[2019-02-23 02:22] #538 closed

[2019-02-27 02:30] pjsier opened #692 "Spider: Illinois Medicaid Advisory Committee"
URL: https://www.illinois.gov/hfs/About/BoardsandCommisions/MAC/Pages/MeetingSchedule.aspx
Spider Name: `il_medicaid`
Advisory: Illinois Medicaid Advisory Committee

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-02-27 15:23] kiwisquash commented on #692
Hi. I would like to give this a shot.

[2019-02-27 15:53] pjsier commented on #692
@kiwisquash sounds great! Feel free to reach out here or on Slack if you have questions, and open a WIP PR when you've made some progress

[2019-03-01 22:45] kiwisquash commented on #692
Hi @pjsier. I just wanted to let you know that I am actively working on this--I'm trying to get familiar with scrapy, and I am also looking at spiders written by other folks to get myself oriented.

I should have something within the next few days.

[2019-03-07 20:48] pjsier opened #698 "Spider: Detroit Promise Zone Authority"
URL: https://detroitmi.gov/Calendar-and-Events
Spider Name: `det_promise_zone`
Agency Name: Detroit Promise Zone Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This scraper is part of the general Detroit website which does a good job standardizing meeting information so most of the work is done for you in [`DetC

[2019-03-07 20:51] pjsier opened #699 "Spider: Detroit Human Rights Commission"
URL: https://detroitmi.gov/Calendar-and-Events
Spider Name: `det_human_rights`
Agency Name: Detroit Human Rights Commission

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This scraper is part of the general Detroit website which does a good job standardizing meeting information so most of the work is done for you in [`Det

[2019-03-07 20:53] pjsier opened #700 "Spider: Detroit Historic District Commission"
URL: https://detroitmi.gov/Calendar-and-Events
Spider Name: `det_historic_district`
Agency Name: Detroit Historic District Commission

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This scraper is part of the general Detroit website which does a good job standardizing meeting information so most of the work is done for yo

[2019-03-14 21:22] Anphisa commented on #677
@pjsier I would like to try this one. Is it still open? It would be my first open source contribution, so I might need some guidance.

[2019-03-14 21:31] pjsier commented on #677
@Anphisa it's all yours! You can reach out here or on Slack if you have any other questions.

[2019-03-15 10:42] Anphisa commented on #677
Will do! Thank you!

[2019-03-16 16:22] #678 closed

[2019-03-17 20:33] cascio commented on #700
Currently working on this one, should have a PR up soon!

[2019-03-17 21:57] cascio commented on #700
I think I got it, @pjsier, please review.

One question: [`det_city_planning`](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/det_city_planning.py) and [`det_zoning_appeals`](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/det_zoning_appeals.py) do not include the `agency_cal_id` in the `agency_doc_id` list although the `agency_cal_id`

[2019-03-17 22:11] pjsier commented on #677
Closed by #705

[2019-03-17 22:11] #677 closed

[2019-03-17 22:13] pjsier commented on #700
@cascio taking a look now. For the `agency_cal_id` question, I was mostly going off of what seemed to have relevant documents (primarily agendas and minutes) for the agencies. I'd have to check again to be sure, but from what I remember those IDs were options but didn't seem to return anything. I think if it seems to be returning helpful documents it doesn't hurt to include it there

[2019-03-17 22:21] pjsier commented on #700
Closed by #706, it looks like it's pulling the right documents

[2019-03-17 22:21] #700 closed

[2019-03-17 22:31] cascio commented on #700
Thanks for the merge, @pjsier. On this point...

...I think [`det_city_planning`](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/det_city_planning.py) and [`det_zoning_appeals`](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/det_zoning_appeals.py) can be updated to include more `agency_doc_id`s. For example, the base ["City Planning C

[2019-03-17 22:47] pjsier commented on #700
The only documents that get associated to meetings with the current Detroit setup are ones with dates corresponding to meetings in the title, so I think we should be good for now, but thanks for taking a closer look at that @cascio

[2019-03-18 18:46] cascio commented on #699
I'm going to start working on this one.

[2019-03-18 21:10] pjsier commented on #699
Closed by #709

[2019-03-18 21:10] #699 closed

[2019-03-18 21:41] cascio opened #710 "Spider: Detroit Board of Ethics"
URL: [https://detroitmi.gov/Calendar-and-Events](https://detroitmi.gov/Calendar-and-Events)
Spider Name: `det_boardofethics`
Agency Name: Detroit Board of Ethics

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This scraper is part of the general Detroit website which does a good job standardizing meeting information so mos

[2019-03-20 00:35] dannguyen commented on #669
Think I'll give this a try

[2019-03-20 00:59] allenjhuang commented on #680
On it!

[2019-04-05 03:14] mattpair commented on #676
Hi, just cloned the repo. I'm going to make a branch for this spider

[2019-04-05 03:34] mattpair commented on #676
@pjsier looks like most info besides the date is contained in a pdf. Let's discuss how to proceed but since this is my first, I think I'll start work on a more straightforward one.

[2019-04-05 12:47] pjsier commented on #676
@mattpair that approach makes sense to me, let me know if you need any help finding a clearer spider to work on but we have a good amount available

[2019-04-07 03:51] wtkwon commented on #698
If this is unclaimed. I would like to work on it.

[2019-04-07 14:58] pjsier commented on #698
@wtkwon all yours!

[2019-04-08 03:58] mattpair commented on #674
Hi, I am working on this one.

[2019-04-09 02:43] iandbell commented on #710
I'd like to work on this if I may.

[2019-04-09 12:29] pjsier commented on #710
@iandbell sounds good, feel free to reach out with questions!

[2019-04-13 20:16] #664 closed

[2019-04-15 14:10] pjsier opened #717 "Spider: Chicago Infrastructure Trust"
URL: http://chicagoinfrastructure.org/public-records/scheduled-meetings/
Document URL: http://chicagoinfrastructure.org/public-records/meeting-records-2/
Spider Name: `chi_infrastructure_trust`
Agency Name: Chicago Infrastructure Trust

The times aren't provided, so it's fine to default to midnight here. The main thing we're interested in is the next upcoming meeting and the past documents

See th

[2019-04-15 14:16] pjsier opened #718 "Spider: Chicago State University"
URL: https://www.csu.edu/boardoftrustees/dates.htm
Spider Name: `chi_state_university`
Agency Name: Chicago State University

Meeting title can always be "Board of Trustees" (unless there are committees). We also want to scrape the agendas, minutes, and transcripts here if possible

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get st

[2019-04-15 15:17] pjsier opened #719 "Spider: Illinois Opioid Crisis Response Advisory Council"
URL: https://www.dhs.state.il.us/page.aspx?item=97186
Links URL: https://www.dhs.state.il.us/page.aspx?item=104682
Spider Name: `il_opioid_response`
Agency Name: Illinois Opioid Crisis Response Advisory Council

It's important that we pull the URLs here, and it's safe to assume that the time and location are constant

See the [contribution guide](https://cityscrapers.org/docs/development/#contribu

[2019-04-15 21:06] pjsier commented on #667
Closed by #686

[2019-04-15 21:06] #667 closed

[2019-04-15 21:49] #668 closed

[2019-04-16 15:59] channiemills commented on #719
Hi @pjsier - I'd like to contribute and will take a look at this issue.

[2019-04-16 16:43] pjsier commented on #719
@channiemills sounds great!

[2019-04-16 21:57] nbearman commented on #710
Hello,
I'm also giving this a try, if that's alright (for educational purposes; definitely not trying to step on any toes).

I ran into a problem I believe is with the Detroit City Mixin (mixins/det_city.py, around line 207) where an improperly handled date format ("Aug" instead of "August") was causing errors. Would it be outside the scope of this issue to address the problem by changing the Detr

[2019-04-16 22:06] pjsier commented on #710
@nbearman if you’re interested in working on the mixin, the Detroit Department of Transportation is another agency that would use it that I haven’t created an issue for yet. Would that work? Feel free to make an issue like this if it does! I can also make the issue for you

[2019-04-16 22:58] pjsier opened #721 "Spider: Detroit Department of Transportation"
URL: [https://detroitmi.gov/Calendar-and-Events](https://detroitmi.gov/Calendar-and-Events)
Spider Name: `det_transportation`
Agency Name: Detroit Department of Transportation

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This scraper is part of the general Detroit website which does a good job standardizing meeting info

[2019-04-17 17:14] #671 closed

[2019-04-17 17:25] #582 closed

[2019-04-17 17:26] #440 closed

[2019-04-17 17:26] #361 closed

[2019-04-17 17:27] pjsier commented on #292
Moved all new scrapers to GitHub issues

[2019-04-17 17:27] #292 closed

[2019-04-17 17:28] pjsier commented on #227
Sounds like this should be covered by existing documentation

[2019-04-17 17:28] #227 closed

[2019-04-17 17:28] pjsier commented on #183
This spider is scraping from Legistar directly now, so we should be good here

[2019-04-17 17:28] #183 closed

[2019-04-17 17:36] #666 closed

[2019-04-18 00:51] pjsier commented on #719
Closed by #724

[2019-04-18 00:51] #719 closed

[2019-04-18 15:15] channiemills commented on #717
HI @pjsier, I'd like to take a stab at this one. Do we know if the location for this one is constant?

[2019-04-18 15:18] pjsier commented on #717
@channiemills sounds great! I think we have to assume it's constant since they haven't posted much, so I would go with the Metropolitan Planning Council address listed in the agendas

[2019-04-18 15:35] pjsier commented on #460
Thanks for the suggestion, and sorry for the delayed reply! We've mostly used GitHub Projects since they have most of the same functionality, but for this project issues alone have worked out

[2019-04-18 15:35] #460 closed

[2019-04-18 16:43] pjsier opened #728 "Spider: Northeastern Illinois University"
URL: https://www.neiu.edu/about/board-of-trustees/calendar-of-meetings
Doc URL: https://www.neiu.edu/about/board-of-trustees/board-meeting-materials
Spider Name: `chi_northeastern_il_university`
Agency Name: Northeastern Illinois University

Meeting title can default to "Board of Trustees" unless a specific committee is listed. We also want to scrape the docs here on the Doc URL. It should default

[2019-04-18 16:46] pjsier opened #729 "Spider: Cook County North Shore Mosquito Abatement District"
URL: https://www.nsmad.com/news-events/board-meetings/
Spider Name: `cook_north_shore_mosquito`
Agency Name: Cook County North Shore Mosquito Abatement District

Meeting title can always be "Board of Trustees" (unless there are committees). It can default to the location listed, but should verify that the location exists first (see [`chi_labor_retirement_fund`](https://github.com/City-Bureau/city-

[2019-04-19 17:34] pjsier commented on #717
Closed by #730, thanks @channiemills!

[2019-04-19 17:34] #717 closed

[2019-04-20 16:50] nbearman commented on #710
@pjsier If you'd be willing to create the issue, that'd be great, thanks.

[2019-04-20 16:54] pjsier commented on #721
@nbearman if you're interested in doing this it's all yours!

[2019-04-22 02:14] nbearman commented on #721
I gave this one a go and just made a pull request.

[2019-04-22 16:22] pjsier commented on #721
Closed by #731, thanks @nbearman!

[2019-04-22 16:22] #721 closed

[2019-05-06 05:36] kiwisquash commented on #692
Sorry for a long period of silence—I will resume my work on this spider this week.

[2019-05-07 02:39] pjsier commented on #674
Closed by #725

[2019-05-07 02:39] #674 closed

[2019-05-08 19:37] mattpair commented on #729
I am working on this one

[2019-05-08 21:29] mattpair commented on #676
I'll resume work on this one

[2019-05-09 15:46] pjsier commented on #612
Looks like this is getting picked up by the general Cook County spider

[2019-05-09 15:46] #612 closed

[2019-05-11 19:14] jartsavor commented on #718
I am going to give this a shot.

Also, I went through the [development](https://cityscrapers.org/docs/development/) docs, and I had some trouble at the automated test sections (for both pipenv and virtualenv). I kept getting an `UnicodeDecodeError` when running `pytest`. It turns out that I needed to add an `encoding='utf8'` argument to the `return open(file_path, 'r').read()` of line 37 in [tests

[2019-05-11 20:19] pjsier commented on #718
@jartsavor sounds great! And feel free to just include that in this PR, we've addressed it elsewhere but must have missed that section since we've deprecated that module in favor of `city_scrapers_core.utils`

[2019-05-11 20:53] jartsavor commented on #718
@pjsier okay will do, and thank for the quick reply.

[2019-05-14 00:21] pjsier commented on #729
Closed by #741, thanks @mattpair!

[2019-05-14 00:21] #729 closed

[2019-05-25 17:34] grovesjo commented on #570
I'm interested in building this spider.

[2019-05-25 18:43] pjsier commented on #570
@grovesjo all yours!

[2019-05-30 09:19] SaanikaKulkarni commented on #728
I'd like to work on this!

[2019-05-30 14:38] pjsier commented on #728
@SaanikaKulkarni sounds great! Feel free to reach out with any questions

[2019-06-02 18:58] ElijahLawson commented on #679
I'd love to help out on this one if it's not taken!

[2019-06-02 19:15] pjsier commented on #679
@ElijahLawson from looking at this a bit more, they haven't posted any meetings in a while. I'll probably close this, but you're welcome to take one of the other scrapers! There are a good amount of them that were initially claimed but are inactive so you can comment on any that seem interesting

[2019-06-02 19:15] #679 closed

[2019-06-02 20:21] ElijahLawson commented on #680
If this is currently inactive, I can get working on it.

[2019-06-02 20:23] pjsier commented on #680
@ElijahLawson sounds good!

[2019-06-04 14:53] #639 closed

[2019-06-06 23:13] pjsier commented on #570
Closed by #757, thanks @grovesjo!

[2019-06-06 23:13] #570 closed

[2019-06-07 19:53] #387 closed

[2019-06-08 18:40] jartsavor commented on #718
I have an issue related to an unknown date/time for a meeting. What should I do when there is a rescheduled time indicated on the website? For instance below,

Friday, March 1, 2019
-RESCHEDULED to: TBD

is shown on the website, and I'm not sure  how to handle it.
I have checked [this](https://github.com/City-Bureau/city-scrapers/issues/88) issue, but it doesn't address this specific conflict.

[2019-06-08 18:46] pjsier commented on #718
@jartsavor any time something is rescheduled we're just considering it cancelled, so you could pass the text for the meeting (including where "RESCHEDULED" would be) to the `get_status` method in the `text` kwarg like this https://github.com/City-Bureau/city-scrapers/blob/bc1d5ff6163517df4e198dcd6161754a0a326d7c/city_scrapers/spiders/chi_schools.py#L42

[2019-06-12 12:59] SaanikaKulkarni commented on #728
Hi,
I keep getting an Index out of range error whenever I write a title_test. I tried printing the contents of 'parsed_items[]' but it's coming out to be empty. Am I doing something wrong with the file_response() method, because the city-scrapers-core documentation says it's to specify encoding for Windows while I'm working on a Mac? Thanks!

[2019-06-12 14:16] pjsier commented on #728
@SaanikaKulkarni could you open a PR with what you have so far? It's hard to say without seeing your code, and that way we could troubleshoot

[2019-06-12 18:59] paqman85 commented on #675
I'll take this one if it's still available.

[2019-06-12 20:20] pjsier commented on #675
@paqman85 all yours!

[2019-06-21 00:59] GeorgeDubuque commented on #673
Hello! I'm a first time open-source contributor. I have some experience scraping, can I try this one?

[2019-06-21 01:12] pjsier commented on #673
@GeorgeDubuque go for it! Just saw that you filled out the Slack form so I'll add you there too

[2019-06-21 01:48] GeorgeDubuque commented on #672
I would like to take this one!

[2019-06-21 01:50] GeorgeDubuque commented on #673
Awesome! Sounds good to me!

[2019-06-21 02:03] GeorgeDubuque commented on #673
@pjsier I am having trouble installing requirments.txt with pip I get the error ```ERROR: Could not find a version that satisfies the requirement city-scrapers-core[azure]==0.4.2 (from -r requirements.txt (line 11)) (from versions: none)
ERROR: No matching distribution found for city-scrapers-core[azure]==0.4.2 (from -r requirements.txt (line 11))```

[2019-06-21 14:06] pjsier commented on #672
@GeorgeDubuque sorry, I missed this initially. Right now our policy is for people to take on one at a time, so feel free to start this or the O'Hare scraper and move on to the other once you're done

[2019-06-23 17:28] EthanHolleman commented on #568
If this spider is still open I would like to give it go

[2019-06-23 18:05] pjsier commented on #568
@EthanHolleman it's all yours, let us know if you need any help

[2019-06-25 01:19] nmschorr commented on #565
I'm working on this one. It's actually somewhat done; just getting ready to submit and checking the instructions on how. Haven't written the Pytests yet but I know how and will soon.

[2019-06-25 01:23] pjsier commented on #565
Great, thanks for the update @nmschorr!

[2019-06-25 05:39] nmschorr commented on #565
I've had some trouble with naming things. And I think one of your commit messages migrated onto my work. I'll try to fix what I can.

[2019-06-25 20:59] pjsier opened #770 "Spider: Cook County Electoral Board (Suburban Cook)"
URL: https://aba.cookcountyclerk.com/boardmeetingsearch.aspx
Doc URL: https://www.neiu.edu/about/board-of-trustees/board-meeting-materials
Spider Name: `cook_electoral`
Agency Name: Cook County Electoral Board (Suburban Cook)

This one might be a bit challenging since it's an ASP.NET site. An example of how to scrape this can be found here https://github.com/opencivicdata/python-legistar-scraper/b

[2019-06-25 21:02] pjsier opened #771 "Spider: Cook County Housing Authority"
URL: http://thehacc.org/events/
Doc URL: http://thehacc.org/about/
Spider Name: `cook_housing`
Agency Name: Cook County Housing Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-06-25 21:04] pjsier opened #772 "Spider: North River Expanded Mental Health Services Program and Governing Commission"
URL: http://www.northriverexpandedmentalhealthservicescommission.org/index.html
Doc URL: http://www.northriverexpandedmentalhealthservicescommission.org/minutes.html
Spider Name: `chi_north_river_mental_health`
Agency Name: North River Expanded Mental Health Services Program and Governing Commission

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for informatio

[2019-06-27 19:32] pjsier commented on #567
I'll take this one

[2019-06-27 20:21] #567 closed

[2019-07-01 23:14] pjsier commented on #564
I'll take this one

[2019-07-02 00:27] #564 closed

[2019-07-04 17:01] aminamos commented on #771
Hi, I'm very new to Python and open source contributing in general. Currently going through [the guide](https://cityscrapers.org/docs/development/#contribute) and will start looking at this. Thank you!

[2019-07-05 14:22] pjsier commented on #771
@aminamos sounds great, feel free to reach out with any questions!

[2019-07-09 00:20] bwalterscoding opened #783 "no module"

[2019-07-09 00:20] #783 closed

[2019-07-09 00:21] bwalterscoding commented on #783
Mistakenly created a new issue while searching for previous issues.  My apologies.

[2019-07-09 17:30] bwalterscoding commented on #718
Speaking of 'city_scrapers_core', when I was practicing along with the documentation, I tried to run a scraper and I received an error message saying  'No module named 'city_scrapers_core' found'.  Where should that file be?

My Steps:
* I forked the project
* Clone the repository from my github
* Successfully created a virtual env using pipenv and activated it
* pip installed scrappy and pypiwin3

[2019-07-09 17:36] pjsier commented on #718
@bwalterscoding when you say you `pip installed` did you run `pipenv install`? That should install all dependencies so that you don't have to install them individually

[2019-07-09 18:00] bwalterscoding commented on #718
That seemed to be the issue, thanks a bunch.

[2019-07-11 21:41] anadolski commented on #772
Hi! This is a cool project. I'm new to contributing to open-source projects and web-scraping, but I'd like to give this issue a shot.

[2019-07-12 05:32] nmschorr commented on #565
If anyone is interested in working on this one - I've made some progress. Please see https://github.com/nmschorr/city-scrapers/tree/0565-spider-chi_ssa_27 as my code hasn't been accepted yet and isn't in the master tree yet.

[2019-07-12 13:11] pjsier commented on #772
@anadolski sounds great! Feel free to reach out with any questions

[2019-07-19 13:48] yu-zhou-7 commented on #571
I would like to try this one if that's ok! Although it appears that the website hasn't been updated in quite a while. Should we still try to scrape it or try to find out if the meeting reminders/minutes were moved somewhere else?

[2019-07-19 14:02] pjsier commented on #571
@yu-zhou-7 up to you! A lot of the SSAs aren't updating their meetings online, even though they're typically required to, so in many cases we're just archiving what's there and watching it in case they do update it. You're welcome to try a different one, but we're still interested in this

[2019-07-19 14:48] yu-zhou-7 commented on #571
Gotcha.

Question about an issue I'm seeing. I'm seeing a bunch of these errors popup on existing tests:
![image](https://user-images.githubusercontent.com/15326553/61543974-74f72d00-aa12-11e9-987c-32fb052a3c30.png)
It's something that's easily fixed if I just add "encoding='utf-8'" to the last line in utils.py. Am I doing something wrong in the setup or should this be updated?

[2019-07-19 14:50] pjsier commented on #571
@yu-zhou-7 thanks for catching that! I thought we had caught it, but I guess not. Do you want to put in a separate PR for that fix to `utils.py` just to keep things clean?

[2019-07-19 14:53] yu-zhou-7 commented on #571
Sure thing!

[2019-07-19 21:43] pjsier commented on #571
Closed by #793, thanks @yu-zhou-7!

[2019-07-19 21:43] #571 closed

[2019-07-19 22:10] yu-zhou-7 commented on #573
I can work on this one

[2019-07-19 22:18] pjsier commented on #573
Sounds good!

[2019-07-21 16:45] pjsier commented on #573
Closed by #794, thanks @yu-zhou-7!

[2019-07-21 16:45] #573 closed

[2019-07-21 19:13] pjsier opened #797 "Spider: Governors State University"
URL: http://www.govst.edu/About/Board_of_Trustees/Board_of_Trustees_Meeting_Dates_and_Minutes/
Spider Name: `il_governors_state_university`
Agency Name: Governors State University
Meeting Title: Board of Trustees (unless it's a committee meeting)

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 19:15] pjsier opened #798 "Spider: Illinois Lottery Control Board"
URL: https://www.illinoislottery.com/illinois-lottery/lottery-control-board
Spider Name: `il_lottery`
Agency Name: Illinois Lottery Control Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 19:18] pjsier opened #799 "Spider: Chicago Community Development Advisory Committee"
URL: https://www.chicago.gov/city/en/depts/obm/supp_info/Citizen_Participation.html
Spider Name: `chi_comm_development_advisory`
Agency Name: Chicago Community Development Advisory Committee

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This one is a little limited in that it just lists documents in PDFs, but the meeting

[2019-07-21 19:21] pjsier opened #800 "Spider: Detroit Wayne Mental Health Authority"
URL: https://www.dwmha.com/about-us/dwmha-authority-board/board-directors-2017-committee-and-board-meeting-schedule/
Spider Name: `det_mental_health_authority`
Agency Name: Detroit Wayne Mental Health Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 19:23] pjsier opened #801 "Spider: Illinois Board of Examiners"
URL: https://www.ilboe.org/board-information/board-meetings/
Spider Name: `il_board_of_examiners`
Agency Name: Illinois Board of Examiners

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 19:25] pjsier opened #802 "Spider: Illinois Commission on Police Professionalism"
URL: https://www.isp.state.il.us/media/openmtgs.cfm
Spider Name: `il_police_professionalism`
Agency Name: Illinois Commission on Police Professionalism

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 19:49] pjsier opened #803 "Spider: Illinois Investment Policy Board"
URL: https://www2.illinois.gov/sites/iipb/Pages/MeetingInformation.aspx
Spider Name: `il_investment_policy`
Agency Name: Illinois Investment Policy Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 19:54] pjsier opened #804 "Spider: Illinois Liquor Control Commission"
URL: https://www2.illinois.gov/ilcc/Divisions/Pages/Legal/Hearing-Schedule-for-Chicago-IL-and-Springfield-IL.aspx
Doc URL: https://www2.illinois.gov/ilcc/Divisions/Pages/Legal/Meeting-minutes.aspx
Spider Name: `il_liquor_control`
Agency Name: Illinois Liquor Control Commission

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 19:59] pjsier opened #805 "Spider: Illinois Pollution Control Board"
URL: https://pcb.illinois.gov/ClerksOffice/Calendar
Doc URL: https://pcb.illinois.gov/ClerksOffice/MeetingMinutes
Spider Name: `il_pollution_control`
Agency Name: Illinois Pollution Control Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

We should pull hearings and board meetings from the calendar for the past year (

[2019-07-21 20:01] pjsier opened #806 "Spider: Illinois Procurement Policy Board"
URL: https://www2.illinois.gov/sites/ppb/Pages/future_board_minutes.aspx
Doc URL: https://www2.illinois.gov/sites/ppb/Pages/board_minutes.aspx
Spider Name: `il_procurement_policy`
Agency Name: Illinois Procurement Policy Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 20:04] pjsier opened #807 "Spider: Illinois Sex Offender Management Board"
URL: https://www2.illinois.gov/idoc/Pages/SexOffenderManagementBoard.aspx
Spider Name: `il_sex_offender_management`
Agency Name: Illinois Sex Offender Management Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-21 20:08] pjsier opened #808 "Spider: Illinois State Board of Elections"
URL: https://www.elections.il.gov/AboutTheBoard/Agenda.aspx
Doc URL: https://www.elections.il.gov/AboutTheBoard/MeetingMinutesAll.aspx
Spider Name: `il_elections`
Agency Name: Illinois State Board of Elections

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-07-24 15:23] wraikes commented on #803
Hello, I'd like to work on this issue!

[2019-07-24 15:28] pjsier commented on #803
@wraikes sounds good, all yours!

[2019-07-27 13:14] pjsier commented on #565
Closed by #785 thanks!

[2019-07-27 13:14] #565 closed

[2019-07-27 13:16] pjsier commented on #675
@paqman85 are you still working on this? Otherwise I'll take a stab at it

[2019-07-27 14:15] paqman85 commented on #675
Yes, im still on it. A few hiccups but I'm making progress now.

:)

On Sat., Jul. 27, 2019, 9:16 a.m. Patrick Sier, <notifications@github.com>
wrote:

[2019-08-01 14:03] yu-zhou-7 commented on #566
I can take this one

[2019-08-01 14:09] pjsier commented on #566
@yu-zhou-7 sounds great!

[2019-08-03 13:36] nikhilrbaradwaj commented on #797
hey you still need help with this? I just went through the installation guide successfully.

[2019-08-03 14:49] pjsier commented on #797
Yep, if you’re interested it’s all yours!

[2019-08-03 14:57] nikhilrbaradwaj commented on #797
what's the significance of "meeting title"? you still want me to crawl the whole webpage right?

[2019-08-03 15:07] pjsier commented on #797
That’s just the default for the title of the meetings that should be returned unless a different one is provided

[2019-08-07 10:54] raufabr commented on #808
Is this issue still open? I would like to have a go at this.

[2019-08-07 12:03] pjsier commented on #808
@raufabr yep, all yours if you're interested!

[2019-08-11 05:03] BobbyKarabinakis commented on #807
Hi There,

i would like to work on this issue

[2019-08-11 14:23] pjsier commented on #807
@BobbyKarabinakis sounds good!

[2019-08-16 02:47] andrew-sharpl commented on #800
Hey, I've started working on this scraper

[2019-08-16 12:52] pjsier commented on #800
@andrew-sharpl sounds great! Feel free to reach out with any questions

[2019-08-16 15:07] andrew-sharpl commented on #800
Am I allowed to use libraries that aren't already dependencies? I would like to use beautifulsoup for parsing the html

[2019-08-16 15:10] pjsier commented on #800
@andrew-sharpl Scrapy has a similar setup built in for CSS and XPath selectors, so I think we should stick with that for now

[2019-08-18 00:36] samw430 commented on #805
Is this issue open? I'd like to try it out if it is.

[2019-08-18 00:45] pjsier commented on #805
@samw430 yep, it's open and all yours if you're interested

[2019-08-18 22:34] ozzysChiefDataScientist commented on #798
I'd like to work on this!

[2019-08-18 22:53] pjsier commented on #798
@ozzysChiefDataScientist sounds great! It's all yours

[2019-08-19 00:42] samw430 commented on #805
Perfect.  I'll get on it

[2019-08-25 14:22] pjsier commented on #798
Closed by #820, thanks @ozzysChiefDataScientist!

[2019-08-25 14:22] #798 closed

[2019-08-29 19:39] #800 closed

[2019-08-30 18:19] andrew-sharpl commented on #800
Hey, I'm in the process of moving right now and haven't had any time to
work on it. I don't think I'll be able to finish it. If you want help
writing any of the functions or tests let me know.

On Thu, Aug 29, 2019, 3:39 PM Patrick Sier <notifications@github.com> wrote:

[2019-08-30 19:00] pjsier commented on #800
@andrew-sharpl no problem! I merged a PR with it yesterday, but feel free to pick up another scraper if you're interested

[2019-09-08 03:40] kwonhur commented on #804
Can I take on this issue if it is still available? Thanks!

[2019-09-08 13:29] pjsier commented on #804
@kwonhur all yours!

[2019-09-10 14:03] sameerchandra commented on #802
Hi, is this issue still open? I would like to have a go at this. Thanks!

[2019-09-10 14:10] pjsier commented on #802
Yep, all yours if you’re interested!

[2019-09-10 14:27] mahesh174 commented on #801
Hi, Can I work on this issue?

[2019-09-10 16:58] pjsier commented on #801
@mahesh174 sure! Feel free to reach out with any questions

[2019-09-13 13:23] sameerchandra opened #831 "CANCELED Meetings are not recognized by get_status function"
If the word 'canceled' is there in the meeting title, get_status() wouldn't recognize the meeting as Canceled

[2019-09-13 13:44] pjsier commented on #831
@sameerchandra do you have a specific example of this not working? We're checking for this in the `_get_status` function currently

https://github.com/City-Bureau/city-scrapers-core/blob/e3dd19e800697a819b7fd7104b24202e9a2dcdea/city_scrapers_core/spiders/spider.py#L45-L57

[2019-09-13 14:02] sameerchandra commented on #831
Hi @pjsier If you check this [link](https://www.isp.state.il.us/media/openmtgs.cfm), the title of the meeting contains CANCELED but `_get_status` doesn't identify the meeting as cancelled because it is only searching for the world cancel

[2019-09-13 14:21] pjsier commented on #831
The issue here isn't that it's not finding the substring "cancel" which should match "cancelled" or "canceled", it's that the title being passed to the function in the PR (https://github.com/City-Bureau/city-scrapers/pull/830/files#diff-5599fb5b1bde4d2a5559d9c482ddbe6aR44) isn't actually including "CANCELED" in the `title` property of the meeting.

The way to address this in the `_get_status` meth

[2019-09-13 14:21] #831 closed

[2019-09-15 16:07] #804 closed

[2019-09-16 18:56] pjsier commented on #802
Closed by #830

[2019-09-16 18:56] #802 closed

[2019-09-19 11:24] bendiller commented on #670
Hi, I'd love to implement this one! I've got experience with Scrapy and can probably have a PR ready by the end of the weekend.

[2019-09-19 11:29] pjsier commented on #670
@bendiller great! Feel free to reach out with any questions

[2019-09-20 14:44] pjsier commented on #801
Closed by #832

[2019-09-20 14:44] #801 closed

[2019-09-24 14:35] pjsier commented on #670
Closed by #838

[2019-09-24 14:35] #670 closed

[2019-09-26 17:13] mmachado95 commented on #807
Hi, if this is still up for grabs I would like to start working on it.

[2019-09-26 17:17] pjsier commented on #807
@BobbyKarabinakis are you still working on this? If not it's all yours, @mmachado95

[2019-10-01 05:21] akaysh commented on #808
@raufabr are you still working on this? If not, I would like to work on this.

[2019-10-01 18:30] jingwu21 commented on #806
Is this up for grabs? If so I would like to give it a go.

[2019-10-01 18:34] pjsier commented on #806
@jingwu21 all yours if you're interested!

[2019-10-01 21:53] pg commented on #799
@pjsier The link is broken (points to an error page). Has the site's hierarchy been re-worked?

[2019-10-01 23:15] pg commented on #803
@wraikes Are you working on this issue? If not, I would like to take it on. How does that sound @pjsier?

[2019-10-02 00:23] pjsier commented on #803
@pg if you don't hear back in a day or so that works for me!

[2019-10-02 00:24] pjsier commented on #799
Thanks for catching that! The city's site has changed a bit recently, and it looks like this is one of the pages that was removed. I'll leave the issue open for now pending an updated link

[2019-10-02 00:49] bendiller commented on #805
Hi @pjsier, may I take this one? @samw430 are you still intending to work on this?

[2019-10-02 01:24] pg commented on #799
Should I attempt to find where it got moved to, or would that be a lost cause?

[2019-10-02 03:45] jairathnem commented on #770
Can I work on this?

[2019-10-02 05:11] ahmad380360 commented on #770
نحن مهتمون بلعمل  من جميع الاشخاص

[2019-10-02 13:24] pjsier commented on #799
I think it's fine to leave it as-is, the city's site has been changing a lot lately

[2019-10-02 13:31] pjsier commented on #770
Whoever's interested can try this one out, but if there are multiple people we still have a good amount of issues that are open or inactive even if someone commented

[2019-10-02 13:32] pjsier commented on #805
@bendiller all yours if it's inactive!

[2019-10-02 13:32] pjsier commented on #808
@akaysh I think you're good to work on this, thanks!

[2019-10-02 13:51] wraikes commented on #803
@pg sorry for the delay, I'm still working on this one, thank you!

[2019-10-02 22:11] nolanee commented on #710
Is help still needed with this? I would like to contribute, if I may.

[2019-10-02 22:16] pjsier commented on #710
@nolanee all yours since it's been inactive!

[2019-10-03 04:42] nolanee commented on #710
It seems like there aren't any events for this agency?

[2019-10-03 12:24] pjsier commented on #710
Gotcha, the issue is from a bit ago, but up to you whether it's still worth doing. They might post them in the future, but you're also welcome to take a look at another issue

[2019-10-03 13:55] AmiMappy commented on #805
I would like to work on it (if it is still inactive). Can I?

[2019-10-03 14:00] bendiller commented on #805
@AmiMappy I've begun working on this yesterday.

[2019-10-03 14:06] AmiMappy commented on #805
Thanks for letting me know.

[2019-10-03 14:07] AmiMappy commented on #808
Can I give it a go?

[2019-10-03 14:10] pjsier commented on #808
Hi @AmiMappy, thanks for the interest in contributing! It looks like someone is working on this one, but you’re welcome to take a look at any of the issues that haven’t had any comments in a month or so. Let me know if you have any questions

[2019-10-03 14:25] AmiMappy commented on #808
Thanks a lot.

[2019-10-03 14:30] AmiMappy commented on #559
Can I work on this?

[2019-10-03 14:34] pjsier commented on #559
@AmiMappy all yours!

[2019-10-03 15:56] pjsier opened #843 "Spider: Chicago Special Service Area #61 Hyde Park"
URL: http://www.downtownhydeparkchicago.com/about/
Spider Name: chi_ssa_61
Agency Name: Chicago Special Service Area #60 Hyde Park

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 15:57] pjsier opened #844 "Spider: Chicago Special Service Area #62 Sauganash"
URL: http://escc60646.com/our_events/
Spider Name: chi_ssa_62
Agency Name: Chicago Special Service Area #62 Sauganash

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 15:57] pg commented on #771
@pjsier @aminamos Any chance I could take this one over for #hacktoberfest?

[2019-10-03 15:58] pjsier opened #845 "Spider: Chicago Special Service Area #69: 95th & Ashland Avenue"
URL: https://northrivercommission.org/events/
Spider Name: `chi_ssa_69`
Agency Name: Chicago Special Service Area #69 95th & Ashland Avenue

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 15:59] pjsier opened #846 "Spider: Chicago Special Service Area #72 Austin"
URL: http://www.av72chicago.com/commissioners--meetings.html
Spider Name: `chi_ssa_72`
Agency Name: Chicago Special Service Area #72 Austin

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 16:01] pjsier opened #847 "Spider: Illinois Department of Corrections Advisory Board"
URL: https://www2.illinois.gov/idoc/aboutus/advisoryboard/Pages/default.aspx
Spider Name: `il_corrections`
Agency Name: Illinois Department of Corrections Advisory Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

Some information will need to be parsed from PDFs, so it could be useful to look at [`chi_human_relations`

[2019-10-03 16:03] pjsier opened #848 "Spider: Wayne State University"
URL: https://bog.wayne.edu/
Spider Name: `wayne_state_university`
Agency Name: Wayne State University
Meeting Title: Board of Governors

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 16:04] pjsier opened #849 "Spider: Wayne County Airport Authority"
URL: https://www.metroairport.com/business/about-wcaa/board
Spider Name: `wayne_airport_authority`
Agency Name: Wayne County Airport Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 16:05] pjsier opened #850 "Spider: Detroit Regional Convention Facility Authority"
URL: http://www.drcfa.org/upcoming-meetings
Spider Name: `det_regional_convention`
Agency Name: Detroit Regional Convention Facility Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 16:08] pjsier opened #851 "Spider: Wayne County Land Bank"
URL: https://public-wclb.epropertyplus.com/landmgmtpub/app/base/customPage
Spider Name: `wayne_land_bank`
Agency Name: Wayne County Land Bank

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This one is interesting because you'll need to start with a POST request instead of a GET request. In this case, you'll need to overri

[2019-10-03 16:10] pjsier commented on #384
Looks like they've been added, closing

[2019-10-03 16:10] #384 closed

[2019-10-03 16:10] #337 closed

[2019-10-03 16:10] #232 closed

[2019-10-03 16:12] pjsier commented on #33
Looks like we don't have any current scrapers using this, but for anyone running into this issue here's an [example for Cuyahoga County](https://github.com/City-Bureau/city-scrapers-cle/blob/c68a525cb6548f05ffa68ef41b427fc6891c3d83/city_scrapers/spiders/cuya_administrative_rules.py)

[2019-10-03 16:12] #33 closed

[2019-10-03 16:13] pjsier commented on #52
We have an updated setup for this where emails received at notice@documenters.org are forwarded to S3 where we can scrape them here https://github.com/City-Bureau/store-inbound-emails

[2019-10-03 16:13] #52 closed

[2019-10-03 16:21] pjsier commented on #386
Closing since we've sent Documenters and it looks like we have the location

[2019-10-03 16:21] #386 closed

[2019-10-03 16:23] pjsier commented on #239
Updating the scrapers to use `Item` subclasses makes the logging a little more straightforward:

[code]

Scrapy also has JSON output from the command line built-in with:

[code]

[2019-10-03 16:23] #239 closed

[2019-10-03 16:24] pjsier commented on #654
We have an updated setup for creating a City Scrapers project for your area in https://github.com/City-Bureau/city-scrapers-template, so I'm closing this. Happy to answer any questions about the setup though!

[2019-10-03 16:24] #654 closed

[2019-10-03 16:24] #282 closed

[2019-10-03 16:25] #372 closed

[2019-10-03 16:29] pjsier commented on #771
@pg all yours if there isn't a response for a day or so!

[2019-10-03 16:30] pjsier opened #853 "Spider: Wayne County Local Emergency Planning Committee"
URL: https://www.waynecounty.com/departments/hsem/wayne-county-lepc.aspx
Spider Name: `wayne_local_emergency_planning`
Agency Name: Wayne County Local Emergency Planning Committee

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 16:31] pjsier opened #854 "Spider: Cook County Pharmaceutical Disposal Advisory Committee"
URL: https://www.cookcountysheriff.org/rx/advisory-committee/
Spider Name: `cook_pharmaceutical_disposal`
Agency Name: Cook County Pharmaceutical Disposal Advisory Committee

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 16:33] pjsier opened #855 "Spider: Cook County Commission on Human Rights"
URL: https://www.cookcountyil.gov/agency/commission-human-rights-0
Spider Name: `cook_human_rights`
Agency Name: Cook County Commission on Human Rights

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

This might require scraping some PDFs, so it could be useful to look at [`chi_human_relations`](https://github.com/City-Bure

[2019-10-03 16:34] pjsier opened #856 "Spider: Detroit Employment Solutions Corporation"
URL: https://www.descmiworks.com/about-us/public-meetings/
Spider Name: `det_employment_solutions`
Agency Name: Detroit Employment Solutions Corporation

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

Some information will need to be parsed from PDFs, so it could be useful to look at [`chi_human_relations`](https://github.

[2019-10-03 16:37] pjsier opened #857 "Spider: Illinois Housing Development Authority"
URL: https://www.ihda.org/about-ihda/public-meetings-and-notices/
Spider Name: `il_housing_development`
Agency Name: Illinois Housing Development Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-03 17:59] Brian-Lee commented on #853
I'm interested is tackling this. I'n new BTW.

[2019-10-03 18:32] pjsier commented on #853
@Brian-Lee all yours! Feel free to reach out with any questions

[2019-10-03 18:34] Brian-Lee commented on #853
ty! I'm waiting to get my slack invite. Also, should my branch be named 0853-spider-wayne-county-lepc ?

[2019-10-03 19:06] pjsier commented on #853
That works! The spider should keep the name `wayne_local_emergency_planning` though

[2019-10-03 19:06] Brian-Lee commented on #853
Ok. TY

[2019-10-03 20:07] nolanee commented on #710
Okay! I'm happy to keep working on this issue, but I was just wondering whether you have any advice on how to work on the scraper and write tests for it, given that I don't have an example of html with an event from that agency that has the agency id etc.

[2019-10-03 21:16] pjsier commented on #710
There's a specific setup for Detroit scrapers that would make it easier, but since you wouldn't be able to write tests easily it's probably best to see if there's another issue that works

[2019-10-04 00:51] mhartenbower commented on #857
I'll take a look at this one.

[2019-10-04 01:41] pjsier commented on #857
@mhartenbower sounds good!

[2019-10-04 01:47] moisesjsanchez commented on #848
Hello, I am a first-time contributor.  Would it be okay for me to work on this?

[2019-10-04 01:53] pjsier commented on #848
@moisesjsanchez all yours!

[2019-10-04 03:20] pg commented on #803
Oh, shoot! I just saw this... I got excited and was eager to help out for #hacktoberfest. I ended up working on this one first to get an understanding of the project. I think I have something working.

[2019-10-04 04:21] nolanee commented on #856
Hello again! May I work on this issue, since the other one didn't work out?

[2019-10-04 08:06] AmiMappy commented on #559
I keep getting the 'no module named city_scrapers_core' error. Help needed.

[2019-10-04 08:25] AmiMappy commented on #559
I keep getting the 'no module named legistar' error. Help needed.

[2019-10-04 12:54] pjsier commented on #803
@wraikes sorry about the miscommunication here, but happy to help you get started on another spider if you're still interested! And I'll take a look at your PR, @pg

[2019-10-04 13:12] yuriy-os commented on #854
Can I help with this one?

[2019-10-04 13:26] pjsier commented on #854
@yuriy-os go for it! Let me know if you have any questions

[2019-10-04 13:44] AmiMappy commented on #559
What classification should I provide the spider with?
(ADVISORY_COMMITTEE, BOARD, CITY_COUNCIL, COMMISSION, COMMITTEE, FORUM, POLICE_BEAT, NOT_CLASSIFIED). By default, it is NOT_CLASSIFIED.

[2019-10-04 13:46] pjsier commented on #559
The SSAs are generally commissions, so `COMMISSION` would be best

[2019-10-04 13:49] pjsier commented on #856
@nolanee sounds good!

[2019-10-04 13:50] AmiMappy commented on #559
Thanks.

[2019-10-04 13:59] AmiMappy commented on #559
What should I put in _parse_links()?

[2019-10-04 14:18] pjsier commented on #559
You can take a look at some of the other scrapers [for examples](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/chi_ssa_26.py#L50-L69), but in general you want to find agendas and minutes and return a list of dictionaries with `title` and `href` keys. Also feel free to [join the Slack](https://airtable.com/shrsdRcYVzp019U22) for general questions

[2019-10-04 14:37] doubledare704 commented on #846
I'll take this

[2019-10-04 14:52] aminamos commented on #771
@pg definitely, happy hacking!

[2019-10-04 14:56] pjsier commented on #846
Weird, it was up yesterday. You can use this Wayback Machine link for testing until it's back up https://web.archive.org/web/20190929023807/http://www.av72chicago.com/commissioners--meetings.html

[2019-10-04 15:36] bendiller commented on #805
Hi Patrick -

Would you please clarify your comment: `"We should pull hearings and board meetings from the calendar for the past year (so July-July, etc)"`? I've got a couple questions.

1. Was this included as a convenience to the developer creating the spider or for some other reason?

2. The way it's worded suggests that you don't want this spider to return details about meetings scheduled in t

[2019-10-04 15:39] pjsier commented on #805
Sorry for the confusion! You don't need to pull minutes all the way back to 2000 even though they have them, so that was mostly intended as a convenience thing.

It should still definitely return details from a few (2-4) months into the future whether they have documents or not

[2019-10-04 18:02] bendiller commented on #805
Ah okay, that makes more sense, thanks!

[2019-10-04 18:30] saswat01 commented on #853
what do you want to scrape ?

[2019-10-04 18:34] pjsier commented on #853
Hi @saswat01, we have more info in the [development documentation](https://cityscrapers.org/docs/development/), but this issue is claimed. You're welcome to take a look at any of the other issues that either aren't claimed or have been inactive for the past month or more!

[2019-10-04 22:29] firejava commented on #843
going to give this one a shot

[2019-10-04 22:37] firejava commented on #843
#860

[2019-10-05 03:29] pg commented on #844
@pjsier I'd like to try this one next.

[2019-10-05 09:35] saswat01 commented on #844
i'd lik to grab it

[2019-10-05 10:09] pyence commented on #656
Hey, I'm pretty new to scrapy but I'm working on this.
Would a separate spider be acceptable? or two separate initial requests?

[2019-10-05 12:28] AmiMappy commented on #559
Can you help me on how I should go about this? :

          ERROR: /home/travis/build/City-Bureau/city-scrapers/chi_ssa_18.py Imports are incorrectly sorted.

          ---/home/travis/build/City-Bureau/city-scrapers/chi_ssa_18.py:before	2019-10-05 12:20:37.663324

         +++ /home/travis/build/City-Bureau/city-scrapers/chi_ssa_18.py:after	2019-10-05 12:21:23.801026

         @@ -1,6 +1,5 @@

[2019-10-05 14:56] EmefaA commented on #772
Hi @pjsier! I am interested in helping out with this project.

[2019-10-05 16:31] pjsier commented on #772
@EmefaA all yours since it looks like it's been inactive!

[2019-10-05 16:32] pjsier commented on #656
@pyence sounds great! I think a separate scraper would actually be ideal here, let me know if you have any questions

[2019-10-05 16:36] pg commented on #844
@saswat01 I’ve already started on it. Should have something shortly.

[2019-10-05 16:38] anadolski commented on #772
Sorry for dropping the ball here! My time for outside projects has dropped
to about zero. Please do take this one over!

On Sat, Oct 5, 2019, 11:31 Patrick Sier <notifications@github.com> wrote:

[2019-10-05 17:04] pjsier commented on #559
@AmiMappy It looks like you still need to run the style checks, more info here https://cityscrapers.org/docs/development/#6-run-linting-and-style-checking-tools

[2019-10-05 18:39] wraikes commented on #803
@pjsier no worries! I'll just work on another issue.  thank you.

[2019-10-06 00:05] mhartenbower commented on #857
@pjsier So this one has turned out to be a bit more interesting than I had anticipated. :)

Specifically, I'm not sure how to handle the layout of this PDF: https://www.ihda.org/wp-content/uploads/2016/02/2019-Public-Notice-Board-and-Committee-Meeting-Dates.pdf

Are there any examples of dealing with the table layout we're seeing here?

[2019-10-06 00:22] pjsier commented on #857
@mhartenbower hmm, not that layout specifically, but one thing I've been considering trying out is to use [`pdfminer.six`](https://github.com/pdfminer/pdfminer.six) instead of `PyPDF2`. We have an example in a different repo here:

https://github.com/City-Bureau/city-scrapers-akr/blob/589fa96fa0d659f3bb553ee791f1663b92ca87d6/city_scrapers/spiders/summ_planning.py#L47-L62

One thing you could also

[2019-10-06 02:37] pjsier commented on #803
Closed by #858, thanks @pg!

[2019-10-06 02:37] #803 closed

[2019-10-06 05:36] AmiMappy commented on #559
I run the tests, but I get an error.
[Error.txt](https://github.com/City-Bureau/city-scrapers/files/3693983/Error.txt)
I don't get it entirely. Help needed.

[2019-10-06 08:25] saswat01 commented on #844
ok !

[2019-10-06 13:52] pjsier commented on #559
@AmiMappy I saw a few pull requests for this get created and closed. I'm happy to answer any questions about the setup and how to submit a PR, but the Slack might be easier if that works for you. In the meantime the [development docs](https://cityscrapers.org/docs/development/) and [contributing guidelines](https://github.com/City-Bureau/city-scrapers/blob/master/CONTRIBUTING.md) should have some

[2019-10-06 20:36] udoedo commented on #850
Hi, can I work on this ?

[2019-10-06 21:44] pjsier commented on #850
@udoedo go for it! Happy to answer questions here

[2019-10-07 13:00] pjsier commented on #853
Closed by #863

[2019-10-07 13:00] #853 closed

[2019-10-07 16:42] radoslawkrolikowski commented on #851
Hello. I would like to work on that spider.

[2019-10-07 16:53] pjsier commented on #851
@radoslawkrolikowski sounds good!

[2019-10-07 17:20] pjsier commented on #843
Closed by #861

[2019-10-07 17:20] #843 closed

[2019-10-07 18:19] pjsier opened #873 "Spider: Chicago Committee on Standards and Tests"
URL: https://www.chicago.gov/city/en/depts/bldgs/supp_info/committee_on_standardsandtests.html
Spider Name: `chi_standards_tests`
Agency Name: Chicago Committee on Standards and Tests

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-07 22:10] infogrrl commented on #855
Hi! I would like to work on this issue.

[2019-10-07 22:53] pjsier commented on #855
@infogrrl all yours!

[2019-10-08 00:40] zkunkle commented on #873
I'll work on it

[2019-10-08 05:12] pg commented on #843
Hmm...I just noticed Agency Name lists `#60`, but spider name and the issue title list `#61`. I think the correct value is `#61`

[2019-10-08 12:07] pjsier commented on #771
Closed by #862

[2019-10-08 12:07] #771 closed

[2019-10-08 21:24] Yeshwanthyk commented on #849
I would like to work on this?

[2019-10-08 21:43] pjsier commented on #849
@Yeshwanthyk sounds good!

[2019-10-09 03:40] EmefaA commented on #772
Hi @pjsier I tried to create a barebones spider but I got a ModuleNotFoundError: No module named 'city_scrapers_core'. How can I fix this? Thanks!

[2019-10-09 05:12] Brian-Lee commented on #845
May I give this a go?

[2019-10-09 12:41] pjsier commented on #772
@EmefaA could you tell me some of the steps you took to set up the scrapers? And did you go through the steps in the [documentation](https://cityscrapers.org/docs/development/)? We've had some people run into that from using Python 2

[2019-10-09 12:42] pjsier commented on #845
@Brian-Lee go for it!

[2019-10-09 13:21] EmefaA commented on #772
Hi @pjsier I updated to Python 3.7 but for some reason version 2.7 is showing when I check the version. I will try to fix that and get back to you. Thanks!

[2019-10-09 18:23] EmefaA commented on #772
Hi @pjsier I changed my path to use Python 3.7 but I am still getting the same error.

(city-scrapers) ➜  city-scrapers git:(0772-spider-chi_north_river_mental_health) scrapy genspider chi_north_river_mental_health "North River Expanded Mental Health Services Program and Governing Commission" http://www.northriverexpandedmentalhealthservicescommission.org
Traceback (most recent call last):
  File

[2019-10-09 18:40] pjsier commented on #772
We don't have a ton of info on working with anaconda, so that could be part of it. Are you still creating a virtual environment and running the `genspider` command from inside of it?

[2019-10-09 18:46] EmefaA commented on #772
Oh ok. Yes I am creating a virtual environment and running genspider command from inside of it. Should I try it with a different issue number and see if I get the same error?

[2019-10-09 18:48] pjsier commented on #772
A different issues shouldn't make a difference, so you don't need to do that. When you run `python -V` does it show the version of Python you're expecting? And did you install with `pipenv` or just `pip`? It might be worth trying `pip install -r requirements.txt` inside the virtual environment

[2019-10-09 18:54] EmefaA commented on #772
Python version is 3.7.3

I installed pipenv install --dev --ignore-pipfile --three

Ok I will try pip install -r requirements.txt inside the virtual environment

[2019-10-09 19:08] EmefaA commented on #772
Hi @pjsier I got this message when I tried to pip install the requirements text. I will do some research to see how I can overcome this

(city-scrapers) ➜  city-scrapers git:(0772-spider-chi_north_river_mental_health)pip install -r requirements.txt
[1]    19028 abort      pip install -r requirements.txt

[2019-10-09 20:22] radoslawkrolikowski commented on #851
I encountered an issue with `city_scrapers_core.utils.file_response`. The copy of the web page that was created automatically wasn't the proper response, so I had to replace it with response.body html. Now the` file_response` is doubling each backslash in the `test_response`:
- ['\\\r\\\n\\t\\\t<div class="col-lg-4..."
Instead of:
- ['\r\n\t\t<div class="col-lg-4..."
thus, my regular expressions w

[2019-10-09 20:24] pjsier commented on #851
Hmm, not sure I'm following specifically where the issue started, but instead of using `response.body` it might be worth trying to save the page with the correct response in the browser as HTML. Let me know if that seems to fix it

[2019-10-09 20:37] radoslawkrolikowski commented on #851
Saving response in the browser as HTML helped, now everything is working correctly. Thanks a lot.

[2019-10-09 23:00] pjsier opened #879 "Spider: Chicago Special Service Area #8 Lakeview East"
URL: https://lakevieweast.com/ssa-8/
Spider Name: chi_ssa_8
Agency Name: Chicago Special Service Area #8 Lakeview East

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-09 23:01] pjsier opened #880 "Spider: Chicago Special Service Area #20 South Western Avenue"
URL: https://www.mpbhba.org/business-resources/
Spider Name: chi_ssa_20
Agency Name: Chicago Special Service Area #20 South Western Avenue

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-09 23:58] jairathnem commented on #847
I am working on this one. PDF documents for the different dates are inconsistent and don't always follow a format. Any suggestions on that?

[2019-10-10 02:37] h0ffayyy commented on #879
Mind if I take this one?

[2019-10-11 04:13] pg commented on #880
It seems there are no events under https://www.mpbhba.org/events/

[2019-10-11 04:14] pg commented on #558
The site has a member access password...

[2019-10-11 13:13] pjsier commented on #880
Yep, all of the events are on https://www.mpbhba.org/business-resources/ in the description down the page

[2019-10-11 13:39] pjsier commented on #558
Weird, this site has changed a lot and looks like it's still being updated

[2019-10-11 14:34] Sidray-Infinity commented on #880
Trying this as my first contribution.

[2019-10-12 01:15] razinc commented on #879
Hi, can I try this?

[2019-10-12 01:57] pjsier commented on #879
@razinc all yours!

[2019-10-12 03:05] razinc commented on #879
Hi @pjsier. I have a few hiccups & I plan to address those in Slack. How can I get inivation to join the workspace?

[2019-10-12 18:52] pjsier commented on #879
@razinc you can fill out this form and we'll add you to the Slack https://airtable.com/shrsdRcYVzp019U22

[2019-10-13 02:16] razinc commented on #879
Hi @pjsier. Thanks.

[2019-10-13 12:43] pjsier commented on #851
Closed by #885, thanks @radoslawkrolikowski!

[2019-10-13 12:43] #851 closed

[2019-10-13 18:16] mmachado95 commented on #807
@pjsier Can I try to move forward with this?

[2019-10-13 18:24] pjsier commented on #807
@mmachado95 go for it!

[2019-10-13 19:10] mericleac commented on #562
Hi! I'd like to try this for my first contribution.

[2019-10-13 19:13] pjsier commented on #562
@mericleac sounds good!

[2019-10-13 20:50] mericleac commented on #562
Visiting visitclarkstreet.com redirects to lincolnparkchamber.com. The new URL for this special service area's meetings seems to be https://www.lincolnparkchamber.com/clark-street-ssa-administration/.

[2019-10-14 04:04] jingwu21 commented on #806
In the url: https://www2.illinois.gov/sites/ppb/Pages/future_board_minutes.aspx it has a pdf. Do I just scrape the texts?

[2019-10-14 09:38] yuriy-os commented on #854
@pjsier I'm sorry, I can't find enough time to properly work on this issue, feel free to reassign it.

[2019-10-14 13:07] pjsier commented on #806
The doc URL is an additional page we'll want to scrape to get past minutes. Since they don't seem to overlap, you should be able to include both in `start_urls` and implement different parsing logic to pull meetings

[2019-10-14 23:00] jingwu21 commented on #806
Ok. Thank you.

[2019-10-14 23:50] pjsier commented on #805
Closed by #882

[2019-10-14 23:50] #805 closed

[2019-10-15 12:53] pjsier commented on #844
Closed by #883, thanks @pg!

[2019-10-15 12:53] #844 closed

[2019-10-15 21:23] chandranathr commented on #681
Can I help with this one?

[2019-10-15 21:24] pjsier commented on #656
Closed by #876, thanks @pyence!

[2019-10-15 21:24] #656 closed

[2019-10-15 21:32] pjsier commented on #681
@chandranathr it's been inactive for a while, so go for it!

[2019-10-15 21:39] pyence commented on #656
Sure thing! Happy to help :smile:

I'd also like to implement the freezegun boilerplate in tests/test_cook_county.py. Should I open an issue for this?

[2019-10-15 21:48] pjsier commented on #656
That sounds great. You can create a new issue for that and just mention you're working on it. If you're updating that file, it would also be good to replace the `file_response` function with the one from `city_scrapers_core` and there should be a good amount of examples of that in the other tests

[2019-10-15 21:52] pyence commented on #656
Alright. Will do!

[2019-10-16 02:19] annaderengowski commented on #561
I'd like to take a crack at this issue, if that's okay!

[2019-10-16 02:23] pjsier commented on #561
@annaderengowski sounds good!

[2019-10-16 12:39] pyence opened #890 "improve test_cook_county (freezegun, file_response)"
- Implement freezegun boilerplate
- Use file_response from city_scrapers_core instead of tests.utils

I'm working on this

[2019-10-16 12:46] pyence opened #891 "improve test_cook_board_ethics"
perhaps we should upgrade `file_response` to the `city-scrapers-core` version here as well?

Any other changes you'd like to see?

[2019-10-16 12:47] pjsier commented on #891
Ah I missed that it was using the old one, yeah that would be great!

[2019-10-16 16:07] pjsier commented on #890
Closed by #892

[2019-10-16 16:07] #890 closed

[2019-10-16 21:16] pjsier commented on #891
Closed by #893

[2019-10-16 21:16] #891 closed

[2019-10-17 20:51] bendiller commented on #575
Hi Patrick - this one's looking dormant, can I take it?

[2019-10-17 21:12] pjsier commented on #575
Sounds good!

[2019-10-18 15:21] AlessandroVol23 commented on #568
Working on that :-)

[2019-10-18 16:45] bendiller commented on #575
Great! Would you mind taking a minute and going through a couple months on https://northrivercommission.org/events/ and listing out which you'd like the spider to process and which to ignore? I did a poor job of guessing on the last spider and wasted a bunch of time because of that.

Thanks!

[2019-10-18 17:09] pjsier commented on #575
I think it's safest to only include events with "Meeting", "Committee" or "Advisory Council" in the name or description. We can ignore the workshops and social events

[2019-10-18 17:43] bendiller commented on #575
Great, thanks!

[2019-10-18 23:24] bonfirefan opened #897 "Pipenv Locking Failure: urlparse"
[code]

[2019-10-18 23:47] pjsier commented on #897
I think urlparse is in the standard library?

[2019-10-19 01:22] bonfirefan commented on #897
We figured it out - the original update had included urlparse which is python 2 specific, upgraded to urllib, then forgot to take it out. We took it out.

[2019-10-19 01:22] #897 closed

[2019-10-19 12:21] travfu commented on #873
I'd like to have a go at this

[2019-10-19 12:43] pjsier commented on #873
@travfu all yours!

[2019-10-19 14:16] travfu commented on #873
@pjsier this url contains pdfs, are there other spiders that also parse pdf so I can see what dependencies were used instead of adding new ones.

[2019-10-19 14:19] pjsier commented on #873
We've been using PyPDF2, but I don't think you need to parse the PDFs here. Since it's rare that they post things in advance, we can verify that the 1:30 time hasn't changed and include a note in `time_notes` to confirm details with the agency

[2019-10-19 20:53] dweinzimmer commented on #856
Not sure if there's any particular hacktoberfest issue that would be good to try out for a first time open source contribution -- I'm seeing all of them have comments from folks

[2019-10-20 16:10] nolanee commented on #856
@dweinzimmer I was working on this one, but as long as it's okay with @pjsier, feel free to take over. You  can look over what I've done so far, if that helps. I got a little stuck and haven't had much time to make progress on it, but I did get it partially working.

[2019-10-20 18:01] dweinzimmer commented on #856
I started working yesterday on #849 just to try it out. If that goes well I will check back in here about this one! Seems like they might be somewhat similar, since that one also requires parsing a PDF.

[2019-10-20 21:55] pjsier commented on #856
@dweinzimmer sounds good! Sorry, we're at a shortage of issues at the moment

[2019-10-20 23:10] chandranathr commented on #681
Due to current personal issues, I do not have the time to work on this bug. Apologies for your time.

[2019-10-21 04:20] shafique18 commented on #680
can I work on it
please let me know what things need to scrape from the given site

[2019-10-21 11:40] pjsier commented on #680
@shafique18 sounds good! Everything you need to get started should be in the development documentation https://cityscrapers.org/docs/development/

[2019-10-21 15:00] zybex86 commented on #681
If unclaimed I'll have a go ;)

[2019-10-21 15:23] pjsier commented on #681
@zybex86 go for it!

[2019-10-21 19:14] glowingrunes commented on #854
Hi, new here and would like to give this a shot for Hacktoberfest!

[2019-10-21 20:07] pjsier commented on #854
@glowingrunes sounds good!

[2019-10-22 10:46] mmachado95 commented on #807
Hey @pjsier quick question the meetings location and time is provided by the pdf that opens up after you click the meeting link.
In this case do I try to get that data from the PDF or do we ignore it?

[2019-10-22 13:34] pjsier commented on #807
Ideally I think we should try and parse these PDFs since I'm also seeing cancellation notices inside https://www2.illinois.gov/idoc/Documents/SOMB%20Meeting%20Agenda%202019%20August.pdf. It might only be necessary to actually parse the agenda content since the minutes content shouldn't be different

[2019-10-22 13:49] mmachado95 commented on #807
Yeah some even have cancellation notes.
Thanks for the clarification 👍  will look into parsing the pdf.

[2019-10-22 13:50] pjsier commented on #807
We've been using PyPDF2 for that mostly, and there's an example in `chi_human_relations`

[2019-10-22 13:51] mmachado95 commented on #807
Oh that will make it easier, thanks for the help!

[2019-10-24 01:57] pjsier commented on #575
Closed by #900

[2019-10-24 01:57] #575 closed

[2019-10-24 02:14] pjsier opened #905 "Spider: Chicago Special Service Area #4 95th Street"
URL: https://95thstreetba.org/events/category/board-meeting/
Spider Name: chi_ssa_4
Agency Name: Chicago Special Service Area #4 South Western Avenue

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:17] pjsier opened #906 "Spider: Chicago Special Service Area #28 Six Corners"
URL: https://sixcorners.com/ssa28
Spider Name: chi_ssa_28
Agency Name: Chicago Special Service Area #28 Six Corners

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:18] pjsier opened #907 "Spider: Chicago Special Service Area #32 Auburn Gresham"
URL: https://auburngresham.wixsite.com/ssa32
Spider Name: chi_ssa_32
Agency Name: Chicago Special Service Area #32 Auburn Gresham

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:20] pjsier opened #908 "Spider: Chicago Special Service Area #50 Calumet Heights/Avalon"
URL: http://southeastchgochamber.org/special-service-area-50/
Spider Name: chi_ssa_50
Agency Name: Chicago Special Service Area #50 Calumet Heights/Avalon

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:21] pjsier opened #909 "Spider: Chicago Special Service Area #64 Walden Parkway"
URL: https://www.mpbhba.org/business-resources/
Spider Name: chi_ssa_64
Agency Name: Chicago Special Service Area #20 Walden Parkway

Will be identical to #880 except for the specific section

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:23] pjsier opened #910 "Spider: Cook County Emergency Telephone System Board"
URL: http://www.cookcounty911.com/
Spider Name: cook_emergency_telephone
Agency Name: Cook County Emergency Telephone System Board

We'll need to parse PDFs for this one, and there's an example in [`chi_human_relations`](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/chi_human_relations.py)

See the [contribution guide](https://cityscrapers.org/docs/development/#con

[2019-10-24 02:25] pjsier opened #911 "Spider: Cook County Justice Advisory Council"
URL: https://www.cookcountyil.gov/service/justice-advisory-council-meetings
Spider Name: cook_justice_advisory_council
Agency Name: Cook County Justice Advisory Council

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:27] pjsier opened #912 "Spider: Illinois Arts Council"
URL: http://www.arts.illinois.gov/about-iac/governance/council-meetings
Spider Name: il_arts_council
Agency Name: Illinois Arts Council
Meeting Name: Agency Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:29] pjsier opened #913 "Spider: Illinois Capital Development Board"
URL: https://www2.illinois.gov/cdb/about/boardmeetings
Spider Name: il_capital_development
Agency Name: Illinois Capital Development Board

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:32] pjsier opened #914 "Spider: Illinois Finance Authority"
URL: https://www.il-fa.com/
Documents URL: https://www.il-fa.com/public-access/board-documents/
Spider Name: il_finance_authority
Agency Name: Illinois Finance Authority

See the [contribution guide](https://cityscrapers.org/docs/development/#contribute) for information on how to get started

[2019-10-24 02:43] aneesh404 commented on #914
I'd like to work on this issue

[2019-10-24 02:48] pjsier commented on #914
@aneesh404 sounds good!

[2019-10-24 16:34] haworku commented on #911
Hey!  I'm going to try to work on this. Just forked the repo and got things up and running.

[2019-10-24 16:37] pjsier commented on #911
@haworku sounds great! This one should be pretty similar to [`cook_board_ethics`](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/cook_board_ethics.py), but we'll also need to pull documents from the main link in the description

[2019-10-24 21:01] channiemills commented on #797
I'll take a stab at this one if it's all good!

[2019-10-24 21:11] nikhilrbaradwaj commented on #797
go ahead, my bad on not being organized about this.

[2019-10-24 21:26] channiemills commented on #797
Hmm it appears the link is no longer available.

[2019-10-24 21:35] codevbus commented on #913
@pjsier  - I'd love to take this.

[2019-10-24 21:44] channiemills commented on #912
I'll take this one!

[2019-10-24 22:09] pjsier commented on #797
Gotcha, might be a temporary thing so we can leave it alone for now

[2019-10-24 22:09] pjsier commented on #913
@codevbus all yours!

[2019-10-24 22:10] pjsier commented on #912
@channiemills sounds good!

[2019-10-25 22:03] dalisaydavid commented on #910
👋 I'd like to take this one @pjsier!

[2019-10-25 22:06] pjsier commented on #910
@dalisaydavid sounds good!

[2019-10-25 22:08] dalisaydavid commented on #909
@pjsier I'll take this one too! :)

[2019-10-25 22:11] pjsier commented on #909
@dalisaydavid we try to stick to claiming one issue at a time, but after the other one gets merged you're welcome to this one!

[2019-10-25 22:11] dalisaydavid commented on #909
Oh, fair enough!

[2019-10-27 22:54] jingwu21 commented on #806
I am implementing the test cases for my spider but when I run pytest I get errors saying "IndexError: list index out of range".  `test_response = file_response(
    join(dirname(__file__), "files", "il_procurement_policy.html"),
    url="https://www2.illinois.gov/sites/ppb/Pages/future_board_minutes.aspx",
)
spider = IlProcurementPolicySpider()

freezer = freeze_time("2019-10-07")
freezer.start()

[2019-10-27 22:57] pjsier commented on #806
It might be worth double-checking what's in the HTML file or possible regenerating it from what you're seeing at that URL currently to be sure that the right output is in there

[2019-10-27 23:13] jingwu21 commented on #806
Thank you. I manage to get the errors down to 3.

[2019-10-28 02:39] luchiago commented on #908
Hi, I would like to work on that.

[2019-10-28 02:44] pjsier commented on #908
@luchiago sounds good!

[2019-10-28 04:26] julytn commented on #905
I can take this one

[2019-10-28 11:24] aneesh404 commented on #914
Hi! I'm sorry I'm not getting time to work on this issue. Please feel free to assign it to someone else.

[2019-10-28 12:36] pjsier commented on #905
Sounds good!

[2019-10-29 01:05] 321lizzy commented on #692
I would be interested in working on this!

[2019-10-29 01:05] 321lizzy commented on #692
I would be interested in working on this if help is still needed

[2019-10-29 02:01] pjsier commented on #692
@321lizzy sounds good! The use of signals like in [`il_pollution_control`](https://github.com/City-Bureau/city-scrapers/blob/da63ceced21483ae9b8d7ce9639b81fd5c08aa44/city_scrapers/spiders/il_pollution_control.py#L33-L38) might be a useful reference for this

[2019-10-29 21:43] luchiago commented on #908
Hey @pjsier, the URL just have the dates of the meetings. Is that all do I have to extract?

[2019-10-29 23:37] pjsier commented on #912
Closed by #916

[2019-10-29 23:37] #912 closed

[2019-10-29 23:38] pjsier commented on #908
@luchiago yep, that's it! Some of the sites have a lot less information than others

[2019-10-30 00:14] codevbus commented on #906
@pjsier - I'll grab this one

[2019-10-30 00:22] janeskim commented on #914
Hi! It looks like this issue isn't claimed. Is it ok if I work on this issue?

[2019-10-30 00:23] TimmyV117 commented on #909
@pjsier Mind if I take this?

[2019-10-30 00:46] rosemarymomoh commented on #728
hi @pjsier , doesn't look like there's been an update on this for a while now, mind if I take a stab at this?

[2019-10-30 00:48] rosemarymomoh commented on #572
hi @pjsier, looks like there hasn't been an update on this for a while now, mind if I take a stab at it?

[2019-10-30 00:51] channiemills commented on #846
I'll work on this one!

[2019-10-30 00:51] pjsier commented on #914
@janeskim all yours!

[2019-10-30 00:51] pjsier commented on #909
@TimmyV117 sounds good

[2019-10-30 00:52] pjsier commented on #572
@rosemarymomoh go for it!

[2019-10-30 00:54] pjsier commented on #846
@doubledare704 are you still working on this? If not you're good to go @channiemills, looks like the site is back up

[2019-10-30 01:26] eabedrapo commented on #907
I'll work on this one!

[2019-10-30 01:33] pjsier commented on #907
@eabedrapo sounds great!

[2019-10-30 02:13] pjsier commented on #913
Closed by #917, thanks @codevbus!

[2019-10-30 02:13] #913 closed

[2019-10-30 02:13] pjsier commented on #906
Sounds good!

[2019-10-30 19:38] mingchan96 commented on #672
Hi. For a class, my partner and I are looking for an issue to contribute to. I was wondering if this issue is still up for grabs?

[2019-10-30 19:45] pjsier commented on #672
@mingchan96 this is open, all yours if you're interested!

[2019-11-01 01:25] pjsier commented on #906
Closed by #921, thanks @codevbus!

[2019-11-01 01:25] #906 closed

[2019-11-01 14:21] pjsier commented on #846
Closed by #922, thanks @channiemills!

[2019-11-01 14:21] #846 closed

[2019-11-03 19:21] zybex86 commented on #681
Almost finished it - need to test it, as the author of the site has done some CRAZY HTML bindings... Also, should I scrape the most recent meetings? There is a meeting not mentioned in the list at the bottom...

[2019-11-03 20:40] pjsier commented on #681
@zybex86 great! We should scrape the past few years of meetings here, are there any meetings you're referring to in particular? Might be worth adding a check in the loop that the meeting is within the past 2 years or so before yielding it though

[2019-11-04 05:29] zybex86 commented on #681
I'm referring to the 2-3 meetings in the h2 tags that start with days of the week... They are written just before the `meetings and agendas`. The others are ones in this year and prior. Also the full address is in those above (as it implies that sometimes the meeting is in a different place, but I think the extra files point to that)

[2019-11-04 13:24] pjsier commented on #681
Yeah, I think those meetings are a high priority, and the address being at the top of the page is pretty common. We've used [`_validate_location`](https://cityscrapers.org/docs/development/#location) functions for that in the past to make sure that it hasn't changed

[2019-11-04 15:11] #908 closed

[2019-11-04 15:11] pjsier commented on #908
Closed by #923, thanks @luchiago!

[2019-11-10 17:34] pjsier commented on #873
Closed by #926, thanks @travfu!

[2019-11-10 17:34] #873 closed

[2019-11-10 23:44] eabedrapo commented on #907
Hi @pjsier, I've been trying to get the elements for each meetings in the page of this organization, but they're using a Google Calendar plugin that feeds an AngulaJS function that makes almost impossible to get meeting details such as date, location, etc.

Maybe I should leave this issue to someone with more knowledge on how we can mine the information in this AngularJS/GoogleCalendar plugin and

[2019-11-11 00:08] pjsier commented on #907
We have an example of this in [`chi_ssa_69`](https://github.com/City-Bureau/city-scrapers/blob/da63ceced21483ae9b8d7ce9639b81fd5c08aa44/city_scrapers/spiders/chi_ssa_69.py) that should work with minimal changes if you're still interested in taking it on. You can swap out the URL with this one (changing parameters where needed) `https://www.googleapis.com/calendar/v3/calendars/gagdcchicago%40gmail.

[2019-11-11 02:40] eabedrapo commented on #907
Great! I'll look into it tomorrow.
Thanks @pjsier!

[2019-11-13 13:48] #806 closed

[2019-11-13 13:48] pjsier commented on #806
Closed by #925, thanks @jingwu21!

[2019-11-13 13:49] #907 closed

[2019-11-13 13:50] pjsier commented on #907
Closed by #927, thanks @eabedrapo!

[2019-11-13 15:18] eabedrapo commented on #907
You're welcome! I'll try to check around if I can take another one now that I have my environment configured :wink:

BTW: it was a little challenging configuring my env both in Mac and Windows (different challenges in each platform)... shall I prepare some document to improve what is already in place to get new contributors onboard? Let me know.

[2019-11-13 15:23] pjsier commented on #907
Anything you ran into would be great to hear, thanks!

[2019-11-14 12:00] WhatAreYouSaying commented on #569
Can I have a try on this spider?

[2019-11-14 12:15] WhatAreYouSaying commented on #698
Is this issue claimed or finished now?

[2019-11-14 14:11] pjsier commented on #698
@WhatAreYouSaying this one is available, but it's all yours if you want it

[2019-11-14 15:18] WhatAreYouSaying commented on #698
@pjsier
I try to search in the website manually, but all I got was results not found.
Is there any problem with my approach?

[2019-11-14 15:36] pjsier commented on #698
Some of these might not actually have any events on the site, so you're welcome to take a different issue if they aren't showing up

[2019-11-15 00:30] WhatAreYouSaying commented on #728
If this issue is unclaimed, I would like to work on that.

[2019-11-15 12:12] pjsier commented on #728
@WhatAreYouSaying all yours!

[2019-11-17 13:22] Mc33k commented on #569
Hi, I would like to take a look at this issue.

[2019-11-17 18:27] pjsier commented on #569
@Mc33k all yours!

[2019-11-17 21:15] haidtang commented on #676
If this issue is unclaimed, I would like to work on that.

[2019-11-18 00:23] haidtang commented on #566
Is this one unclaimed? If it is not claimed by someone else, I would like to work on it.

[2019-11-18 00:46] pjsier commented on #676
@haidtang sure! In general we like to contributors to stick to one issue at a time, so I'll assign you to this one for now and not the other. Let me know if you'd like to switch that though

[2019-11-18 01:10] haidtang commented on #676
@pjsier I got it. Could you please switch me to the other issue #566, I think that I have a better clue on how to deal with that one. Thank you so much.

[2019-11-18 01:18] pjsier commented on #676
Sure thing!

[2019-11-21 02:15] timsmaluk commented on #797
This is the new link: https://www.govst.edu/BOT-Meetings/
I am new to OSS, but could I try this one?

[2019-11-21 12:11] pjsier commented on #797
@timsmaluk all yours!

[2019-11-21 14:02] jusadi commented on #574
It looks like the old URL is 404-ed. Looks like a possible replacement is: [https://www.51ststreetchicago.com/about.html](https://www.51ststreetchicago.com/about.html).

[2019-11-21 14:10] pjsier commented on #574
@jusadi that looks right! Are you interested in working on this one?

[2019-11-21 14:27] jusadi commented on #574
Yeah! I'd work on it.

[2019-11-21 21:59] radoslawkrolikowski commented on #675
This issue is unclaimed and seems that no one is active. I would like to have a go at this, if it is available?

[2019-11-21 22:07] pjsier commented on #675
@radoslawkrolikowski yep, it's been inactive long enough that it's all yours. Assigning you now

[2019-11-22 19:36] luchiago commented on #710
Is this issue still need help?

[2019-11-22 19:36] luchiago commented on #680
Is this issue still need help?

[2019-11-22 19:36] luchiago commented on #559
Is this issue still need help?

[2019-11-22 19:39] luchiago commented on #807
Is this issue still need help?

[2019-11-22 19:39] luchiago commented on #808
Is this issue still need help?

[2019-11-22 19:54] radoslawkrolikowski commented on #675
I encountered problems while calling `pytest`. The following is the one of the errors that regards the `legistar`:
![image](https://user-images.githubusercontent.com/55454254/69454810-5cec3d00-0d67-11ea-93f8-e0241ecba35c.png)
My local fork is up-to-date with the upstream, I also installed requirements one more time in my virtual env, in case something has changed. I would like to emphasize that I

[2019-11-22 20:45] pjsier commented on #675
You might need to re run pipenv sync because city-scrapers-core was updated.

For start URLs, we would want all of the HTML files to be in the tests directory, and you might try looking at start_requests in the scrapy documentation as a way of doing something similar. If you need the results of each page to go to the next page this approach might not work though because the requests can be concurr

[2019-11-23 22:57] pjsier commented on #808
@luchiago this and some of the other issues you commented on are open, but we ask that contributors only work on one scraper at a time. Is there one you're most interested in starting on?

[2019-11-23 23:07] mmachado95 commented on #807
Hey sorry I've been a bit delayed with this issue, work stuff got a bit in the way.
I'm working on it still

[2019-11-24 16:05] luchiago commented on #807
@mmachado95 that's ok, no problem. Good job.

[2019-11-24 16:48] luchiago commented on #808
@pjsier I would like to work on #680.

[2019-11-24 17:21] pjsier commented on #680
@luchiago assigning you here, @shafique18 let me know if you're still working on it but according to our contributing guidelines we sometimes need to reassign issues if they've been inactive for more than 30 days

[2019-11-25 00:36] luchiago commented on #680
@pjsier I made a mistake, I wrote the wrong issue. Is the #808, because the link of this issue seems broken. Check my comment at #808.

[2019-11-25 01:02] pjsier commented on #808
Gotcha, assigned here

[2019-11-25 01:10] luchiago commented on #808
Thanks man.

[2019-11-26 16:25] luchiago commented on #808
@pjsier The link seems broken. What should I do?

[2019-11-26 16:38] pjsier commented on #808
Both links look fine to me, not sure where the error would be coming from

[2019-11-26 19:59] luchiago commented on #808
@pjsier Should I crawl the docs from the `Doc URL`?

[2019-11-26 21:10] pjsier commented on #675
Closed by #931, thanks @radoslawkrolikowski!

[2019-11-26 21:10] #675 closed

[2019-11-28 19:16] luchiago commented on #808
@pjsier I'm facing trouble to crawl this site. Can I work in another spider?

[2019-11-29 14:13] pjsier commented on #808
Sure, just comment on a spider you'd want to work on next

[2019-11-29 23:06] luchiago commented on #718
Can I grab this one? @pjsier

[2019-11-30 18:03] pjsier commented on #718
All yours! @luchiago

[2019-11-30 21:32] pjsier commented on #698
No info online, closing

[2019-11-30 21:32] #698 closed

[2019-11-30 21:32] pjsier commented on #710
No events online, closing

[2019-11-30 21:32] #710 closed

[2019-11-30 21:39] pjsier opened #935 "Looking for issues to work on? Start here!"
The City Scrapers project is split into multiple repos for different locations. You can see a list of these projects by checking out the [city-scrapers](https://github.com/topics/city-scrapers) topic tag. Issues that are open for contributors are labeled "help wanted".

Check out our [contributing guidelines](https://github.com/City-Bureau/city-scrapers/blob/master/CONTRIBUTING.md) and [developmen

[2019-12-03 13:55] BurakcanK commented on #808
Hi, I am fairly new to open-source projects but curious nevertheless, could I have a go if that's possible ?

[2019-12-03 16:04] pjsier commented on #808
@BurakcanK all yours! Assigning you now

[2019-12-03 21:56] erik-kristofer-anderson commented on #680
This looks available, so I'd like to claim it.
Within a week, I'll come back here and comment on my progress. (If it turns out I'm in over my head I'll bow out at that point.)

[2019-12-03 22:16] pjsier commented on #680
@erik-kristofer-anderson sounds good!

[2019-12-11 12:49] maykonmenezes commented on #772
is it still available? I'm interested in helping out with this one.

[2019-12-11 12:56] EmefaA commented on #772
Hi @maykonmenezes I am still working on this project

[2019-12-11 13:05] maykonmenezes commented on #692
Can I grab this one?

[2019-12-11 13:20] maykonmenezes commented on #856
is there someone working on this?

[2019-12-11 14:42] pjsier commented on #856
@maykonmenezes it's been over a month since the last activity, so I'll go ahead and assign you over at the `city-scrapers-det` repo and close this issue

[2019-12-11 14:42] #856 closed

[2019-12-11 16:16] erik-kristofer-anderson commented on #680
@pjsier I'm going to bow out at this point. Please mark this as un-claimed.

[2019-12-11 16:24] pjsier commented on #680
thanks for the heads up!

[2019-12-15 06:17] zybex86 commented on #681
I think I finished this. Can sb check the issue?

[2019-12-15 20:28] Mc33k commented on #569
Hi, I just wanted to let you know, that I was not able to make a lot of progress due to lack of free time. However that should not be a problem during Christmas and I still want to continue to work on this issue.

[2019-12-15 23:00] pjsier commented on #808
Closed by #938

[2019-12-15 23:00] #808 closed

[2019-12-17 05:59] JordanLozinski commented on #905
is this still being worked on?

[2019-12-17 15:07] pjsier commented on #905
@JordanLozinski since there haven't been any updates in over a month it's all yours if you're interested

[2019-12-17 20:53] JordanLozinski commented on #905
Sounds good. I'll start soon.

[2019-12-18 02:46] nick-symon commented on #680
@pjsier Hi! I'd like to claim this issue and begin work on it!

[2019-12-18 13:42] pjsier commented on #680
@nick-symon sounds good!

[2019-12-20 21:43] JordanLozinski commented on #905
I could use some advice from somebody who's better at Scrapy than I am (this is my first time using it)

From [chi_ssa_4.py](https://github.com/JordanLozinski/city-scrapers/blob/0905-spider-chi_ssa_4/city_scrapers/spiders/chi_ssa_4.py)
[code]
At the start page, there are only ten meetings on the page, once I finish the page I check for the "next events" button at the bottom and try to scrape it (`

[2019-12-26 14:28] pjsier commented on #905
@JordanLozinski I left some comments on #941 related to this, but in general it looks like [`cook_landbank`](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/cook_landbank.py) could be a good template to follow here

[2019-12-27 21:15] JordanLozinski commented on #905
Thank you. I'll start working on this

[2020-01-10 20:56] pjsier commented on #569
Closed by #942, thanks @Mc33k!

[2020-01-10 20:56] #569 closed

[2020-01-17 14:55] pjsier commented on #680
Closed by #944, thanks @nick-symon!

[2020-01-17 14:55] #680 closed

[2020-01-17 15:10] nick-symon commented on #559
Hi there! I'd like to claim this if its still available

[2020-01-17 15:13] pjsier commented on #559
@nick-symon sounds good! Assigning you now

[2020-01-24 06:11] egfrank commented on #676
Hey is this issue unclaimed? I'd be happy to work on this one if so. Also, it seems like it will involve reading pdfs; has that been done within this project before?

[2020-01-24 19:25] pjsier commented on #676
It looks like it's been inactive for more than a month, so it's all yours if you're interested!

[2020-01-28 20:05] jusadi commented on #574
The page does not seem updated for 2020.

[2020-01-31 18:38] pjsier commented on #574
It looks like they didn't update the header but the dates are updated now @jusadi

[2020-02-02 03:45] egfrank commented on #676
https://docs.scrapy.org/en/xpath-tutorial/topics/xpath-tutorial.html

[2020-02-04 13:59] cedarfall commented on #910
Is this still being worked on? If not, I'd like to work on it.

[2020-02-04 14:09] pjsier commented on #910
It hasn't been active in a while, so it's all yours @cedarfall

[2020-02-06 03:48] benjaminfawcett commented on #879
If there's no progress being made here I'd like to take a stab at it.

[2020-02-06 04:45] benjaminfawcett commented on #880
I'm interested in taking a stab at this one if no one else is actively working on it

[2020-02-06 13:02] pjsier commented on #879
@benjaminfawcett feel free to take this one! Saw your comment on the other issue, and we try to have people work on one at a time, but you're welcome to take that one after this is finished

[2020-02-06 13:04] #850 closed

[2020-02-06 13:04] pjsier commented on #849
Closing because this has been moved

[2020-02-06 13:04] #849 closed

[2020-02-06 23:22] benjaminfawcett commented on #558
https://greektownchicago.org/about/ssa-16/ Found this site that seems to be reporting information of interest. Interested in working on this issue.

[2020-02-08 18:12] egfrank commented on #676
Hi @pjsier, most of information for these meetings is included in PDFs of the minutes and agenda for each meeting. Are there any other spiders that have downloaded / parsed PDFs in this project already?

Just working on my own computer, I'm able to parse the files using the package `pdfminer.six` which I just found via googling, but was the most highly recommend Python package for reading PDFs tha

[2020-02-08 21:08] pjsier commented on #676
@egfrank thanks for checking that out! We're currently using PyPDF2, but we've used `pdfminer.six` on another project. Here's an example in `chi_human_relations`:

https://github.com/City-Bureau/city-scrapers/blob/a6a0ea801c94ab8cbab8345cf34053fd3e49fe5e/city_scrapers/spiders/chi_human_relations.py#L56-L68

For now let's see if the parsing will work in PyPDF2, but if you run into more issues I thi

[2020-02-08 21:20] egfrank commented on #676
Oh awesome I don't know why I missed that in the codebase! Sweet okay I'll look at PyPDF2 and BytesIO.

[2020-02-08 21:48] pjsier commented on #559
Closed by #945, thanks @nick-symon!

[2020-02-08 21:48] #559 closed

[2020-02-10 03:48] pjsier commented on #558
Closed by #947, thanks @benjaminfawcett!

[2020-02-10 03:48] #558 closed

[2020-02-10 18:45] nick-symon commented on #692
Hi Pat! I'd like to claim this one. As mentioned in your earlier comment, any spiders based on similarly structured sites for reference would be helpful. Thanks!

[2020-02-10 20:35] pjsier commented on #692
@nick-symon sounds good! `il_pollution_control` is the only one that comes to mind for now

[2020-03-06 23:37] mesterhammerfic commented on #914
If this one is open I'm going to work on it

[2020-03-08 18:58] zuzaman commented on #562
@pjsier! Hello! I would like to give this issue a go. I can see that the previous contributor already found the live link where the next meeting schedules are shared.

[2020-03-08 22:49] zuzaman commented on #562
So I played around a bit, as web scraping is a completely new thing for me, and now I have a mock version that that creates the meeting entries for the current year.

As this is my first commit I would like to ask two questions:
1. Are the dates between 2016-2019 also interesting for the scraper? Or only the ones of the current year?
2. Pre-2020 meetings have in this case agendas and meeting minut

[2020-03-09 17:02] pjsier commented on #914
@mesterhammerfic sounds great! Assigning you now

[2020-03-09 17:05] pjsier commented on #562
@zuzaman sounds great! For the first question, they're interesting if they follow the same format, but we don't always want to slow down the spider by pulling them every day. We've been using a `CITY_SCRAPERS_ARCHIVE` setting to control pulling older meetings where it's easy, but if it introduces complications feel free to ignore them https://github.com/City-Bureau/city-scrapers/blob/c835f0cedd366

[2020-03-09 22:39] zuzaman commented on #562
Ok thanks for the hints. I opened a pull request.

[2020-03-14 19:20] KilimAnnejaro commented on #854
Hi, could I help out with this issue? Thanks!

[2020-03-15 16:04] pjsier commented on #854
@KilimAnnejaro sure! Assigning you now

[2020-03-31 10:50] RebeccaCurry commented on #911
Hi, I'm new to contributing and there's a lot of libraries in this I'm not super familiar with, but I'd like to give this a shot. I know your project is listed as friendly to beginners. Hopefully I won't be putting that too much up to the test!

[2020-03-31 11:22] pjsier commented on #911
@RebeccaCurry all yours! Feel free to ask any questions that come up

[2020-04-01 20:31] ekand commented on #672
I'd like to claim this one, please.

[2020-04-01 21:22] mingchan96 commented on #672
@ekand you can have it. My partner and I are currently business with other projects.

[2020-04-02 12:54] pjsier commented on #672
@ekand all yours!

[2020-04-03 17:27] ekand commented on #672
@pjsier Thanks!
I'll start by studying the contributors guide and try to have something in a pull request in two weeks.

[2020-04-04 00:44] the-raj commented on #909
@pjsier Could I take a shot at this issue if it is still open? I am already working through the contribution guide.

[2020-04-04 02:00] pjsier commented on #909
@the-raj all yours!

[2020-04-11 16:35] KilimAnnejaro commented on #854
Just want to add a documentation note here: per discussion on Slack, we won't be using OCR to scrape the image at the top of the page. Instead we will be scraping the PDF links below that to get Meeting objects.

[2020-04-13 04:59] alexanderwoo commented on #905
@pjsier Hi Patrick, I can work on this

[2020-04-13 11:57] pjsier commented on #905
@alexanderwoo sounds good! Assigning you now

[2020-04-14 04:07] alexanderwoo commented on #905
@pjsier I see that this one doesn't have any documents, am I scraping for just the time and date? Or are there some documents that I cannot seem to find?

[2020-04-14 12:05] pjsier commented on #905
@alexanderwoo It looks like some in the past have, you can take a look at the last PR for this to see how they showed up in the past #941

[2020-04-14 16:23] vidya0279 opened #950 "City governance agenda"

[2020-04-14 16:30] pjsier commented on #950
Could you add some more information about this issue so we can figure out the best way to address it? Thanks!

[2020-04-21 18:32] ekand commented on #672
@pjsier Well, I'm sorry to do this again, but I'm going to bow out and release this task. I just got a job (yay!) and I'm going to proritize that for now.

[2020-04-21 18:57] pjsier commented on #672
@ekand no problem, and congrats on the job!

[2020-04-22 06:32] alexanderwoo commented on #905
@pjsier It looks like the code was left off at dynamically generating the URL. However, the URLs don't require the date as we're parsing with POST responses. The previous user suggested dynamically generating the start date for POST responses. I'm not too sure how to go about that, any suggestions? Or is there another way of parsing future posts you'd recommend?

[2020-04-28 13:12] pjsier commented on #905
Sorry, I've been a bit out of the loop on this one so let me know if I'm misunderstanding, but after looking at this again it seems like they have the WordPress JSON endpoint enabled here https://95thstreetba.org/wp-json/tribe/events/v1/. There's some documentation in that response, but in general this might be more straightforward to filter using the parameters documented there on this endpoint h

[2020-05-09 05:32] maxnawa31 commented on #669
Hi, can i take this task on?

[2020-05-10 00:13] pjsier commented on #669
@maxnawa31 all yours!

[2020-05-10 11:10] rajat641 commented on #880
I'm interested in working on this.

[2020-05-10 11:12] rajat641 commented on #855
I can work on this. @pjsier can you please assign it to me.

[2020-05-10 14:09] pjsier commented on #855
@rajat641 thanks for the interest! We try to limit people to one issue at a time (more info in our [`CONTRIBUTING.md`](https://github.com/City-Bureau/city-scrapers/blob/master/CONTRIBUTING.md)) so let me know which one you'd like to work on first!

[2020-05-12 11:18] zuzaman commented on #847
I just wanted to check this issue and saw that the https://www2.illinois.gov/ website is not reachable. do you possible know if they moved to a new host?

[2020-05-12 11:19] zuzaman commented on #561
I would like a claim on this please.

[2020-05-12 12:09] pjsier commented on #562
Closed by #949, thanks @zuzaman!

[2020-05-12 12:09] #562 closed

[2020-05-12 12:10] pjsier commented on #847
@zuzaman we've had issues with people outside of Illinois and/or the US accessing that URL. Not sure if that applies to you, but it's showing up for me still

[2020-05-12 12:11] pjsier commented on #561
@zuzaman I'll mark it claimed now

[2020-05-12 12:16] zuzaman commented on #847
@pjsier  Ok, thanks. Well then I will leave this issue as I am from the EU. :)

[2020-05-13 07:07] rajat641 commented on #855
Hi @pjsier , It's my first open-source project but I can't find anything available right now. Almost all are 'Claimed'. Please assign me some issue for your choice.

[2020-05-13 12:27] the-raj commented on #909
@pjsier Hi, I unfortunately couldn't manage to get the scraper code working. Sorry for the late response.

[2020-05-13 13:56] pjsier commented on #855
Feel free to grab anything that's marked claimed but hasn't been updated in at least a month. I'll try and do some cleanup of those too

[2020-05-19 14:15] pjsier commented on #561
Closed by #953, thanks @zuzaman!

[2020-05-19 14:15] #561 closed

[2020-05-19 16:02] zuzaman commented on #566
@pjsier I would take this if that is OK

[2020-05-19 16:04] #950 closed

[2020-05-19 16:04] pjsier commented on #566
@zuzaman sounds good!

[2020-05-25 15:21] DiegoCaraballo commented on #909
Hello @pjsier how are you?
I wish I could contribute to this spider.
Regards, Diego

[2020-05-26 12:36] pjsier commented on #909
@DiegoCaraballo all yours! Assigning you now

[2020-05-27 04:33] DiegoCaraballo commented on #909
Hello @pjsier This is the area to be extract, right?
![1](https://user-images.githubusercontent.com/21015263/82978033-f7009c80-9fb9-11ea-9615-8af40f7b059f.PNG)

[2020-05-27 13:10] pjsier commented on #909
@DiegoCaraballo that's it, but only the section for SSA 20. They haven't updated with the 2020 schedule yet, so we'll want to make sure the year is included in what we're scraping

[2020-06-04 23:20] SubtleHyperbole commented on #847
I am trying to see whether I could do this as my first contribution, but I’m running into a problem.  I follow the instructions you provided on cloning the git locally and then using pipenv to create a virtual environment on a new branch with this issue # in tfw format suggested, with all the necessary dependencies,

I am running into two issues.  The first is that, at this point, I open up the sp

[2020-06-05 00:15] pjsier commented on #847
@SubtleHyperbole sorry about that! Not sure what the issue is with Atom, but we don't support Jupyter Notebooks specifically.

What issue are you running into on Atom? I can see Jupyter not including the dependencies, but I've run the repo on both Mac and Linux using VSCode, and if you're running the commands in a separate terminal that you enter with `pipenv shell` or prefix commands with `pipenv

[2020-06-05 00:24] SubtleHyperbole commented on #847
ohh so i can run the same virtual environment in other editors -- i would just need to actually enter them first?  Okay i'll try that.

I am still curious though about the legistar thing -- is legistar necessary to run city_scrapers_core? Perhaps the places I read that it doesn't support Mac OSX were old, and that now it does support it.

I will check all these things out.  If I manage to get up a

[2020-06-05 00:48] SubtleHyperbole commented on #847
nevermind I figured out how to install it.  For some reason legistar isn't on pypi, so you have to install it directly from git.  I didn't know that you could feed pip a url to a github location of a library and it would still install it.  Learn something new every day :)

[2020-06-05 01:24] SubtleHyperbole commented on #847
in the following line of code:

test_response = file_response(
    join(dirname(__file__), "files", "il_corrections.html"),
    url="https://www2.illinois.gov/idoc/aboutus/advisoryboard/Pages/default.aspx",
)

where does the variable __file__ inside dirname() call supposed to come from? I cant find any source or reference to a class method of it anywhere and my interpreter is throwing an exception

[2020-06-05 06:59] SubtleHyperbole commented on #847
So should the spider scrape and return just those meetings that have not yet happened?

Or should it pull past meetings and return data for those as well?

[2020-06-05 14:44] pjsier commented on #847
We're interested in all meetings available, past and future as well as any documents like agendas or minutes that are attached

[2020-06-05 14:57] pjsier commented on #909
Closed by #955, thanks @DiegoCaraballo!

[2020-06-05 14:57] #909 closed

[2020-06-05 15:24] DiegoCaraballo commented on #848
Hello @pjsier
I would like to start working here.
Regards

[2020-06-06 03:06] SubtleHyperbole commented on #847
Hi Pjsier -- I am looking at the website affiliated with this issue -- for the advisory board for the illinois department of corrections -- when I pull it up, it looks to me that they haven't been posting full meeting schedules since 2016.  There are some "advance notices" for individual meetings, but the most recent one of those is from January 2019.

After that January 2019 meeting, they have ag

[2020-06-06 14:26] amlehman commented on #857
I would be interested in this one if it's free.

[2020-06-07 22:46] SubtleHyperbole commented on #672
Hey Pj, so I am working on this one (bc the illinois department of corrections seems to have not been doing what they are supposed to do in terms of posting info about public meetings for the last couple years), and I have a question.

It looks like, in general, the response variable used in the test .py is coming from a method called file_response which pulls a saved offline version of the webpag

[2020-06-08 03:25] jaspsingh commented on #572
Hey @pjsier, I'd be interested in helping with this issue. Could I claim it?

[2020-06-08 04:17] jaspsingh commented on #855
Hey @pjsier, I'm interested in helping with this one but it looks like they've posted a "suspension of meetings" notice for the duration of the coronavirus–would this still be available to work on?

[2020-06-08 13:11] pjsier commented on #847
A lot of boards aren't publishing meetings as often as they're supposed to, but we're still interested in pulling their documents whether or not they're posting them in the required time frame since it's information that isn't collected anywhere else

[2020-06-08 13:11] pjsier commented on #857
Sounds great! Assigning you now @amlehman

[2020-06-08 13:13] pjsier commented on #572
Hi @jaspsingh, thanks for your interest! It's our policy right now to limit contributors to [one issue at a time](https://github.com/City-Bureau/city-scrapers/blob/master/CONTRIBUTING.md#1-find-an-open-issue-to-work-on), so let me know which of the issues you commented on you'd like to start with.

[2020-06-08 13:14] pjsier commented on #848
Sounds great! Assigning you now @DiegoCaraballo

[2020-06-08 13:19] pjsier commented on #672
Hi @SubtleHyperbole, I commented on the other issue but we are still interested in agencies that aren't updating as often as they should be. If you'd like to do this one instead let me know.

For your question on `file_response`, we've been generally saving the HTML files for other pages manually with something like `wget` or `curl` since it's on a case-by-case basis and the template is focused on

[2020-06-08 13:37] DiegoCaraballo commented on #848
The extraction includes everything?
![wayne](https://user-images.githubusercontent.com/21015263/84036707-f847a700-a973-11ea-9592-04ddeb5382c1.PNG)

[2020-06-08 13:47] pjsier commented on #848
Yep, and we'll want to pull information from detail pages if available

[2020-06-08 21:08] bchao99 commented on #911
Hi! It looks like there hasn't been any activity on this issue for the past 30 days so I was wondering if I could work on this.

[2020-06-09 04:30] SubtleHyperbole commented on #672
great thank you!

[2020-06-09 04:37] SubtleHyperbole commented on #672
Actually are you sure its ssa_42?  I'm looking on their website at both https://ssa42.org/ssa-42-meeting-dates/ and https://ssa42.org/minutes-of-meetings/ but I don't see any additional pages of meetings info.

[2020-06-09 12:47] pjsier commented on #911
@bchao99 sounds good!

[2020-06-09 12:48] pjsier commented on #672
That scraper is just one example of including an additional page. [`il_commerce`](https://github.com/City-Bureau/city-scrapers/blob/e4940eae961ba5048c50144e85b1bd59d150d1b5/city_scrapers/spiders/il_commerce.py) is another example that might be more similar, but either one is following the same overall idea of downloading separate pages to HTML for tests

[2020-06-10 01:52] jaspsingh commented on #572
Hey @pjsier, I'd like to start with this one.

[2020-06-10 18:05] pjsier opened #957 "Drop support for Python 3.5"
Python 3.5 will reach end of life in [September of this year](https://devguide.python.org/#status-of-python-branches), and it's caused a significant amount of issues in tests. Unless there are any significant objections, we should probably drop support

[2020-06-10 18:06] pjsier opened #958 "Migrate to black from yapf for style"
[`black`](https://github.com/psf/black) seems like it's becoming the standard for Python formatting, and it's a lot easier to use than yapf.

Part of the reason we've held off has been that you can only run black with Python 3.6 and above and we still support Python 3.5. If we make changes for #957 this shouldn't be an issue anymore

[2020-06-11 16:42] #957 closed

[2020-06-11 18:45] #958 closed

[2020-06-16 15:22] ledaliang commented on #914
Hi, I was wondering If I could work on this issue if it hasn't been active recently. Thanks!

[2020-06-16 15:47] pjsier commented on #914
@ledaliang thanks for your interest! We try to limit contributors to [one issue at a time](https://github.com/City-Bureau/city-scrapers/blob/master/CONTRIBUTING.md#1-find-an-open-issue-to-work-on), but once your other PR is merged you can feel free to work on this one

[2020-06-20 17:02] zahralizadeh commented on #855
Hi, I 'll be happy to help with this issue.

[2020-06-20 19:05] pjsier commented on #855
@zahralizadeh sounds good! All yours

[2020-06-25 13:14] pjsier commented on #911
Closed by #961

[2020-06-25 13:14] #911 closed

[2020-06-25 15:23] ledaliang commented on #905
Hi, can I claim this if its no longer being worked on?

[2020-06-25 17:56] alderocas commented on #772
Hi Patrick, I'd like to work on this

[2020-06-25 18:13] pjsier commented on #905
@ledaliang sounds good! I'll assign you now

[2020-06-25 18:13] pjsier commented on #772
@alderocas sounds good! I'll mark this claimed

[2020-06-25 19:43] SubtleHyperbole commented on #672
Okay so I think I have the spider for this finished and (at least from what I can see) have the tests page also finished.

Unfortunately, because I bounced around on a couple of other issues before finally landing on this one to complete, there are files within my file directory which aren't correct (they have default spiders and test pages for il_corrections, chi_housing, and cook_human_rights),

[2020-06-25 21:35] pjsier commented on #672
@SubtleHyperbole glad to hear it! You should be able to only stage the files that are relevant and then commit those. So it could be something like this:

[code]

And "pull request" is a GitHub-specific term (GitLab uses "merge request"), but my understanding has been because it's requesting the project maintainer to "pull" in your changes

[2020-06-25 21:50] SubtleHyperbole commented on #672
oh, duh.  lol that makes sense.  I have a tendency to only think about things from my own perspective sometimes hah!

[2020-06-26 19:01] PatrickKlingler commented on #914
Hi there I've only just asked for a Slack invite, but could I start working on this now?

[2020-06-26 19:39] pjsier commented on #914
@PatrickKlingler sure! Marking it claimed now

[2020-06-26 20:22] SubtleHyperbole commented on #672
crap.  I just submitted the request and realized that I never ran those code cleaners the faq says to run on the code beforehand.  Lint i think?

[2020-06-26 21:16] pjsier commented on #672
@SubtleHyperbole No problem! I'm not seeing the request, but it's fine to make commits to a branch after you've opened up a pull request, and that's usually the case when we review them. You can run the style checks with [these commands in the docs](https://cityscrapers.org/docs/development/#6-run-linting-and-style-checking-tools)

[2020-06-26 21:43] SubtleHyperbole commented on #672
hmmm i ran those three lines of code you listed in the last post into my terminal, while inside the pipenv shell, while sitting in the directory of the main cityscrapers folder (so that the relative file paths used in the 3 lines of code would make sense).

[2020-06-26 21:44] SubtleHyperbole commented on #672
(git) bash-3.2$ git add tests/test_chi_northwest_home_equity.py
(git) bash-3.2$ git commit -m "Add chi_northwest_home_equity"
[0672-spider-chi_northwest_home_equity 64dfa3d] Add chi_northwest_home_equity
 2 files changed, 190 insertions(+)
 create mode 100644 city_scrapers/spiders/chi_northwest_home_equity.py
 create mode 100644 tests/test_chi_northwest_home_equity.py
(git) bash-3.2$

[2020-06-26 22:00] pjsier commented on #672
Gotcha, that was to create a commit, but you'll need to push that and submit a pull request separately. It's usually called the "GitHub Flow" and there's more information on it [here](https://guides.github.com/introduction/flow/)

[2020-06-26 22:57] PatrickKlingler commented on #914
Hey Patrick would it be possible to add another PDF parser?

The PyPDF2 parser does not seem to work for the PDFs on IFA's website, i.e. it returns an empty string. I copied this code to parse the PDF: https://github.com/City-Bureau/city-scrapers/blob/main/city_scrapers/spiders/il_pollution_control.py#L103

Apparently PyPDF2 is limited to certain kinds of PDF encodings: https://stackoverflow.com/q

[2020-06-27 11:50] pjsier commented on #914
@PatrickKlingler gotcha, we've run into issues with PyPDF2 so I think it's fine to add something additional here, but on other projects we've been working with `pdfminer.six` directly. If it works for you I'm fine with adding `pdfminer.six` as a dependency here since we'll try to eventually remove PyPDF2. We have an example of using it here https://github.com/City-Bureau/city-scrapers-cle/blob/46c

[2020-06-27 19:39] pjsier commented on #910
Closed by #954, thanks @cedarfall!

[2020-06-27 19:39] #910 closed

[2020-06-29 16:39] pjsier commented on #905
Closed by #964, thanks @ledaliang!

[2020-06-29 16:39] #905 closed

[2020-06-30 03:32] zahralizadeh commented on #855
@pjsier I am skeptical about the timing of the meetings. The page says that the meetings are held on the second Thursday of every other month, but there is no exact date declared and there is no PDF file that includes the session schedule. Should I automatically extract the second Thursday of every other month using calendar programming? In addition, there is a note of SUSPENSION OF MEETINGS ....

[2020-07-01 12:45] pjsier commented on #855
@zahralizadeh thanks for taking a look at that! Most of the Cook County meetings are on the [events calendar](https://www.cookcountyil.gov/calendar), but due to COVID most are cancelled for the time being. We'll still want to have scrapers set up though for when they do start back up, and you can see there was a meeting on this part of the site in [January](https://www.cookcountyil.gov/calendar-no

[2020-07-04 00:45] cedarfall commented on #568
May I work on this one?

[2020-07-04 01:41] pjsier commented on #568
@cedarfall sure, all yours!

[2020-07-05 17:38] stmfunk commented on #673
Hi there, I'm a first timer to open source contributions. Looking for a good place to start and this seems fairly well established so I'd love to get involved!

[2020-07-05 21:05] pjsier commented on #673
@stmfunk welcome! If you're interested in this one I'll mark it claimed

[2020-07-06 02:14] SubtleHyperbole commented on #672
Just as an update, I literally had the spider completed but out of an effort at completeness, I emailed the admin of the site to ask a question about what seemed like a small discrepancy between the lists of events (yes, on the page there seems to be multiple sources of meetings lists data), and to my chagrin i got a reply that they decided to revamp how the site provides info on the meetings.

In

[2020-07-09 12:00] pjsier commented on #855
Closed by #965, thanks @zahralizadeh!

[2020-07-09 12:00] #855 closed

[2020-07-14 01:38] pjsier commented on #672
Thanks for the update! I think it's fine to submit as is for now if it's still working

[2020-07-14 13:13] pjsier commented on #914
@PatrickKlingler wanted to follow up on this, we just replaced PyPDF2 with `pdfminer.six` throughout all of our repos so hopefully that makes this easier!

[2020-07-14 16:39] PatrickKlingler commented on #914
Good to hear!

Haven't been able to get to this in a while, but I'll have some time this
weekend!

On Tue, Jul 14, 2020, 9:13 AM Patrick Sier <notifications@github.com> wrote:

[2020-07-20 02:57] turnout-coding commented on #770
Can I work on this issue?

[2020-07-20 12:46] pjsier commented on #770
@turnout-coding all yours! Marking claimed now

[2020-07-21 01:45] turnout-coding commented on #692
@pjsier Can I work on this one?

[2020-07-21 02:19] pjsier commented on #692
@turnout-coding sounds good! Marking this claimed

[2020-07-28 16:50] JeyRathnam commented on #879
![image](https://user-images.githubusercontent.com/6557230/88696160-8284cf80-d0c8-11ea-9dce-3fcc801a1060.png)
@pjsier Is this the only data we are interested in?

[2020-07-29 13:50] pjsier commented on #879
@JeyRathnam we would also want any meeting minutes info. It looks like they haven't posted it for 2020 yet but they have in the past

[2020-07-29 23:14] JeyRathnam commented on #879
@pjsier Got it. I am working on getting the dates for now then.
pytest is returning error : "No module named 'atomicwrites". Is this something on my end? I followed instructions on contribution guide.

[2020-07-30 13:56] pjsier commented on #879
@JeyRathnam could you share some more info on your setup? Like which version of Python you're using, whether you're on Windows, or anything else that could be related

[2020-07-30 16:03] JeyRathnam commented on #879
@pjsier
python 3.8.3
Windows 10 x64

[2020-07-31 10:59] alderocas commented on #772
@pjsier you also need the "upcoming" meeting on the main page parsed, right? or just those on the minutes page?

[2020-07-31 12:38] pjsier commented on #772
We're interested in both, and the minutes are important because we want to make sure we're getting relevant documents

[2020-08-04 02:58] JeyRathnam commented on #879
Pytest is failing on test_il_port_district scraper
![image](https://user-images.githubusercontent.com/6557230/89248102-85098c80-d5d4-11ea-85d9-00deab420108.png)

Any ideas?

[2020-08-04 11:38] pjsier commented on #879
We've had sporadic issues, but you can ignore that for your PR

[2020-09-03 13:01] pjsier commented on #848
Moving to https://github.com/City-Bureau/city-scrapers-det/issues/1

[2020-09-03 13:01] #848 closed

[2020-09-08 13:26] pjsier commented on #772
Closed by #970, thanks @alderocas!

[2020-09-08 13:26] #772 closed

[2020-09-09 01:11] skorasaurus opened #971 "How to represent that a meeting will be accessible online in the event schema ?"
Hi,

In a conversation that I had with @lcaswell - we remarked that several of the upcoming meetings on the Documenters calendars didn't include any information of whether a meeting will be have remote access (Zoom link/facebook live/webex)

Should that be something that is included in the event schema? If so, has there been talk of that?

Looking at the [Open civic data event schema](https://open

[2020-09-09 13:14] pjsier commented on #971
Good question! Right now we've been putting those details in the description primarily, since a lot of the time the information we're getting is inconsistent. There are a lot of agencies that say "Virtual meeting" with no additional details or "Zoom", but that you need to reach out to them for the login, so we've just been trying to include that wherever we can find it.

We're using OCD pretty dir

[2020-09-09 21:08] stmfunk commented on #673
I've created the pull request. The spider returns data from the two sources sequentially. I tried merging them on the fly but the data between them is inconsistent so it was impossible to match them on pass. I think it might be possible with  a database operation.

[2020-09-10 08:56] alderocas commented on #772
@pjsier Happy to help!

Is there anything else that needs to be done ASAP?

[2020-09-10 14:49] pjsier commented on #772
Nothing urgent, but feel free to take a look at open issues!

[2020-09-11 13:23] sosolidkk commented on #857
I was going to say that i'll like to take this issue, but the website seems to be offline. I'm getting `www.ihda.org’s server IP address could not be found.`, could someone check for me?

[2020-09-11 13:56] sosolidkk commented on #574
If no one is working on this, i'd like to take it.

[2020-09-11 14:24] alderocas commented on #857
@sosolidkk this site works for me. Are you still having issues?

[2020-09-11 14:52] sosolidkk commented on #857
Yeah, I get a `DNS_PROBE_FINISHED_NXDOMAIN` message when I try to access it.

[2020-09-11 16:10] pjsier commented on #857
@sosolidkk are you outside the US? The Illinois state government blocks IPs outside of the country for some reason, we've run into this on a few sites

[2020-09-11 16:10] pjsier commented on #574
@sosolidkk all yours! Assigning you now

[2020-09-11 18:44] sosolidkk commented on #857
Yes, i'm outside of US, that's probably it.

[2020-09-16 18:37] pjsier commented on #879
Closed by #969, thanks @JeyRathnam!

[2020-09-16 18:37] #879 closed

[2020-09-16 18:43] JeyRathnam commented on #879
yay! my first PR!

[2020-09-16 21:02] egfrank commented on #676
I finally looked back at this and opened up a new PR!
https://github.com/City-Bureau/city-scrapers/pull/973

Sorry about the delay - once my branch got out of date it was difficult to get the checks to pass and it ended being easier to start fresh.

[2020-09-21 02:58] jmelot commented on #880
I was going to volunteer for this one, but it looks like the last meeting posted was in July 2019. Would it be worth contacting them to see if they're planning to make updates in the future, or better to just hold off and see if they start updating again?

[2020-09-21 03:04] jmelot commented on #797
I can do this one next weekend!

[2020-09-21 18:20] pjsier commented on #880
@jmelot I think we've typically just been writing scrapers even without updates because then we have the updates as soon as they're made, but you're welcome to work on that other one if you're interested!

[2020-09-21 18:21] pjsier commented on #797
@jmelot sounds great! Assigning you now

[2020-09-22 10:05] Rhysoshea commented on #718
Hi @pjsier, could I have a go at this one if it has been reopened?

[2020-09-22 12:45] alderocas commented on #728
@pjsier I can work on this if you like

[2020-09-22 13:54] pjsier commented on #728
Sure! Assigning you now

[2020-09-22 13:55] pjsier commented on #718
Sure! Assigning you now

[2020-09-23 07:29] zahralizadeh commented on #669
Hi, I can help with this one.

[2020-09-23 07:31] zahralizadeh commented on #568
May I work on this one?

[2020-09-23 07:32] zahralizadeh commented on #566
May  I work on this one?

[2020-09-23 12:12] pjsier commented on #669
Thanks @zahralizadeh! We try to keep each contributor to one scraper at a time though in our [contributing guidelines](https://github.com/City-Bureau/city-scrapers/blob/main/CONTRIBUTING.md). Let me know which one you'd like to start with and I can assign you to that

[2020-09-24 02:20] zahralizadeh commented on #566
I would take this if that is OK.

[2020-09-24 11:45] pjsier commented on #566
@zahralizadeh sure! I'll assign you now

[2020-09-26 23:45] sosolidkk commented on #574
I'm sorry for the delay. I've run into some heavy workload at job, but I'll submit a PR soon. Just posting this comment to say that I'm still working on it

[2020-09-29 06:27] solisedwin commented on #914
Hey, seems like this issue has been opened for a while. I would like to tackle on this issue as my first contrib. Also seems like a good opportunity since I have built projects using Scrapy before. If that's fine by you.

[2020-09-29 12:31] pjsier commented on #914
@solisedwin yep, this has been inactive more than 30 days so it's all yours if you're interested! I can assign you now

[2020-09-30 10:43] lcaswell opened #976 "Cleveland Documenters Updates"
I'm Lawrence Caswell, field coordinator for Cleveland Documenters. A few things:

**THE MAIN THING:** **The Cle Docs team has decided to focus primarily on Cleveland City Council for this pilot year.**
Capacity and impact were the main factors in the decision. Of note: all of Council and the mayor are up for reelection next year. This doesn't mean we won't be documenting other meetings. **It does

[2020-10-01 01:45] ianbruyere commented on #857
Hello,

Wannabe first time contributor here. I'd like to take this issue under my wing.
I'm forked, I looked into the contribution guidelines, I sent out a Slack form request just in case.
I read the info about the potential workarounds for the pdf file parsing this one will entail.
I'm doing this via Hacktoberfest but I feel for this project I would like to make commits in the future if all goes

[2020-10-01 12:16] pjsier commented on #857
@ianbruyere sure! Assigning you now. Feel free to reach out with any questions

[2020-10-01 20:03] pwees commented on #669
I'd be happy to take this one, if available.

[2020-10-01 21:29] pjsier commented on #669
@pwees sure, assigning you now!

[2020-10-02 13:16] pjsier commented on #797
Closed by #975, thanks @jmelot!

[2020-10-02 13:16] #797 closed

[2020-10-03 06:32] ianbruyere commented on #857
So as a quick update as to where I am and what I am running into:

I've piped the main pdf into pdfminer and tried a couple methods of extraction:

1. HTML Output
	This method outputs something that is essentially structurally incoherent. I might be missing something but it's a lot of spans and absolute positioning; nothing to link the columns with their corresponding meeting/time. The code I used

[2020-10-06 00:21] shf commented on #854
Hi, I would like to take this issue. Thanks.

[2020-10-06 11:50] pjsier commented on #854
@shf sounds good! Assigning you now

[2020-10-06 17:23] shf commented on #854
@pjsier They are using an image for 2020 meetings, is it Ok to use pytesseract to extract text from the image? users need to install tesseract-ocr for this to run
`sudo apt-get install tesseract-ocr`

[2020-10-06 17:25] pjsier commented on #854
@shf OCR is out of scope for what we're doing here, but I think it's still valuable to parse out past meetings in case that changes going forward

[2020-10-06 17:29] shf commented on #854
@pjsier the past meetings are also in PDF format, I found you have used pdfminer before in the code, should I continue with that?

[2020-10-06 17:30] pjsier commented on #854
I don't think it'll be necessary here since there isn't a lot of information in general, so we're mostly just trying to get dates and links

[2020-10-07 00:18] d-glenz commented on #681
Can I help with this spider?

[2020-10-07 13:06] pjsier commented on #681
@d-glenz all yours!

[2020-10-07 13:26] pjsier commented on #857
Thanks for looking into this and doing a comprehensive write-up, @ianbruyere! I think we can rule out options 1 and 3, since 1 seems like a significant amount of work that may not pay off and 3 feels too brittle.

In our case, we would rather get less information that we can be more confident in than more information that's likely to be incorrect.  The main risk with 2 is that it seems like the st

[2020-10-09 13:25] pjsier commented on #718
Closed by #974, thanks @Rhysoshea!

[2020-10-09 13:25] #718 closed

[2020-10-09 17:32] alderocas commented on #728
Hi @pjsier,

What classification would you like to give meetings such as the 2018 board meeting: `Thursday, November 15 - All Committee Meetings followed by Board Meeting`?

Is the title `Board of Trustees` unless a specific committee is listed still preferred?

[2020-10-09 18:09] pjsier commented on #728
@alderocas Yeah I think "Board of Trustees" still works and the `BOARD` classification if there's a board meeting at all, thanks for clarifying!

[2020-10-09 20:57] alderocas commented on #728
@pjsier Alright, I'll do that. Thank **you** for clarifying! :D

Have a great weekend!

[2020-10-10 20:06] virajone commented on #692
@pjsier Hey, looks like this issue is available again. I'm new to the project and this seems like a good issue to start with. Shall I work on this one ?

[2020-10-12 14:13] pjsier commented on #681
Closed by #985, thanks @d-glenz!

[2020-10-12 14:13] #681 closed

[2020-10-12 14:14] pjsier commented on #692
@virajone sure, it's available! This one is a bit trickier than it looks though, just a heads up. Let me know if you're still interested

[2020-10-14 14:19] pjsier commented on #574
Closed by #983, thanks @sosolidkk!

[2020-10-14 14:19] #574 closed

[2020-10-19 09:44] idiosyncratic4 commented on #935
Can I take this one

[2020-10-19 22:15] pjsier commented on #854
Closed by #984, thanks @shf!

[2020-10-19 22:15] #854 closed

[2020-10-20 00:02] shf commented on #847
I am interested in this issue. Would you assign it to me?

[2020-10-20 00:05] pjsier commented on #847
@shf thanks for the interest! We try to have contributors focus on one spider at a time though, so once your current PR is merged I'd be happy to. More info in [our contributing guidelines](https://github.com/City-Bureau/city-scrapers/blob/main/CONTRIBUTING.md#1-find-an-open-issue-to-work-on)

[2020-10-20 00:06] shf commented on #847
Yeah, sure. Thanks for letting me know.

[2020-10-26 11:40] sosolidkk commented on #568
If no one is working on this one, i would like to give it a try.

[2020-10-26 13:03] pjsier commented on #568
@sosolidkk sure! Assigning you now

[2020-10-28 21:16] guytet commented on #880
Hi,
I'm trying to work on this one. Could not find a `chi_ssa_20` under `city_scrapers/spiders/` so I assumed the issue is up for grabs (also, no `claimed` label.
I sent a request to join your slack channel.

[2020-10-29 16:12] pjsier commented on #880
Sure! All yours @guytet

[2020-11-02 12:18] cvafaian commented on #807
Hi, I'd like to work on this if it's still available.

[2020-11-02 13:01] pjsier commented on #807
@cvafaian sure! Assigning you now

[2020-11-05 01:44] solisedwin commented on #914
Hey I'm still working on this web crawler. Just been rewriting it and fine tuning it for better code readability. Should have it done soon. Thanks

[2020-11-18 01:06] sosolidkk commented on #568
Hey @pjsier , i'm sorry for not giving the attention to this issue. I've run into some problems with my work deadlines, but i'll submit a pull request soon.

[2020-11-21 00:32] GitItRachel commented on #692
@pjsier Hey, I am a first time contributor, but I'd like to help.  Is this issue taken?

[2020-11-23 15:11] pjsier commented on #692
@GitItRachel it's open if you want to try it out! I'll assign you now

[2020-11-28 05:12] fshih1 commented on #847
This will be my first contribution! I will be more than happy to take on this issue!

[2020-11-28 12:38] pjsier commented on #847
@fshih1 sounds great! Assigning you now

[2020-12-05 21:12] fshih1 commented on #847
my sincerely apology that I wouldn't be having time to work on this anytime due to moving and found a job! Again, my deep apology. If anyone could pick it up that would be helpful!

[2020-12-07 19:28] cherdeman commented on #847
@pjsier, I can take this one!

[2020-12-07 19:30] pjsier commented on #847
@cherdeman great! I'll assign you

[2020-12-13 00:39] cvafaian commented on #807
Hello!
I ran into an issue where the latest meeting is not in a PDF format but rather is a link to a WebEx meeting (September 16, 2020 – WebEx Meeting). Upon clicking in I quickly realized that I would need an Illinois.gov employee account, which I do not have. I can still get the information that a meeting happened on the date, but I can no longer determine anything else pertaining to that one me

[2020-12-14 15:35] cherdeman commented on #847
@pjsier - FYI that I opened a PR with a question about my Scrapy usage. basically I'm trying to return the text from the pdfs for each meeting for processing, but am ending up with a generator object instead. Certainly a Scrapy usage issue on my side, any suggestions to get the behavior I expect or rework to use the package more as intended?

[2020-12-14 18:33] pjsier commented on #807
@cvafaian thanks for looking into this, and sorry you ran into that! If it's alright with you, I think we can still parse the time of day.

If you add `custom_settings = {"ROBOTSTXT_OBEY": False}` to your spider (like in [`chi_ssa_34`](https://github.com/City-Bureau/city-scrapers/blob/02dc0e6af6654b15898f6ea3d1b362ba542258e4/city_scrapers/spiders/chi_ssa_34.py#L14)) and yield a new `scrapy.Request

[2020-12-14 18:47] pjsier commented on #847
@cherdeman sure! Scrapy requests are made asynchronously, so if you want to guarantee you have data available for another method you'll need to make sure you're chaining callbacks so that they're called in the right order.

You can see an example of this in [`chi_human_relations`](https://github.com/City-Bureau/city-scrapers/blob/c42620480f9184ca74885e2a3c6ef576faba3eb7/city_scrapers/spiders/chi_h

[2020-12-14 20:32] cvafaian commented on #807
@pjsier Thanks for the detailed help! With it I was able to successfully extract the time and day of the meeting, and I have since pushed the changes :)

[2020-12-21 16:58] pjsier commented on #807
Closed by #993, thanks @cvafaian!

[2020-12-21 16:58] #807 closed

[2020-12-21 17:03] pjsier opened #996 "Spider: Illinois State Board of Education"
URL: https://www.isbe.net/Pages/Illinois-State-Board-of-Education-Calendar.aspx
BoardDocs URL: https://go.boarddocs.com/il/isbe/Board.nsf/Public
Spider Name: il_board_education
Agency Name: Illinois State Board of Education

We may have to do this as a BoardDocs scraper. You can see an example in [`chi_teacherpension`](https://github.com/City-Bureau/city-scrapers/blob/main/city_scrapers/spiders/ch

[2020-12-21 19:56] cvafaian commented on #807
Thank you @pjsier for being so approachable and welcoming! This was my first time working on an open source project and I really appreciated how kind, helpful, and prompt you were. All the best!

[2020-12-31 19:41] cherdeman commented on #847
@pjsier thanks for response - figured it out with this and a second look. I've completed the PR with passing tests/style checks, not sure who to tag as a reviewer. Thanks and happy new year!

[2021-01-08 19:02] pjsier commented on #847
Closed by #994, thanks @cherdeman!

[2021-01-08 19:02] #847 closed

[2021-01-10 13:28] sosolidkk commented on #566
If this issue is stalled, i would like to work on this one.

[2021-01-11 14:01] pjsier commented on #566
@sosolidkk thanks for the interest! I saw the PR, but our [contributing guidelines](https://github.com/City-Bureau/city-scrapers/blob/main/CONTRIBUTING.md#1-find-an-open-issue-to-work-on) try to limit each contributor to one PR at a time and it looks like your other PR is still active

[2021-01-25 17:26] pjsier opened #1001 "Spider: ​​​​​Illinois Health Facilities and Services Review Board"
URL: https://www2.illinois.gov/sites/hfsrb/events/Pages/Board-Meetings.aspx
Spider Name: il_health_facilities
Agency Name: ​​​​​Illinois Health Facilities and Services Review Board

[2021-02-02 22:59] Albany276 commented on #996
Hey ya, interested on this issue, is it still up for grabs?

[2021-02-02 23:11] pjsier commented on #996
@Albany276 yep! I can assign you now if you're interested

[2021-02-02 23:12] Albany276 commented on #996
Thx :) - I will also request slack access shortly

[2021-02-06 14:59] masoodqq commented on #1001
I would like to work on this issu.

[2021-02-08 15:47] pjsier commented on #1001
@masoodqq sounds great! Assigning you now

[2021-02-10 22:56] pjsier opened #1006 "North Lawndale Community Action Council"
More details pending, it was folded into the Education and Youth Subcommitee here https://nlcccplanning.org/meetings-events/

[2021-02-13 17:50] cherdeman commented on #799
@pjsier, are ya'll still looking for help on this one? If so, is [this](https://www.chicago.gov/city/en/depts/dcd/supp_info/community_developmentcommission.html) the correct link? If so I'm happy to take this. I also saw that there are a few PRs that have been stalled for several months, I'd also be happy to help close any of those out.

[2021-02-15 14:33] pjsier commented on #799
@cherdeman that's a separate agency, so for now this one is still stalled, but you're welcome to take a look at any other issues without PRs that haven't been updated in the past 30 days! We've got more info in the [contributing guidelines](https://github.com/City-Bureau/city-scrapers/blob/main/CONTRIBUTING.md)

[2021-03-29 13:19] Ni3dzwi3dz commented on #1001
Hi,
is this issue still opened? If yes, i`m willing to help.

[2021-04-17 11:27] dmk166 commented on #669
Hi, I'd like to give this one a go.

[2021-04-19 16:41] diaholliday opened #1010 "Weekly scraper check—April 19"
Chicago Board of Elections: Failing, yellow
- This one is a high priority especially re: Census/redistricting work being done across the state

Cleveland City Council: Running, N/A
- This showed up as failing when I checked it over the weekend. Noting here because it's critical to the CLE Documenters team. Not sure if anything is actually wrong but would be good to check just in case

Cleveland Ci

[2021-04-22 16:04] diaholliday opened #1011 "Changing CityScrapers.org domain"
Not sure if this is a quick fix in the domain or a more lengthy process but I'd like to integrate cityscrapers.org with documenters.org—in the same way the Documenters Field Guide is fieldguide.documenters.org. How would we go about changing cityscrapers.org to cityscrapers.documenters.org?

Avery, tagging you here in case this is an easy change and you're up to do it.

[2021-04-22 20:16] dmk166 opened #1012 "Slack Channel Link Broken"
Hi, is there still a Slack channel for the project? The link to join the channel in the wiki seems broken?

https://airtable.com/shrRv027NLgToRFd6

[2021-04-25 22:04] avdews commented on #1011
I think this would actually be a more lengthy process - the domain switch would be relatively easy but then keeping up with number of potential issues/side effects with dependencies after the switch might become more complicated.

[2021-04-27 14:54] diaholliday commented on #1011
Got it, thanks! We'll hold this for another time.

On Sun, Apr 25, 2021 at 5:04 PM Avery Dews ***@***.***> wrote:

--

Darryl Holliday
Co-founder, News Lab Director | City Bureau
Cell: 310-347-1246
CityBureau.org <http://citybureau.org/> | @city_bureau
<https://twitter.com/city_bureau>
DarrylHolliday.com <http://diaholliday.com/> | @d_holli
<https://twitter.com/d_holli>

<http://citybureau.org/pre

[2021-04-30 12:38] #1011 closed

[2021-05-05 03:20] diaholliday opened #1013 "Weekly scraper check—March 4"
Chicago Department of Planning and Development—failing, N/A

- This one is among our higher priority scrapers, though I do see a duplicate listing with a similar name that appears to be running fine. I'll take a look to see if I can spot the difference

Cleveland Landmarks Commission

- Not a high priority at the moment but could become a higher priority in the coming months

Cleveland City Planni

[2021-05-22 19:16] diaholliday opened #1015 "Cleveland City Council scraper deep dive"
I'm pretty sure this scraper has been giving us green status messages but there seems to be a recurring issue- @avdews can you priories this one next week? I can get more details from the CLE team if it's not apparent what's going on with the scraper

[2021-06-11 12:53] diaholliday opened #1017 "Weekly scraper check — June 11"
Chicago Board of Elections
chi_board_elections
0
4
0

Chicago Department of Planning and Development
chi_landmark_commission
6
8
0

Illinois Labor Relations Board
il_labor
0
0
0

Cleveland City Planning Commission
cle_planning_commission
0
0
0

Cleveland Mayor's Infrastructure and Streetscape Advisory Committee
cle_mayor_infrastructure
0
0
0

Greater Cleveland Regional Transit Authority Community

[2021-06-17 21:15] diaholliday opened #1018 "New Cleveland scrapers"
@avdews this list is separate from the Minneapolis scraper list I mentioned the other day but if you're down to work on these they should be prioritized ahead of the Minneapolis scrapers. Happy to provide any info you might need—you could also talk directly with Lawrence from the Cleveland Documenters team if that's helpful:

Cleveland Metropolitan School District Board of Education
Meeting info:

[2021-09-02 18:06] diaholliday opened #1020 "New Chicago scraper"
https://www.chicago.gov/city/en/depts/dcd/supp_info/committee-on-design.html

[2021-09-02 19:18] diaholliday opened #1021 "New Chicago Scraper: IL Board of Education"
https://www.isbe.net/Pages/Illinois-State-Board-of-Education-Calendar.aspx

https://go.boarddocs.com/il/isbe/Board.nsf/Public

[2021-09-08 00:27] mattdreisbach commented on #1021
Hello, I would like to try and take this spyder on

[2021-09-29 22:45] PaulR-Docs commented on #1018
Hi Darryl,
This is Paul Rochford, a member of the CLE Docs team. I would love to contribute to fixing scraper issues for Cleveland. I am still relatively new to this so it would be great to start with something on the simpler end.

I saw the issue regarding the fix for the Cuyahoga County ADAHMS board on City-Scrapers-Cle: [https://github.com/City-Bureau/city-scrapers-cle/issues/18](url) but it di

[2021-11-11 14:43] hamma95 commented on #1020
Hi, I would like to take on this issue please.

[2021-11-28 17:38] hamma95 commented on #1020
Was this project abandoned ? The slack channel link doesn't work and there are no new issues being added.

[2021-12-07 00:35] haileyhoyat commented on #1020
@hamma95 Hi. I'm Hails. Thank you for looking into this issue. City-Bureau is looking to get this project back up, including processing code contributions and the slack channel. Nothing is confirmed yet but there is interest from the org to get the entire project going again.

Wanted to let you know. By end of the year there should be more affirmative information. I will comment back here when I k

[2021-12-27 12:58] stefovego commented on #673
I would like to write this scrapper.

[2022-03-09 20:54] haileyhoyat commented on #1020
@hamma95 Hi. This is Hails again. Late last year we spoke briefly. I know you wanted to contribute and I mentioned the group is doing a relaunch. I appreciate your patience and wanted to let you know that we're really starting to get the group going again. this is my twitter handle (@whatuphails), if you DM me your email i can get you into the Slack channel that we're all in, or if you're already

[2022-03-09 21:46] hamma95 commented on #1020
@haileyhoyat I'm really glad the project is back on again. I tried to DM you on twitter but it tells me this person can't be messaged. I followed you and still the same. I rarely use Twitter so I don't really understand why this happened.

[2022-03-20 23:00] bschuer commented on #1021
Is this scraper still available?

[2022-03-21 20:07] joshagoldstein commented on #1021
Hi, I have been in touch with Hails regarding this issue and would like to work on it. Thank you!

[2022-03-21 20:07] joshagoldstein commented on #1020
Hi, I have been in touch with Hails regarding this issue and would like to work on it. Thank you!

[2022-04-18 17:57] alexfoss8 commented on #673
Hello! I'm a first time open-source contributor. I have some experience scraping, can I try this one?

[2022-04-18 17:58] alexfoss8 commented on #669
Hello! I'm a first time open-source contributor. I have some experience scraping, can I try this one?