[2017-07-27 18:38] eads opened #1 "Write airtable pipeline adapter"

[2017-07-27 18:39] eads opened #2 "Write SQLAlchemy pipeline adapter"

[2017-07-27 18:39] eads opened #3 "IDPH parser tests"

[2017-07-27 18:39] eads opened #4 "Develop testing utilities / common functionality"
There's a bunch of machinery around tests that should be built out before too many contributions are made, specifically a common approach to mocking responses so we can test parsing

[2017-07-27 18:46] fgregg opened #5 "City council events source:"
City council and committee meetings are available here:

http://ocd.datamade.us/events/?jurisdiction=ocd-jurisdiction/country:us/state:il/place:chicago/government

[2017-07-27 19:04] eads commented on #5
Handy!

[2017-07-27 19:04] eads opened #6 "build out contribution guide"

[2017-07-27 19:04] eads opened #7 "build out data model that all scrapers / aggregators should use"

[2017-07-27 19:16] fgregg commented on #7
Sorry for butting in here, but let me recommend. http://docs.opencivicdata.org/en/latest/data/event.html

It's basically the popolo model http://www.popoloproject.com/specs/event.html

https://github.com/opencivicdata/python-opencivicdata/blob/master/opencivicdata/legislative/models/event.py#L47

[2017-07-27 19:46] eads commented on #7
butt in away!

[2017-07-27 22:43] eads commented on #7
This makes me wonder if I shouldn't use OpenCivicData as a framework. Scrapy is really nice though...

[2017-07-30 00:33] fgregg commented on #7
the ocd models have a lot more than ICS/VCS. If that's all you want to target than I would just do that.

you should be able to mix and match scrapy and the ocd models. both @gordonje and @aepton have use the models without using the rest of the stuff.

[2017-07-31 14:49] gordonje commented on #7
Yeah, so what we're doing in [django-calaccess-processed-data](https://github.com/california-civic-data-coalition/django-calaccess-processed-data) is moving data from the models defined in calaccess_raw and calaccess_scraped into opencivicdata models (and a several others).

The Event-related models and admins are part of the legislative Django app in the opencivicdata package. So any Django proje

[2017-07-31 20:05] eads commented on #7
This is helpful. I think it makes sense for us to use the OCD model internally, since we'll be consuming HTML/ical/vcs/rss/who-the-heck-knows into a central db and then serializing output in whatever ways appear to be useful.

In fact, I've already coded it up (but have yet to push).

[2017-08-01 20:15] eads opened #9 "pick documentation framework"
Two top options imho:

* Gitbook
* Read The Docs

Leaning towards Gitbook.

[2017-08-01 20:15] eads opened #10 "document data model"

[2017-08-01 20:16] eads opened #11 "templatize setting up a new html scraper"

[2017-08-01 20:16] eads commented on #7
Rolling with OCD. Closed in favor of #10

[2017-08-01 20:17] eads commented on #6
this is really combination on-boarding + contribution

[2017-08-01 21:22] eads opened #12 "fake to test travis"

[2017-08-01 21:23] eads opened #13 "one of the `test_status` functions should be `test_location`"

[2017-08-01 21:28] #13 closed

[2017-08-01 22:41] #7 closed

[2017-08-01 22:51] #12 closed

[2017-08-01 23:24] eads opened #16 "get rid of ipython dependency"

[2017-08-01 23:27] #16 closed

[2017-08-02 19:56] fgregg opened #18 "SPIDER: CAPS meetings"
http://api1.chicagopolice.org/clearpath/

[2017-08-02 20:05] fgregg opened #19 "Context for meetings"
Hi all,

We've built out a few sites that seem somewhat similar to the aims of this project

- http://capsure.opencityapps.org/
- https://chicago.councilmatic.org/events/

We have found that these have not been widely used.

We suspect that the main barrier to participation is not knowing when and where meetings occur, but an understanding of

- what takes place in the meeting
- why a person might

[2017-08-05 11:59] diaholliday commented on #19
Yes, the platform is being created for use with our Documenters program,
which addresses all 3 of your points, i.e. Documenters assignments contain
info on what takes place at a meeting, Documenters assignments provide a
reason for being there and City Bureau trains Documenters to produce
various content at the meeting for public consumption:
http://www.citybureau.org/documenters

On Wed, Aug 2, 2

[2017-08-06 21:33] eads commented on #19
To echo what @diaholliday says, I don't think this needs to be used widely to be effective, since Documenters and ProPublica both get a direct benefit out of what we're building. There's almost certainly a broader audience for it, but broader in this case is still initially going to be a pretty small circle of people and organizations.

The primary use-case, which is to facilitate the Documenters

[2017-08-07 00:43] fgregg commented on #19
Great! Thanks for the context!

On Sun, Aug 6, 2017 at 5:33 PM, David Eads <notifications@github.com> wrote:

--
773.888.2718

[2017-08-07 18:22] jim commented on #4
@eads I'm up for giving this a shot as my investigation yesterday on the RTA scraper led me partway down this path already.

[2017-08-07 19:37] eads commented on #9
I'm gonna just call it: Gitbook!

[2017-08-07 19:37] #9 closed

[2017-08-07 19:37] eads opened #21 "scaffold out gitbook"

[2017-08-08 03:14] #21 closed

[2017-08-08 03:16] eads opened #23 "write spider creation docs"

[2017-08-08 03:16] eads commented on #23
duplicated of #6

[2017-08-08 03:16] #23 closed

[2017-08-08 03:17] eads commented on #3
closed ages ago

[2017-08-08 03:17] #3 closed

[2017-08-08 04:57] eads opened #24 "Start versioning aggregator"

[2017-08-08 05:05] eads opened #25 "package aggregator for pypi"

[2017-08-08 07:31] #11 closed

[2017-08-08 18:16] eads commented on #19
I think we can close this one 👯‍♂️

[2017-08-08 18:16] #19 closed

[2017-08-08 18:20] csethna opened #27 "Documentation Link Broken"
The link to documentation in the readme file 404s.

[Start with the documentation.](https://city-bureau.gitbooks.io/chicago-documenters-event-aggregator/)

[2017-08-08 18:20] eads opened #28 "clean up installation docs"
since I just copied over from the readme, there's stuff that is now in the contributing a spider guide that doesn't need to be there

[2017-08-08 18:21] eads opened #29 "what should the date format be?"
The OpenCivicData spec is unclear on this point. To wit, "Starting date / time of the event. This should be fully timezone qualified."

What does that even mean?

[2017-08-08 18:28] eads opened #31 "templates and existing scrapers need "timezone" field in returned data"

[2017-08-08 19:07] eads commented on #27
Thanks for ticketing this. Should be fixing this afternoon.

On Tue, Aug 8, 2017 at 1:20 PM, Cyrus Sethna <notifications@github.com>
wrote:

--
David Eads | http://recoveredfactory.net

"Medical statistics will be our standard of measurement: we will weigh life
for life and see where the dead lie thicker, among the workers or among the
privileged." -- Rudolf Virchow

[2017-08-08 22:36] jim opened #33 "Plan for scraping ASP sites"
The Cook County Clerk site uses JavaScript to load the details for events, but unfortunately, it uses ASP and therefore the AJAX requests are not as easy to fake as they would be in other web apps.

http://www.cookcountyclerk.com/countyboard/boardmeetings/Pages/default.aspx

There are probably other sites that we'll need to handle using a similar approach once we figure this one out.

[2017-08-08 23:02] eads opened #34 "geolocation of all addresses/meeting locations"

[2017-08-08 23:07] eads opened #35 "can/should genspider pull an example html file"
@r-wei suggested that the `invoke genspider` command should pull a sample file automatically for testing, which is very wise but will require some updates to the command.

[2017-08-08 23:29] jim opened #36 "Link to documentation in README is a 404."

[2017-08-08 23:53] Ryan-Koch opened #37 "SPIDER: Ward 46"

[2017-08-09 00:29] eads opened #38 "how to handle events that require registration?"
@mwgalloway raised this issue. @diaholliday might have some thoughts about how to structure this as the open civic data specification doesn't account for it

[2017-08-09 00:34] diaholliday commented on #38
Have we come across an example that can be posted here?

[2017-08-09 00:40] mwgalloway commented on #38
@diaholliday [CPS Board of Education](http://www.cpsboe.org/meetings/planning-calendar) is the page I'm building a scraper for that brought up the question. Below the meeting schedule there are registration instructions.

[2017-08-09 00:51] diaholliday commented on #38
I think that particular registration may be for speakers (not general attendance) but I'd like to log it in either case. Can you mark it down in the notes section of the excel sheet? If we see it pop up in more events I may want to create a new column on the excel sheet to keep track of them (and eventually include a button/box on the calendar).

[2017-08-09 04:04] csethna commented on #38
Is it possible to utilize the HttpAuthMiddleware class in scrapy? You can
authenticate with an http username and password.

https://doc.scrapy.org/en/latest/topics/downloader-middleware.html#scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware

Alternatively, BeautifulSoup also supports http auth functionality and is
compatible with scrapy.

https://doc.scrapy.org/en/latest/faq.html?highlight=

[2017-08-09 04:20] eads commented on #38
@csethna in this case, this isn't registration to scrape the site, but instead events that require some form of registration to attend. Seems relevant to Documenters and reporters as the Board of Ed site says "Advance registration is available for speakers and observers."

[2017-08-09 04:24] eads commented on #38
My instinct is to extend the open civic data format (and suggest they add this as an optional field) with a boolean registration required field. But registration almost always involves some strange and curious process, so we need a place to put more detailed/human-readable registration instructions. That could just be part of the description field or something separate.

[2017-08-09 04:25] #28 closed

[2017-08-09 05:07] eads commented on #36
dupe of #27

[2017-08-09 05:07] #36 closed

[2017-08-09 05:07] #27 closed

[2017-08-09 05:10] eads commented on #33
This makes me think this is do-able: https://blog.scrapinghub.com/2016/04/20/scrapy-tips-from-the-pros-april-2016-edition/

[2017-08-09 05:18] eads opened #40 "proposal: add a code of conduct"
I'd like to propose we implement a code of conduct for all project-related spaces and activities.

I'm partial to the [generic code we developed at FreeGeek](https://github.com/eads/generic-code-of-conduct) (and we stole a tremendous amount of it from the [Geek Feminism anti-harassment policy](http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy)).

cc @diaholliday

[2017-08-09 11:24] diaholliday commented on #40
Agreed. I'll give this particular code a closer read later but if you've used it in the past I trust your judgement on it.

[2017-08-14 15:16] #35 closed

[2017-08-14 16:34] eads opened #43 "failing gen_spider test"
[code]

[2017-08-14 16:34] eads commented on #43
What's weird is the tests were passing before I merged @r-wei's PR. Guessing there's an easy explanation.

[2017-08-14 16:38] jacobroufa opened #44 "How to add public meetings for other municipalities?"
Hey @diaholliday, @eads said you would be the one to ask about this. I'd like to contribute events to your aggregator from the Rockford area. Being a municipal area with one of the larger populations in Illinois, I'd like to get some action going around documenting public meetings here, as nothing like this currently exists. Ideally, I will be able to add agencies/orgs from not just Rockford prope

[2017-08-14 16:43] eads commented on #43
@r-wei I think the problem is that things like css filenames on a squarespace page have a cache buster string attached, which means your `test_gen_html_content` isn't going to be stable. I'm not sure what the right solution is, because the test is valuable the way it's written.

One thing that _could_ potentially help is using a more stable page than the articles, which is likely to change. Probab

[2017-08-14 16:45] eads commented on #43
Having checked, the javascript filenames appear to change sitewide when something changes.

[2017-08-14 16:58] jim commented on #40
There is also the [Contributor Covenant](https://contributor-covenant.org/), which was developed specifically for open projects. It's becoming a standard CoC these days and is used by a lot of large projects.

I think the bigger TODO, really, is to designate who to contact in the case of violation and who will handle any enforcement.

[2017-08-14 17:01] jim commented on #29
@eads I think I'd go with ISO 8601 (e.g. `2017-08-14T15:43:39+00:00`) unless there is a good reason to use something else.

[2017-08-14 17:13] eads opened #46 "what to do about files genspider tests downloads"
@r-wei

The genspider tests leave new files in the tests directory, somewhat out of necessity. Not a big deal but worth noting.

we could:

* ignore completely
* remove when finished
* do some mock stuff so they never get written

[2017-08-14 18:48] #43 closed

[2017-08-14 19:30] eads commented on #40
@jim ahh, I've been seeing that but didn't look into it. That's a nice one and definitely worth considering.

The FreeGeek-inspired one is a little more opinionated and focused. It includes an explicitly stated value of active non-violence, and spends a little more time on what kind of conflict and disagreement is appropriate and what isn't (which is something born of many years of real world expe

[2017-08-14 19:36] eads commented on #29
@jim I'm with that. In the absence of more detail in the Open Civic Data spec, ISO format seems like the right way to go. Especially because libraries like pytz can calculate the correct timezone offset based on the date and Olsen timezone.

I'll add this to the docs and close when that's done.

[2017-08-14 19:43] diaholliday commented on #40
I think this is a great idea. Also sorry for the late response here, I
thought I responded days ago via github but I don't see my response here
(in the email thread). I'm still getting used to github, unfortunately.

I read through the FreeGeek code last week and just read through the CoC.
I'm a big fan of the CoC language and the granularity of introductory text.
I'd be happy to move forward with

[2017-08-14 19:57] eads commented on #40
@diaholliday when you say CoC, do you mean the Contributor Covenant?

My inclination would be to get something in place before tomorrow night so we can talk it through a bit when we meet. Perhaps we could use the Contributor Covenant as-is for now and work to focus the "our standards" section over time to fit specific needs and community values.

Also, that's weird about your reply -- replying to

[2017-08-14 20:16] diaholliday commented on #40
Yeah, sorry, I mean the Contributor Covenant. And yes, let's put it in
place and focus the our standards section. If we intro it tomorrow we can
get input from the group as well and tweak from there.

Darryl

On Mon, Aug 14, 2017 at 2:57 PM, David Eads <notifications@github.com>
wrote:

--

773-819-5188
Diaholliday.com <http://diaholliday.com/>
<https://twitter.com/d_holli> <https://www.facebook.c

[2017-08-14 20:55] eads commented on #40
Awesome.

[2017-08-14 21:42] maxine opened #47 "SPIDER: Chicago Public Library"

[2017-08-14 22:40] eads commented on #47
Woot!

On Mon, Aug 14, 2017 at 4:42 PM, maxine <notifications@github.com> wrote:

--
David Eads | http://recoveredfactory.net

"Medical statistics will be our standard of measurement: we will weigh life
for life and see where the dead lie thicker, among the workers or among the
privileged." -- Rudolf Virchow

[2017-08-14 23:22] diaholliday commented on #44
hi @jacobroufa you can definitely start by adding a tab to the excel sheet for Rockford. The Rockford/Winnebago area is of interest so I'd be happy to expand our original area. Feel free to take a look at the meetings I gathered for Chicago to get a sense of what's out there. I can give you access to the doc if you send me the email you'd want me to use.

[2017-08-14 23:42] jim commented on #46
If we can't find a better solution, writing the downloaded files to a `tmp` directory and adding that dir to `.gitignore` would be OK. Right now running the tests leaves the repo in a dirty state, which is not a good experience for new developers to the project.

[2017-08-15 14:07] jacobroufa commented on #44
Sounds good, @diaholliday -- my email is jacob.roufa -at- gmail. Once you add me I'll add as many meetings as I can to the list. I'm looking forward to the collaboration. Thanks!

[2017-08-15 15:38] diaholliday commented on #44
Done! You should have access now.

On Tue, Aug 15, 2017 at 9:07 AM, Jacob M. Roufa <notifications@github.com>
wrote:

--

773-819-5188
Diaholliday.com <http://diaholliday.com/>
<https://twitter.com/d_holli> <https://www.facebook.com/dIa.holliday>
<https://instagram.com/dia_holliday/>

[2017-08-15 16:30] jim opened #49 "Schedules in PDF format"
Based on a discussion, we need to document the following process for developers in the documentation:

- If a data source is difficult to scrape (data is in a PDF, image, etc.), notate that on the sources spreadsheet and don't attempt to write a scraper for it.

Tasks to close this issue:

- [ ] Add documentation on how to handle difficult to scrape sources.

-----

*Original issue content*

Not s

[2017-08-15 16:37] jim commented on #49
Looks like the Illinois Department of Corrections Advisory Board also posts most of their info inside PDFs. Here's the notice for their next meeting: https://www.illinois.gov/idoc/aboutus/advisoryboard/Pages/default.aspx

[2017-08-15 16:40] jim commented on #49
The [Cook County Commission on Human Rights](https://www.cookcountyil.gov/agency/commission-human-rights-0) also uses PDFs.

[2017-08-15 16:46] jim commented on #49
Same with [Housing Authority of Cook County](http://thehacc.org/about/): http://thehacc.org/wp-content/uploads/2017/08/2017-Scheduled-Board-Meetings.pdf

[2017-08-15 16:48] jim commented on #34
Can we have a stage in the pipeline that geocodes all addresses without lat/long coordinates? That way, the spiders themselves don't have to be concerned with this.

[2017-08-15 16:51] jim commented on #33
@Ryan-Koch You're listed as working on the Cook County Clerk site. Have you had any luck with scraping that site?

[2017-08-15 17:09] Ryan-Koch commented on #33
@jim not yet, I had marked it off as my next one to work on after I submit a PR for the ward46 site. That said, seeing this thread I took a quick glance at it and at least for the meetings there does appear to be a reasonable end point to hit, so I think this should be possible, it just might take some extra massaging. I'll dig into this deeper though once I shift focus.

Also thank you @eads for

[2017-08-15 21:36] eads commented on #49
cc @diaholliday

[2017-08-15 21:44] adebruine opened #50 "SPIDER: City Colleges of Chicago Board of Trustees"

[2017-08-15 21:51] eads opened #51 "document using spreadsheet better"
especially using stuff via comment mode

[2017-08-15 21:58] eads opened #52 "are there any events that could be collected from email lists"
Suggested by @milti

[2017-08-15 22:08] eads opened #53 "globally disable robots.txt check"

[2017-08-15 22:10] diaholliday commented on #49
@jim we talked about this a moment ago but I wanted to post here as well in case anyone has the same question:

The Documenters program will eventually employ a Documenters Manager that will coordinate and assign meetings to Documenters—the manager will also be tasked with manually inputting meeting ties and locations that can't be scraped.

If you come across a PDF or other means of listing event

[2017-08-15 22:25] r-wei commented on #46
I'll fix this

[2017-08-15 22:35] eads opened #54 "idph has a "special" date format for multi-day events"
https://sadtrombone.com/

<img width="742" alt="screen shot 2017-08-15 at 5 34 17 pm" src="https://user-images.githubusercontent.com/634572/29339510-14d14764-81e0-11e7-90f4-7c4df467192f.png">

[2017-08-15 22:52] eads opened #56 "abstract county spiders into a class"
... or something

[2017-08-15 23:08] r-wei commented on #1
Is it too early to start working on this?

[2017-08-15 23:10] r-wei opened #58 "SPIDER: Cook County Dept of Public Health"

[2017-08-15 23:12] nickdevlin opened #59 "SPIDER: Chicago Board of Election Commissioners"

[2017-08-15 23:33] eads commented on #34
+1 to a geocoding step in the pipeline -- we'll need to stash an address somewhere tho

[2017-08-16 00:40] bonfirefan opened #61 "SPIDER Office of the City Clerk (City Council)"

[2017-08-16 04:26] bonfirefan opened #62 "invoke fails on windows"
`invoke runtests`
`You indicated pty=True, but your platform doesn't support the 'pty' module!`

Unfortunately pseudo terminal handling is not available for Windows, and the pty=true flag prevents you from invoking runtests. Most people are probably not doing the frustrating thing of trying to run things in Windows like I am, but just case, I know one solution mentioned was to put in an os check.

[2017-08-16 15:20] jim commented on #31
For this, do we need to have the timezone name or just the offset? If just the offset, we could extract it from the ISO8601 times (`2017-08-24T08:30:00-05:00`). Or do we need the `timezone` value to be "America/Chicago"?

[2017-08-16 15:21] jim commented on #49
@diaholliday Cool. I think the TODO here is to add that to the project docs, and I'll close this ticket when that has been done.

[2017-08-16 16:26] jacobroufa commented on #44
Excellent. I have added a few agencies to the list that came to my mind immediately, and am currently researching in order to more completely fill out the list. I know there are likely ~100 public taxing bodies in Winnebago County, according to a former colleague from the RRStar. I've got a request out to someone at the County Clerk's office for that list; when that provides me with more informati

[2017-08-16 16:26] #44 closed

[2017-08-16 22:28] eads commented on #62
I looked around a bit and you should be able to do something like:

[code]

[2017-08-16 22:31] eads commented on #62
I'm also wondering whether or not to file something against `invoke` ... I feel like it should warn and skip the pseudo terminal rather than bailing out, but I can see the case for how it works now.

[2017-08-19 00:37] #46 closed

[2017-08-19 00:38] #62 closed

[2017-08-19 00:39] #53 closed

[2017-08-19 00:41] #58 closed

[2017-08-21 01:32] eads commented on #1
sorry for late reply... it's a little early -- trying to figure out the right local development environment with creds I can't currently share, but should have something by tuesday

[2017-08-22 22:40] nickdevlin opened #71 "SPIDER: Public Building Commission of Chicago"

[2017-08-22 22:55] #40 closed

[2017-08-23 00:32] bonfirefan commented on #5
Awesome, I picked up the city clerk site but it looks like this feed already scrapes the meetings on a daily basis. Any problems with modifying the city clerk spider to point to Councilmatic?

[2017-08-23 00:32] r-wei commented on #49
I added a column in the spreadsheet for this

[2017-08-23 02:39] fgregg commented on #5
Please don't scrape councilmatic. Use this the API endpoint referenced
above instead. docs are at ocd.datamade.us

On Tue, Aug 22, 2017 at 7:32 PM, bonfirefan <notifications@github.com>
wrote:

--
773.888.2718

[2017-08-23 02:46] fgregg commented on #33
This information is also available from
https://cook-county.legistar.com/Calendar.aspx

since this is a legistar site, most of the work is done for you if you use
https://github.com/opencivicdata/python-legistar-scraper

On Tue, Aug 8, 2017 at 5:36 PM, Jim Benton <notifications@github.com> wrote:

--
773.888.2718

[2017-08-23 02:57] fgregg commented on #33
You may also want to use python-legistar-scraper for
https://github.com/City-Bureau/documenters-aggregator/pull/42 and any other
legistar sites that you might want to add in the future:

- forest preserve
- mwrd
- others?

On Tue, Aug 22, 2017 at 9:45 PM, Forest Gregg <fgregg@uchicago.edu> wrote:

--
773.888.2718

[2017-08-23 05:23] bonfirefan commented on #5
Yes, definitely not scraping councilmatic - looking through the documentation now, as well as the source code itself - a few of the Cook County agencies also appear to use Legistar.

[2017-08-23 15:16] jim commented on #33
@fgregg Good point. We should definitely look into using python-legistar-scraper for this. Thanks for bringing it to our attention!

@Ryan-Koch Want to see if we can use that library (or parts of it) to retrieve data from the legistrar sites?

[2017-08-23 15:20] jim commented on #29
Turns out the OCD docs mention that the datetimes should be in UTC and use the Z timezone designator (indicating that they are in plain UTC) ([source](http://docs.opencivicdata.org/en/latest/proposals/0004.html#core-fields)):

[code]

I added this in #73, so this can be closed when that is merged.

[2017-08-23 15:25] jim commented on #6
We have a start on this in the docs. Are there specific topics we need to cover that aren't already addressed?

[2017-08-23 15:45] jim commented on #38
How about we extend the OCD model with a new object, `registration`:

[code]

For events that don't need registration we could leave out most of the new fields:

[code]

[2017-08-23 15:56] jim opened #74 "Leverage OCD/Datamade scrapers and projects"
This has come up a few times in various issues (#33, #5). We should evaluate the following existing projects and APIs and identify how we can leverage them to eliminate duplicated effort:

1. Open Civic Data has some scrapers already built that we should consider using:
    * [python-legistar-scraper](https://github.com/opencivicdata/python-legistar-scraper)
    * [opencivicdata/scrapers-us-munici

[2017-08-23 15:58] jim opened #75 "Event format validator"
I think it would be nice to have an event validator as a part of the pipeline in order to ensure that any data that gets downstream has all of the required fields in the correct formats.

[2017-08-23 20:50] r-wei commented on #75
Line 76 in pull request #70 might be the airtable-python place for it..?

[2017-08-25 14:06] jim commented on #54
@eads How should we handle this? It's really three events on three days that happen to be related (vs. one event that starts at 8 am the first day and ends at 4:30 the third day).

We don't have a FAQ yet, but when we have an answer here let's start one to document how to deal with this scenario.

[2017-08-25 15:06] eads commented on #54
I looked at this just last night, was puzzled, and being a weak and fallen creature, gave up like a coward.

The thing I'm wondering is how to distinguish an event that runs August 23 - August 25 from three events (Aug 23, Aug 24, Aug 25). I don't trust that the former scenario would never happen, nor that the site would make a meaningful distinction.

Perhaps there's something in the markup, thou

[2017-08-25 15:07] eads opened #77 "create FAQ"
finish #54 then move on to this

[2017-08-25 15:11] diaholliday commented on #54
Definitely the same use-case on our end. I could easily envision us sending
out a different Documenter to each separate event or having a single
Documenter cover a series. We've been doing this with the CPD meetings on
CAPS held throughout this month actually. An ideal solution would be to
have the system note that it's a series but still count each event
separately.

Hope that's helpful. I'm happ

[2017-08-25 15:18] r-wei commented on #74
It looks like the scrapers that have already been built are for the [Chicago Clerk's Office](https://chicago.legistar.com/Calendar.aspx).
- DataMade has an [api for the data](http://ocd-api-documentation.readthedocs.io/en/latest/), and Bonnie is looking into using scrapy on it.
- Open Civic Data has put up the [code](https://github.com/opencivicdata/scrapers-us-municipal/blob/master/chicago/events

[2017-08-25 15:34] r-wei opened #78 "OCD Spider: Cook County Board of Comissioners"
Step 1: To access the data, guess the name of the client here: http://webapi.legistar.com/
The name of the client is not:
cookcounty
cook-county
cookcountyil
cookcountygov
cookcountygovil
cookcountyilgov

[2017-08-25 15:37] eads commented on #74
re that API -- we could use scrapy as a glorified copying mechanism

re: the legistar thing; I didn't quite realize so many local events were using legistar. I thought about pupa for this but I like scrapy better for a lot of reasons (it's just more robust as far as I can tell). Perhaps there's a way to steal the existing parsing logic from pupa and again use scrapy as a glorified copying machine

[2017-08-25 18:29] r-wei commented on #74
OCD's python-legistrar-scraper is structured differently from our project. It's organized by geography. To run an OCD scraper, you have to download their repo and call something like `pupa upgrade chicago`. It's not straightforward (to me) how to combine the code from both repos.

This is what I think we should do for legistar sites:
- Access the data using the [legistar api](http://webapi.legista

[2017-08-25 19:19] eads commented on #74
If we do wind up copying some of that logic directly, we'll need to update the license e.g. https://github.com/City-Bureau/documenters-aggregator/blob/master/LICENSE#L26-L54 -- not a big deal, just want to note it for posterity.

[2017-08-27 22:09] r-wei opened #79 "Pull events from google calendars to airtable"
A number of the wards use google calendar. It looks like it would be easy to [pull events](https://zapier.com/zapbook/zaps/3552/import-all-your-events-from-google-calendar-into-an-airtable-base/) from google calendars to airtable, but I'm not sure if it's free. Some of the ward calendars also include social/entertaining events like street festivals.

[2017-08-28 03:36] shinda opened #80 "https://www.cookcountyil.gov/calendar --- 404 Not Found httperror"
Hi!

The spider for http://www.cookcountyil.gov/calendar causes a 404 httperror.

Anyone have an idea of how to get around this?

[2017-08-28 14:52] jim commented on #80
@shinda Can you push your code to a branch so someone can take a look at it? From what I can see, accessing `https://www.cookcountyil.gov/calendar` (note the `https`) seems to work:

[code]

Feel free to [create a pull request](https://help.github.com/articles/creating-a-pull-request-from-a-fork/) with your code so we have a place to further discuss and troubleshoot!

[2017-08-29 21:41] joshuarrrr opened #82 "SPIDER: Illinois Labor Relations Board"

[2017-08-29 22:48] #29 closed

[2017-08-29 22:59] jim opened #83 "Generate Ward nights from CSV data"
@diaholliday Is leading a project to compile all of the ward night schedules into a spreadsheet. We can read this in and generate events using that schedule for all of the wards.

[2017-08-29 23:10] diaholliday commented on #83
Yes! here's the link to that spreadsheet. We currently have Documenters
calling every alderman's office so it's not complete but it will be by
Sept. 8 at the latest:
https://docs.google.com/spreadsheets/d/1xnt4kZI9Ruinw91wM-nnWftsFD-ZaKaozepdNXeIrpo/edit

On Tue, Aug 29, 2017 at 5:59 PM, Jim Benton <notifications@github.com>
wrote:

--

773-819-5188
Diaholliday.com <http://diaholliday.com/>
<https

[2017-08-29 23:48] r-wei opened #84 "Spider: Cook County Electoral Board"
http://www.cookcountyclerk.com/countyboard/boardmeetings/Pages/default.aspx

Appears not to be on legistar

[2017-08-30 16:41] joshuarrrr opened #88 "Estimating unknown end_time?"
Some meetings have no defined length, but end_time is a required field.
Should we use some default duration like
`start_time + timedelta(hours=1)`
for such meetings?

If so, maybe add to FAQ #87

[2017-08-30 19:51] r-wei commented on #79
closed by 83

[2017-08-30 19:51] #79 closed

[2017-08-30 19:55] r-wei commented on #88
Our work-in-progress [events schema](https://github.com/City-Bureau/documenters-aggregator/blob/master/docs/event_schema.md) allows optional end times. I think this question is best answered by the documenters: @diaholliday ?

[2017-08-30 20:34] eads commented on #88
👍 @r-wei -- definitely a bigger fan of changing the specification than trying to guess something we don't know.

[2017-09-01 16:01] r-wei commented on #78
I emailed the webmaster last week asking if their data is public, but no response yet.

[2017-09-01 16:14] eads commented on #78
Time for some FOIA action?

[2017-09-03 23:09] joshuarrrr commented on #88
@r-wei Thanks for the link to the events schema, that's really helpful.

@eads I agree that it makes sense to limit the not make inferences at this stage of the pipeline. I guess I was thinking ahead to the way calendar interfaces usually have some default duration set for representing times. But better done downstream.

[2017-09-03 23:09] #88 closed

[2017-09-05 23:56] joshuarrrr commented on #82
Done via #90

[2017-09-05 23:56] #82 closed

[2017-09-06 02:11] eads opened #94 "PROPOSAL: descriptive event name as spider object property"
It would be nice to capture the official names of events. The acronyms are lovely for the internal spider names but we'll need and want the official name down the road, and this feels like a useful place to stash it.

[2017-09-06 02:15] eads opened #95 "What geocoder service should we use?"
See https://github.com/City-Bureau/documenters-aggregator/pull/85#issuecomment-327325384

Leaning towards Mapbox for now and will use to close #85.

[2017-09-06 04:47] joshuarrrr opened #96 "No test cases for https"
It would be useful to have some explicit https `start_urls` and `domain` test cases so that future changes to the template or tasks don't inadvertently assume http.

[2017-09-06 05:45] eads opened #97 "ilrb has a print statement when running tests"

[2017-09-06 05:46] eads opened #98 "document pipelines"

[2017-09-06 20:34] #97 closed

[2017-09-09 19:50] dcldmartin opened #101 "SPIDER: Cook County Land Bank Authority"

[2017-09-12 22:03] r-wei opened #103 "SPIDER: Chicago Police Board"

[2017-09-13 00:29] #103 closed

[2017-09-14 02:50] bonfirefan commented on #5
Forest - do you happen to know how to ascertain the client names for other legistar sites? I know we were also looking at https://cook-county.legistar.com/calendar.aspx
Unfortunately "cook-county" and variants don't seem to work. I've also tested out variants for other legistar sites, some which seem to follow an obvious logic, and other which don't (Madison's legistar site, for example).

[2017-09-14 02:52] bonfirefan commented on #5
Also - what would be the main difference in sending a direct request through the legistar api and querying the ocd API endpoint?

[2017-09-14 04:09] fgregg commented on #78
Only a very few legistar sites have their data exposed through the API. Cook County is not one of them.

I don't think A FOIA will help you since they publish the data here: https://cook-county.legistar.com/Calendar.aspx

[2017-09-14 04:12] fgregg commented on #74
the python-legistar-scraper does *not* have pupa as a dependency. We use it for our pupa scrapers, but you can use it without using pupa. Trust me when I say that we are handling a *lot* of complexity for you in in python-legistar-scraper.

[2017-09-14 04:15] fgregg commented on #5
1. As I said in #78, legistar does not expose cook county data through an API, you'll need to scrape the website.

2. The main difference is that we have spent a few years figuring out the vagaries of legistar data sources and how to assimilate those to an OCD data model. If you don't build off of our work, you will have to replicate all that learning yourself, which is not trivial.

[2017-09-14 04:44] bonfirefan commented on #5
Great, thanks! Ok - bear with' me here. I'm trying to query the events endpoint on the OCD API and it appears I'm not finding a start_time. I've gone to the detail page of an individual event_id and still didn't find one. Perhaps I'm querying the API wrong? The "T##:##:##" ending string does correspond to the actual start_time.

[2017-09-14 04:46] fgregg commented on #5
Example url?

[2017-09-14 04:46] bonfirefan commented on #5
Edited the previous comment with an example: I'm checking both your link and the more general: https://ocd.datamade.us/events/

[2017-09-14 04:47] bonfirefan commented on #5
An example detail event query: https://ocd.datamade.us/ocd-event/7872bdf0-0ffa-41b5-a778-7116635eb0b7/

[2017-09-14 04:49] fgregg commented on #5
I'm seeing `start_date`, but you are not?

```"start_date": "2013-04-08T15:00:00+00:00"```

[2017-09-14 04:51] fgregg commented on #5
`start_date` is a fully datetime (date and time combined)

[2017-09-14 05:00] bonfirefan commented on #5
Okay, so for example the Committe on Housing and Real Estate on 9/27/2017 at 10am: https://chicago.legistar.com/MeetingDetail.aspx?ID=563656&GUID=7286E5BA-E48E-46D3-AB0F-0ACC61767B68&Options=&Search=
On the OCD API, the details page for this event is https://ocd.datamade.us/ocd-event/8bf4b996-ffe0-4d57-86c6-16ead15c8848/
Which lists
`start_date : "2017-09-27T15:00:00+00:00"`

[2017-09-14 05:02] fgregg commented on #5
Okay, what's the problem?

T15:00:00+00:00 means 3 in the afternoon UTC. Which is 10am Chicago time.

[2017-09-14 05:03] bonfirefan commented on #5
Ah, that is it, I had the wrong timezone. Thanks for clearing that up.

[2017-09-14 05:05] fgregg commented on #5
in T15:00:00***+00:00*** the bolded part is the timezone relative to UTC. since it's 00:00 the timezone is UTC.

[2017-09-15 01:06] r-wei commented on #74
@fgregg, I would be happy to use python-legistar-scraper and not have to re-write code.

Trying to understand how to use it... I think we'd be interested in the LegistarScraper class in [base.py](https://github.com/opencivicdata/python-legistar-scraper/blob/master/legistar/base.py) or LegistarEventsScraper class in [events.py](https://github.com/opencivicdata/python-legistar-scraper/blob/master/le

[2017-09-15 02:04] fgregg commented on #74
@r-wei you are right, sorry about that. There is no substantive dependency on pupa though. If you do want to use it, you can remove the dependency and replace it with `scrapelib.Scraper` If you can down that route, we'll work with you to get that change brought into `master` and remove the `pupa dependency`

[2017-09-16 13:14] r-wei commented on #74
Thanks @fgregg , I opened an [issue](https://github.com/opencivicdata/python-legistar-scraper/issues/44) with some code that works without pupa.

@eads, @bonfirefan, for scraping the cook county board of commissioners legistar site, I think David was originally right that we an use OCD's LegistarEventsScraper (example [here](https://github.com/opencivicdata/python-legistar-scraper/issues/44)), and

[2017-09-18 03:54] dcldmartin opened #107 "Spider: Chicago Infrastructure Trust"
@eads I grabbed this one because it wasn't taken on the Exel sheet. Should probably be updated.

[2017-09-18 19:55] #84 closed

[2017-09-19 23:29] r-wei opened #110 "Fix spiders not conforming to events schema"
Since we've been figuring out the [events schema](https://github.com/City-Bureau/documenters-aggregator/blob/master/docs/event_schema.md) while spiders are being made, some of the earlier spiders don't conform to the events schema. At the hackathon, I plan to go through a bunch of my old spiders and bring them up to date to the events schema.

[2017-09-19 23:34] joshuarrrr commented on #110
Sounds good, I was thinking about this too.

[2017-09-20 00:43] #101 closed

[2017-09-20 03:06] #78 closed

[2017-09-20 04:03] easherma commented on #62
I ran into similar/other issues with using windows directly. It may or may not be worth it to stub out an issue regarding Windows support/issues?

@bonfirefan were you able to get up and running? Alternative, if you're familiar with using Docker I recently added a Dockerfile that you could use to run on Windows instead

[2017-09-20 12:52] bonfirefan commented on #62
Hey there! I would love to test out the dockerfile - I ended up switching completely to Linux, though!

[2017-09-27 01:18] #107 closed

[2017-09-27 01:20] eads commented on #94
Closed in #106

[2017-09-27 01:20] #94 closed

[2017-09-27 01:25] eads opened #115 "parameterized tests to ensure all scrapers have certain properties"
e.g. long name, properly formatted url configs

[2017-09-27 01:25] eads commented on #115
tangentially related to #110

[2017-09-27 06:30] eads opened #116 "minor long name cleanup"
I screwed up IPDH's full name; there were a couple missing that got merged in via PR before we changed things up.

[2017-09-27 06:31] #116 closed

[2017-09-27 06:49] eads opened #118 "clean up logging pipeline"
currently references non-existent "title"

[2017-09-28 17:01] eads opened #119 "caps scraper returning datetime objects for start and end, not strings"

[2017-09-28 17:59] diaholliday opened #120 "Alderman Ward Night scraper needed"
Hey all,
I mentioned this mini-project in brief several weeks ago but our team of Documenters just wrapped up work on the Alderman Ward Night spreadsheet. This is great news in general, but also means we need one more scraper. Is anyone up to tackle this one?

The spreadsheet is here: https://docs.google.com/spreadsheets/d/1xnt4kZI9Ruinw91wM-nnWftsFD-ZaKaozepdNXeIrpo/edit#gid=0

I talked to @eads

[2017-09-29 22:27] eads opened #121 "ignore _cache dir"

[2017-09-29 22:40] eads opened #122 "how in the ?#(!@#& are we going to easily copy airtable schema"

[2017-10-01 23:25] #1 closed

[2017-10-01 23:25] #121 closed

[2017-10-02 19:22] jim commented on #120
@diaholliday This is the perfect task for me. I’ll get started on it!

[2017-10-02 21:04] diaholliday commented on #120
Great, thanks!

On Mon, Oct 2, 2017 at 2:22 PM, Jim Benton <notifications@github.com> wrote:

--

773-819-5188
Diaholliday.com <http://diaholliday.com/>
<https://twitter.com/d_holli> <https://www.facebook.com/dIa.holliday>
<https://instagram.com/dia_holliday/>

[2017-10-02 22:58] jim commented on #83
Closing in favor of #120.

[2017-10-02 22:58] #83 closed

[2017-10-04 17:11] r-wei opened #124 "Require original url for all scraped items"
Scrolling through the airtable calendar, I think this is important. A lot of the events are missing information or are tentative, so the original url would provide users a way to find more information, email a contact person, etc. For journalist users, they might want the original url for background info.

[2017-10-04 17:43] diaholliday commented on #124
Yes, yes, yes. These are both great points and will definitely be good practice going forward. @r-wei is there anything I can do to help implement this for all entries or is it more a question of coding?

[2017-10-04 18:00] r-wei commented on #124
I think this is mostly a matter of coding

[2017-10-04 18:56] eads commented on #124
This is extremely doable! Does make me think we should discuss semantic
versioning or something to handle data schema changes and major API changes.

On Wed, Oct 4, 2017 at 11:00 AM, Rebecca Wei <notifications@github.com>
wrote:

--
David Eads | http://recoveredfactory.net

"Medical statistics will be our standard of measurement: we will weigh life
for life and see where the dead lie thicker, amon

[2017-10-06 00:13] eads opened #125 "deploy scrapers to AWS"

[2017-10-06 00:39] #118 closed

[2017-10-06 01:14] eads opened #129 "update USER_AGENT header identification of ourselves"
`USER_AGENT` in the settings file

[2017-10-06 01:24] #119 closed

[2017-10-06 01:32] #129 closed

[2017-10-06 04:19] eads opened #132 "caps, cchhs scrapers are both a lot"

[2017-10-06 04:58] eads opened #133 "cchhs fails with airtable pipeline"
[code]

[2017-10-06 16:45] eads commented on #132
@diaholliday I'm thinking that we could do some filtering in the pipeline to identify and filter out various kinds of meetings. CCHHS especially has all these community events which are lovely and we should capture somewhere but maybe no need to push into airtable.

Past events are similar.

Just trying to figure out ways to lighten the load on the database so there's not a lot of noise.

[2017-10-06 18:14] diaholliday commented on #132
I agree. A lot of the those CCHHS events are not needed. My metrics are basically 1) is this a meeting where a decision that affects the city could be made and 2) is it a governing, elected or enforcement body.

I do like the CAPS meetings but we could store the CCHHS meetings without pushing them to the aggregator.

*Typed with thumbs*

[2017-10-06 18:24] eads commented on #132
I'll filter out some of the CCHHS stuff. There's a much smaller % of the CAPS events that don't meet the criteria, but most of them do (even if there's just so many!).

I think there's some kind of basic stuff I can do like only inserting events that happen in the future, as well.

[2017-10-07 17:29] r-wei commented on #133
I can fix this and put the dates for all the scrapers in the same format. There are 2 formats right now.

1) dates in this format with the number of hours offset from utc at the end: 2017-01-01T12:00:00-05:00
2) dates in utc (2017-01-01T07:00:00Z) with an extra field timezone="America/Chicago"

@eads is there a preference for which one?

[2017-10-09 20:05] eads opened #135 "cclba "unprocessable entity" warnings, not written to airtable"

[2017-10-09 20:08] eads opened #136 "cchhs appears to return date strings that aren't legit for dateutil parser"
<img width="872" alt="screen shot 2017-10-09 at 1 07 43 pm" src="https://user-images.githubusercontent.com/634572/31356440-e2740c28-acf2-11e7-95c2-875d60ba5410.png">

[2017-10-09 20:36] r-wei commented on #136
related to #133

[2017-10-09 21:03] eads commented on #136
Lol look at me making dupes O_o

[2017-10-09 21:29] r-wei commented on #133
@eads , do you have a preference for 1 vs 2 here?

[2017-10-10 06:15] eads commented on #133
#1 sounds good!

[2017-10-10 20:48] jim commented on #120
Tracking this work [over here](https://github.com/City-Bureau/documenters-aggregator/pull/137).

[2017-10-10 21:46] KathyLynch opened #138 "Cook County information assistance"
Provided a number of Comment markups to the Google Sheet to provide notes or additional info (under Cook County Webmaster).
If there are additional items that we can assist with in providing feeds/api or other sources directly, happy to help save some scraping time. There are some items that we have in development or consideration already.
Please feel free to let us know.
You can also email us at

[2017-10-10 22:59] diaholliday commented on #138
Thanks for the help and suggestions, Kathy. We'll definitely be in touch as the project progresses, and place feel free to weigh in any time.

[2017-10-11 22:37] eads commented on #138
@KathyLynch this is awesome. We'd love to see you at the [Design-A-Thon](http://www.citybureau.org/design-a-thon) if you or a colleague to swing by.

[2017-10-12 00:32] #136 closed

[2017-10-12 00:32] #124 closed

[2017-10-12 00:35] eads commented on #122
as far as I can tell currently, we aren't!

my thought here is this: a lovely group activity for those who want to hack on the project on saturday would be building a relational database adapter

[2017-10-12 00:36] eads opened #139 "first scraped date / last updated date in airtable"

[2017-10-12 03:09] eads opened #140 "save raw data somewhere"

[2017-10-12 03:26] #133 closed

[2017-10-13 01:37] jim commented on #38
@eads This has come up with the ward night scraper as well. What do you think of adding fields as described above?

[2017-10-13 01:38] jim commented on #37
This will be handled by #137 when it is completed.

[2017-10-13 01:38] #37 closed

[2017-10-13 18:13] #54 closed

[2017-10-13 18:13] #139 closed

[2017-10-13 18:13] #135 closed

[2017-10-13 18:18] eads opened #142 "remove hardcoded ARNs with my personal AWS account #"
There's some deployment bits that hardcode ARNs that should instead be built dynamically.

[2017-10-13 18:19] eads opened #143 "check and validate geocodes"
Would be nice to run against Google, but also at least directly verify some sample of the geocoded locations.

[2017-10-13 18:23] eads opened #144 "expand deployment documentation"

[2017-10-13 18:25] eads commented on #132
I think this is fixed enough for now: CCHHS now grabs just the board meetings and the pipeline omits past events. There's a lot of Chicago Police events, but except for the odd fun day, fit the general criteria of meetings of official bodies with political and social consequence.

[2017-10-13 18:25] #132 closed

[2017-10-13 18:29] eads opened #145 "code tests for geocoder"
related to #143 -- validated geocodes could be part of these tests, or input / expected values could be found independently.

Currently using [this library](https://github.com/duydo/python-mapzen), but it doesn't appear it's going to play nice with betamax/requests, so it might be worth just using regular old requests and the mapzen endpoint, or being good citizens and adding mapzen to Python Geoc

[2017-10-14 20:37] palewire opened #146 "SPIDER: Animal Care and Control Commission (Advisory Board)"

[2017-10-14 21:15] eads opened #149 "Airtable shows two different times for an event (timezone issue?)"
Formatted and machine readable different times

[2017-10-14 21:15] eads opened #150 "split location name and address into two columns"
/ be consistent about it

[2017-10-14 21:16] eads opened #151 "fill Nones with "n/a" in airtable pipeline"

[2017-10-14 21:16] eads opened #152 "spell out full day / better formatting for human readable date columns"

[2017-10-14 21:36] eads opened #155 "genspider broken"
[code]

[2017-10-14 21:43] #155 closed

[2017-10-15 18:14] eads opened #159 "docs aren't building correctly"
contributing a spider page isn't showing up

[2017-10-15 19:09] #159 closed

[2017-10-15 19:47] palewire commented on #146
Closed by #153

[2017-10-15 19:47] #146 closed

[2017-10-15 21:42] diaholliday commented on #150
Just wanted to follow this issue so I can correct the zap when it's ready

[2017-10-15 23:34] bonfirefan opened #161 "Rename spiders to use long names"
The Chicago City Clerk spider is currently named "ccc" in line with the ongoing naming convention, but the City College of Chicago has the same abbreviation. Should I change the filename ccc.py to cityclerk.py, the test to test_cityclerk, the test file to cityclerk.json, and the spidername to cityclerk, CityclerkSpider?

[2017-10-15 23:43] r-wei commented on #161
That works for me :)

[2017-10-15 23:46] r-wei commented on #150
Is a change to the [events schema](https://city-bureau.gitbooks.io/documenters-event-aggregator/event-schema.html) or processing of scraped items? Right now, the events schema says the location field should have a "name" field which is the street address... I suppose that's confusing.

[2017-10-16 16:23] #71 closed

[2017-10-16 18:09] jim commented on #161
I also like using full names instead of acronyms! It makes the codebase easier to navigate.

[2017-10-16 18:10] jim commented on #140
By "raw data", do you mean the HTML we fetch from the scraped sites? Or the processed items that are sent through the pipeline?

[2017-10-16 18:12] jim commented on #77
We have a [FAQ page](https://city-bureau.gitbooks.io/documenters-event-aggregator/faq.html), so I'm closing this.

[2017-10-16 18:12] #77 closed

[2017-10-16 18:39] eads commented on #140
the processed items -- I'm just thinking it would be good to save the json from each scrape on s3 since it's cheap as hell

[2017-10-16 18:44] eads commented on #161
Should we consider a big shift there? I added the "long name" property to help with that, but I also find the acronyms a little too obscure and a little harmful to the developer experience.

[2017-10-17 14:37] diaholliday commented on #138
@KathyLynch Is there any further info available re: when the Cook County RSS feed might be up and running?

[2017-10-17 19:21] jim opened #162 "Add "help wanted" and "good first issue" tags to issues!"
<img width="488" alt="screen shot 2017-10-17 at 2 20 53 pm" src="https://user-images.githubusercontent.com/3331/31684768-6e392168-b346-11e7-8347-328e4c0d1fd8.png">

[2017-10-17 19:22] jim commented on #149
Is this happening across the board or to a specific spider?

[2017-10-17 19:23] jim commented on #125
@eads I think this is done, right?

[2017-10-18 16:18] eads commented on #125
This is done!

[2017-10-18 16:18] #125 closed

[2017-10-18 16:25] eads commented on #149
Not sure -- this was reported by @diaholliday and he showed me an example but I didn't see which spider it was from. Generally speaking, a round of checking on datetimes and fixing any inconsistencies would be useful.

[2017-10-18 16:29] diaholliday commented on #149
Across the board
![screen shot 2017-10-13 at 8 46 48 pm](https://user-images.githubusercontent.com/4017450/31730391-64d28b94-b3f7-11e7-8d36-afe6ffbb90a6.png)

looks like there's a timezone issue (or something) between "start-time-formatted" and "start-time"

[2017-10-18 18:03] jim commented on #149
OK, that is really helpful! Next steps for the person that picks this up:

- [ ] Verify which (if either) column shows the correct time
- [ ] Check to see how the Airtable upload code is determining these values.
- [ ] Verify datetimes coming out of spiders are correct and with the right timezone info.

[2017-10-18 18:13] jim commented on #161
Let's go ahead and make this change.

[2017-10-18 18:17] jim commented on #152
This is for Airtable I assume?

@diaholliday Can you give us an example of the format you would like to see?

[2017-10-18 21:01] diaholliday commented on #152
Yeah it's for airtable and the associated zaps.

"Thursday, January 21, 2017" for date

and for the separate times column "11:15am"

[2017-10-18 21:29] pjsier commented on #149
Took a look at this, and `start_time_formatted` seems to have the right time, but `start_time` is consistently 6 hours later. From looking at the output of the Airtable pipeline on a few of the spiders, the `start_time` string seems to have the right value (the `-6:00` is consistently at the the end of the string with the right time), but Airtable seems to be converting it to UTC

[2017-10-18 21:32] eads commented on #149
I wonder if fiddling with Airtable tz settings might resolve this. I'll take a look later.

[2017-10-21 16:06] jacobroufa opened #164 "Allow for any number of municipalities"
This is intended to be more of a discussion, hopefully resulting in a number of better-defined issues. An "epic" if you're familiar with Agile methodology.

Per discussions at the first Design Day, one of the teams' goal was to plan out a [Small Municipality Toolkit](https://docs.google.com/presentation/d/1DEzAwYBvGszbZnF9fuefhaaqlPTq1ieBEQD7chLWOjs/edit?usp=sharing). To that end, I believe some o

[2017-10-22 18:41] pauliebe opened #165 "SPIDER: Animal Care and Control Commission (Advisory Board)"

[2017-10-23 01:42] r-wei commented on #165
Hey Paula, glad to have you! Feel free to open a pull request any time with work-in-progress code for feedback or to discuss issues you run into.

[2017-10-23 18:53] diaholliday commented on #150
@r-wei yes I think it counts as a change to the events schema. Right now, the "location name" has a mix of building names and street addresses. I'd like to separate these so the address is formatted as its own column and the building name falls under "location name."

Let me know if this needs further clarification, I'm happy to refine more details.

[2017-10-23 18:54] diaholliday commented on #149
Any update on this issue?

[2017-10-23 18:56] diaholliday commented on #152
One change here: can we put the date at the end, i.e. January 21, 2017 (Thursday).

I need to be able to sort by date and having the day of the week at the front means the Airtable filter isn't reading the date.

[2017-10-23 19:04] jim commented on #152
@diaholliday We can do that. Would you rather have the day of the week in a separate column?

[2017-10-23 19:06] diaholliday commented on #152
Actually yeah, that'd be great.

[2017-10-23 19:08] eads commented on #150
The original spec is confusing on this point and I'm +1 for splitting this out in a more reasonable way.  We should not forget to ping the opencivicdata people about this; I don't think their event spec is in wide use and isn't as robust as some of the other data they model. It would be nice to see an update to event spec.

[2017-10-23 19:09] jim commented on #164
I think a first step would be to add a `municipality` field to the event data. We can actually infer this from the meeting address most of the time, but it seems like it would be more fool-proof to have another field that has this value in it. This would make it simple to filter by municipality for various output purposes, including potentially pushing the Rockford events to a different Airtable a

[2017-10-23 19:11] jim commented on #161
@bonfirefan Do you want to tackle the renaming? If so, I'll assign this to you 😃

[2017-10-23 19:13] jim commented on #95
We ended up going with Mapzen.

[2017-10-23 19:13] #95 closed

[2017-10-24 14:36] bonfirefan commented on #161
@jim Hehe sure, I'll rename to more descriptive names tonight.

[2017-10-24 18:10] eads opened #166 "Airtable: PBCC failing due to type mismatch in longitude"
Airtable is annoyingly inflexible about types yet opaque about how they work.

[2017-10-24 18:11] eads commented on #166
Specific log message:

[code]

[2017-10-28 02:23] jim commented on #4
I think this is done!

[2017-10-28 02:23] #4 closed

[2017-10-28 02:24] #34 closed

[2017-10-28 02:24] jim commented on #34
We have a geocoder now.

[2017-10-28 02:24] r-wei commented on #10
we have an events_schema.md now

[2017-10-28 02:24] #10 closed

[2017-10-28 02:27] r-wei commented on #31
no longer needed

[2017-10-28 02:27] #31 closed

[2017-10-28 02:28] r-wei commented on #47
done :)

[2017-10-28 02:28] #47 closed

[2017-10-28 02:31] r-wei commented on #56
this will be taken care of with Kathy Lynch's rss feed

[2017-10-28 02:31] #56 closed

[2017-10-28 02:33] r-wei commented on #59
will require manual entry

[2017-10-28 02:33] #59 closed

[2017-10-28 02:34] r-wei commented on #74
legistar spiders are done

[2017-10-28 02:34] #74 closed

[2017-10-28 02:35] #80 closed

[2017-10-28 02:36] r-wei commented on #110
validation pipeline is done / a first version of the validation pipeline has been merged in

[2017-10-28 02:36] #110 closed

[2017-10-28 14:53] bergren2 commented on #33
Going to use the Legistar scraper for #42 / #168.

[2017-10-28 19:49] jim opened #169 "Add agenda URL to event schema."

[2017-10-28 20:00] jim commented on #140
I guess I'm curious what the use case here is. Do we want to have an easy way to load the already scraped data onto a new machine? Or is this more of a historic record of what we've scraped in case we ever want to go back and look at what happened, say, for troubleshooting?

[2017-10-28 20:01] jim commented on #122
@eads Is the issue here needing to be able to create a new "base" that contains the tables needed by out AirtablePipeline?

[2017-10-28 20:03] jim commented on #51
What are our thoughts long-term? Once all of the scrapers on the spreadsheet are claimed, are we going to keep it going to track data sources in other municipalities?

[2017-11-01 20:38] #166 closed

[2017-11-04 16:47] bonfirefan commented on #161
"Tonight" was a blatant lie - in any case, I'm making the changes to the existing spiders and added a column for spider names in the google doc in columns "J" and "K" in the [google doc](https://docs.google.com/spreadsheets/d/1L1lbWj89wt8b2DIZhjxERJ5FCAWPDWd0nMibtc01sZk/edit#gid=0). Folks working on spiders in progress or new spiders can reference and make modification suggestions.

I'm following

[2017-11-04 18:30] jim commented on #161
@bonfirefan I usually consider "tonight" to mean "within the next week or so" on open source projects, so no worries!  😉

Thanks for working on this, and I think the plan to use the city/state in the name makes sense. I wonder if we want to use "chicago" instead of "city", though, and "il" instead of "state" in order to keep things organized if/when we incorporate other cities and towns? There is

[2017-11-04 21:35] bonfirefan commented on #161
Oh hmmm, I see this. I'm changing city prefixes to "chi-" and county to "cook-", state to "il-". Se

[2017-11-05 20:09] diaholliday opened #170 "Airtable Submission Form"
Create custom Airtable form that will allow Documenters to claim an open public meeting sent via Zapier/the aggregator. Creation of the form will allow CB staff to begin testing Documenters management and deployment using the Airtable aggregator.

[2017-11-06 15:02] eads commented on #170
gaaah my bad for not getting to this, I'll try and take a whack this week.

[2017-11-10 01:31] jim opened #173 "Geocoder pipeline needs to cache results"
This is if we have trouble hitting the MapZen API rate limit again.

[2017-11-10 01:40] jim opened #174 "Factor AWS account IDs out of deployment code"

[2017-11-10 21:37] #61 closed

[2017-11-10 21:37] #50 closed

[2017-11-10 21:52] pjsier opened #175 "SPIDER: Chicago Transit Authority Board"
Meeting calendar here: http://www.transitchicago.com/board/

[2017-11-11 18:43] jim opened #178 "Disable invoke debug output"
I'm not sure where this is happening, but somewhere we're setting the log level to `debug` and this is making the output of `invoke` extremely verbose. For example, this is getting printed after the useful output of `invoke runtests`, making it difficult to see the actual test and style check results:

[code]

[2017-11-11 18:44] jim commented on #161
@bonfirefan Thanks for doing this work! I merged your PR and will now close this issue.

[2017-11-11 18:44] #161 closed

[2017-11-12 19:20] #178 closed

[2017-11-12 22:46] jim commented on #122
From what I can tell, there is no way to create a table with the Airtable API. So this means that someone has to go in and create the destination table manually using the web GUI.

You also can't duplicate a table to another base, so this is going to have to be a manual process for now.

[2017-11-12 22:46] #122 closed

[2017-11-13 03:16] #174 closed

[2017-11-13 20:03] diaholliday opened #180 "Add community area to events"
Could set up a way to list the community area for each meeting in Airtable? I currently have an Airtable column for it but assume it's connected to the geocoding plan for the meetings.

[2017-11-14 23:18] eads commented on #180
Whoops, didn't mean to close. Was just gonna say getting political geographies _might_ be an argument for the Texas A&M geocoder.

[2017-11-15 16:02] easherma commented on #180
Mapzen has community areas. Other political boundaries I can't remember off the top of my head, but once we get lat/lng we can make another call to other APIs that would give us boundaries we'd like.

[2017-11-17 02:36] jim opened #181 "Add missing tests for Chi_animalSpider and fix broken spider"
[There are only a few tests currently](https://github.com/City-Bureau/documenters-aggregator/blob/master/tests/test_chi_animal.py). We should have better coverage for this spider, something more along the lines of [this](https://github.com/City-Bureau/documenters-aggregator/blob/master/tests/test_chi_pubhealth.py).

[2017-11-17 02:38] jim commented on #149
@diaholliday I think this is resolved in `EventsTest`. We can test once the rollout is complete.

[2017-11-17 18:51] jim opened #183 "Reuse HTTP connection to ocd.datamade.us"
The `cityclerk` spider makes a lot of requests to `ocd.datamade.us`:

[code]

Ideally, we can re-use a single HTTP connection to reduce the overhead on both ends.

[2017-11-17 21:10] jim opened #184 "Prevent duplicate HTTP requests from cityclerk spider"
The `cityclerk` spider makes identical HTTP requests in both `_parse_sources` and `_parse_location`. This code could be restructured to make a single request for each event and then parse all of the data out of a single response.

[2017-11-20 20:18] jim commented on #180
We might want to have `state`, `city`, `area`, etc. fields within the `location` since we probably get most of that from the initial geocode. I'm not sure how many levels we should support, but I think looking in to the [MapZen Places API](https://mapzen.com/data/places/) is a good place to start.

[2017-11-20 20:21] jim commented on #142
Fixed by 51411d091e.

[2017-11-20 20:21] #142 closed

[2017-11-20 22:19] r-wei commented on #184
Also needed: change city clerk name to appear as city council in airtable (more intuitive)

[2017-11-21 00:42] #162 closed

[2017-11-21 00:43] #152 closed

[2017-11-21 00:43] r-wei commented on #151
@diaholliday , is this something you wanted for the documenters, or @eads, is this more of a technical issue?

[2017-11-21 00:49] r-wei commented on #115
this can be taken care of with the validation pipeline

[2017-11-21 00:49] #115 closed

[2017-11-21 01:01] r-wei opened #185 "Fix validation pipeline for deployment"
The validation pipeline checks batches of scraped items instead of one at a time.

[2017-11-21 01:10] diaholliday commented on #151
@r-wei  This is something I wanted for documenters. It's really just so that the space for an empty cell doesn't look blank in the email and instead lets them know that there just isn't info for that particular cell.

[2017-11-21 01:57] r-wei commented on #5
resolved by #156

[2017-11-21 01:57] #5 closed

[2017-11-21 02:01] r-wei commented on #18
To build this spider, look under the ["Get community events" section ](http://api1.chicagopolice.org/clearpath/documentation/index) for api endpoints, and use the city clerk/city council spider as an example.

[2017-11-21 02:41] jim opened #188 "Enable geocoder in production"
This should come before the validator middleware.

[2017-11-22 17:48] #184 closed

[2017-11-25 15:28] bergren2 commented on #183
Looks like this was fixed by c15187ad29d3e7bb364ed0b52e4362f781743446?

[2017-11-27 21:36] r-wei opened #191 "new spider request: Chicago teachers pension fund"
Up for grabs. See [docs on contributing a spider](https://city-bureau.github.io/city-scrapers/03_contribute.html). Site to scrape: http://www.ctpf.org/general_info/boardmeetings.htm

[2017-11-27 21:37] r-wei opened #192 "new spider request: cook county housing authority"
Up for grabs. See [docs on contributing a spider](https://city-bureau.gitbooks.io/documenters-event-aggregator/contribute-a-spider.html). Site to scrape: http://thehacc.org/events/

[2017-11-27 21:39] r-wei opened #193 "New spider request: Metra board of directors"
Up for grabs. See [docs on contributing a spider](https://city-bureau.gitbooks.io/documenters-event-aggregator/contribute-a-spider.html). Site to scrape: https://metrarail.com/about-metra/leadership/board-meetings

[2017-11-27 21:48] r-wei commented on #165
duplicate of #146

[2017-11-27 21:48] #165 closed

[2017-11-29 00:13] jim opened #195 "Cook County ids are not using the new format"
<img width="1147" alt="screen shot 2017-11-28 at 6 11 24 pm" src="https://user-images.githubusercontent.com/3331/33351060-9a4f5eba-d467-11e7-83c2-0eaa27d6de9e.png">

We need a simple fix to make [this code](https://github.com/City-Bureau/documenters-aggregator/blob/master/documenters_aggregator/spiders/cook_county.py#L74) work like similar code in the other spiders.

[2017-11-29 00:14] #151 closed

[2017-12-01 20:08] diaholliday opened #196 "Add "CAPS" classification to airtable display name"
I think this is a backend/scraper issue not airtable specifically (please correct me if I'm wrong):

Can we add "CAPS" to tall Chicago Police Department listings that feature "CAPS community event" in the classification field? i.e. the display name would say "Chicago Police Department - CAPS Beat Meeting: 1135" or "Chicago Police Department - CAPS Beat 2423 Community Relations Meeting"

It would a

[2017-12-01 20:49] diaholliday opened #197 "Location names and addresses"
Can we split the "location name" tab into 2 separate tabs? One for Location names, i.e. Council Names, Shepherd Church, etc and one for the street address.

[2017-12-01 23:24] r-wei commented on #197
This is somewhat complicated from a coding perspective because the location names and street addresses are quite varied, and there aren't simple rules you could give a machine for determining where the location name ends and where the street address starts.

For some of the spiders, it is doable, for example, if the location is the same for all of the events. But for others, you would need somethi

[2017-12-01 23:37] diaholliday commented on #197
Ah I see, thanks makes sense, thanks for explaining the coding end of things. With that in mind, this issue is less of a priority on my end. The way it works now perfectly fine. Splitting it into two columns would be ideal but not necessary, and it sounds like the work involved may not be worthwhile at this stage.

If you can take a look and get an estimate on the requests that should be good for

[2017-12-02 00:07] diaholliday commented on #197
@r-wei it looks like some (not many) of the entries do have it split up in airtable. Not sure why that is. we may need to merge those into the location_name columns instead?

![screen shot 2017-12-01 at 6 05 18 pm](https://user-images.githubusercontent.com/4017450/33508825-751d9410-d6c2-11e7-82bb-f55845c5a54b.png)

[2017-12-02 00:11] diaholliday commented on #180
@r-wei can we add this to the kanban board also?

[2017-12-04 22:57] r-wei commented on #197
That's happening because some of our contributors were ambitious and built the splitting into their spiders :) I found out that mapzen api may be able to do the splitting as well. Stay tuned for how it goes..

[2017-12-07 21:53] #185 closed

[2017-12-19 17:10] r-wei commented on #180
deployed yesterday using mapzen

[2017-12-19 17:10] #180 closed

[2017-12-19 17:10] r-wei commented on #188
deployed yesterday

[2017-12-19 17:10] #188 closed

[2017-12-19 17:11] r-wei commented on #173
deployed yesterday

[2017-12-19 17:11] #173 closed

[2017-12-19 17:12] #175 closed

[2017-12-19 17:49] #149 closed

[2017-12-19 17:51] #197 closed

[2017-12-19 17:53] r-wei commented on #150
resolved using mapzen api

[2017-12-19 17:53] #150 closed

[2017-12-19 17:53] #120 closed

[2017-12-19 18:23] r-wei commented on #18
These events are being captured by the chi_police spider

[2017-12-19 18:23] #18 closed

[2017-12-19 18:25] r-wei commented on #75
deployed

[2017-12-19 18:25] #75 closed

[2017-12-20 16:24] r-wei opened #201 "il_pubhealth spider doesn't parse locations"
location name and address are both ''.

[2017-12-20 22:03] r-wei opened #202 "chi_infra spider is broken"
Here is the error from ```scrapy crawl chi_infra```

[code]

Working on this issue would familiarize you with our spider infrastructure and working with scrapy.

[2017-12-20 22:04] r-wei opened #203 "chi_pubhealth spider is broken"
Here is the error from ```scrapy crawl chi_pubhealth```

[code]

Working on this issue would familiarize you with our spider infrastructure and working with scrapy.

[2017-12-20 22:06] r-wei opened #204 "chi_transit spider is broken"
Here is the error from ```scrapy crawl chi_transit```

[code]

Working on this issue would familiarize you with our spider infrastructure and working with scrapy.

[2017-12-21 20:42] #204 closed

[2017-12-23 19:29] diaholliday commented on #170
hey @jim i just wanted to quickly leave my note on formatting here before I forget. Basically, the form seems to be formatting scraped meetings differently from meetings that are manually added to the same airtable table.
![screen shot 2017-12-23 at 1 26 36 pm](https://user-images.githubusercontent.com/4017450/34322150-5c3a7e2a-e7e5-11e7-9c7a-06889ce55ed1.png)

[2017-12-24 00:10] jim opened #206 "Cleanup requirements.txt"
It seems like there are a lot of dependencies listed in `requirements.txt` that we aren't actually using. We should start over with empty file and only add back what is needed to run the siders in dev and production environments.

[2017-12-26 02:55] jim commented on #206
Upon further investigation, it looks like we have a dependency chain of legistar -> pupa -> django -> psycopg that was what looked suspicious to me.

We should look into refactoring the legistar library to not require pupa (which is a different scraping library), which would hopefully avoid the other dependencies.

[2017-12-26 23:02] r-wei commented on #206
This is how far I got on unraveling legistar dependencies a while ago: https://github.com/opencivicdata/python-legistar-scraper/issues/44

There wasn't a response. We could fork the repo (I'd rather not), or be more direct in saying we're interested in using the legistar package without the pupa dependency.

[2018-01-02 18:31] jim opened #207 "Mapzen is shutting down :("
https://mapzen.com/blog/shutdown/

There are [some alternatives](https://mapzen.com/blog/migration/#mapzen-search) listed on their [migration guide](https://mapzen.com/blog/migration/). We'll need to find a replacement that provides lat/long as well as community area.

cc @r-wei

[2018-01-02 18:42] jim opened #208 "Try using libpostal to parse location strings into structured data"
https://github.com/openvenues/libpostal

I haven't tested this yet, but hopefully we can use just before geocoding to improve our success rate.

cc @r-wei

[2018-01-02 19:48] diaholliday opened #209 "Capitalize words in Airtable Location_Name and N/A"
@r-wei it looks like the separation of location names and addresses is working fine but can we capitalize all the words in the location name as well as the N/A that gets added when cells are blank? i.e. "6th district police station" would be "6th District Police Station" and all the "n/a" cells would be "N/A"

[2018-01-02 20:19] easherma commented on #207
Oh dear! That is sad news. I’d be happy to help with this; I think our best
bet is incorportating the python geocoder library so that we can easily
switch between options.
On Tue, Jan 2, 2018 at 12:31 PM Jim Benton <notifications@github.com> wrote:

[2018-01-02 20:20] easherma commented on #208
I’ve used libpostal before so we can discuss this!
On Tue, Jan 2, 2018 at 12:43 PM Jim Benton <notifications@github.com> wrote:

[2018-01-03 12:08] r-wei commented on #209
Yes, very doable. This should just be a couple lines of code in the airtable pipeline and using the inflector library in case others want to tackle non-spider issues

[2018-01-03 18:02] jim commented on #208
@easherma Great! My thought is to add an additional middleware (`LocationStandarizationMiddleware` maybe) and insert it before the geocoding middleware. Inside this new middleware, we can use libpostal (through its Python bindings) to convert our grab-bag location strings into structured data.

One thing I notice is that libpostal returns its data in all lowercase (having to do with its internal m

[2018-01-03 18:05] jim commented on #206
Looks like there is a pending PR that incorporates this fix: opencivicdata/python-legistar-scraper#57

This isn't super pressing for us, but it is blocking us from slimming down our Docker container for deployment to the extent we could after this change is made.

I'll label this as low priority and we can follow up on it later on.

[2018-01-03 18:07] jim commented on #207
@easherma Agree that moving to something that isn't provider-specific is a good idea as long as we can get the data we need!

[2018-01-05 19:07] jim commented on #203
I am working on this one. Looks like the website received a substantial update, in addition to the spider having the year `2017` hard coded in a few places.

[2018-01-05 21:48] diaholliday opened #210 "Add CHA meetings to aggregator"
I have a PDF doc of the Chicago Housing Authority's board and committee public meetings for 2018. Wondering if there's a way to code it into the aggregator or if it would be easier more efficient to just input by hand. @pjsier @r-wei?

Here's the PDF:  http://www.thecha.org/assets/1/6/2018_Committee__Board_Meeting_Schedule.pdf

[2018-01-05 22:36] pjsier commented on #210
For now it's probably easier to enter it by hand since PDFs can be a pain, but it looks like there are a decent amount of agencies that post schedules as PDFs based on issue #49. It could be worth seeing if some of the schedules are organized well enough to scrape

[2018-01-05 23:30] easherma commented on #210
Alternatively a bulk email could be sent to all of them asking/pleading for
an easier format to use.
On Fri, Jan 5, 2018 at 4:36 PM Patrick Sier <notifications@github.com>
wrote:

[2018-01-06 00:11] jim opened #211 "Move to Pipenv for managing dependencies"
[Pipenv](https://docs.pipenv.org) looks like the future of packaging in Python, at least from an outsider's perspective. We might want to consider moving to it for this project, as it seems to have simpler workflows and fewer steps for new folks to master.

[2018-01-06 00:36] easherma commented on #211
Looks pretty groovy! We can also flesh out Docker support and document how
to use that too. Maybe even do both? I have no strong preference or
perspective but I'm hoping to dig in with some commits soon and would have
more of an opinion after that.

On Fri, Jan 5, 2018 at 6:11 PM Jim Benton <notifications@github.com> wrote:

[2018-01-06 04:12] jim opened #212 "Document using Docker for local development"
Some folks have been using Docker to develop locally. We should include how to do this in our docs, as it is nice way to get up and running quickly.

[2018-01-06 04:13] jim commented on #144
I think d12e9872 covers this for now.

[2018-01-06 04:13] #144 closed

[2018-01-06 04:15] jim commented on #183
@bergren2 I think that commit helps by reducing the number of requests, but (and I haven't verified this) I think we're still opening a lot of HTTP connections.

[2018-01-06 04:18] jim commented on #170
@diaholliday I think we addressed that in our last call. I will follow up with you to make sure it is working properly.

[2018-01-06 04:18] jim commented on #170
Closing this issue as the form code lives in [City-Bureau/assignment-form](https://github.com/City-Bureau/assignment-form) and [City-Bureau/assignment-api](https://github.com/City-Bureau/assignment-api).

[2018-01-06 04:18] #170 closed

[2018-01-06 04:22] jim commented on #211
@easherma I [updated the deployment docs a bit](d12e9872), which starts to get into how we're using Docker and created an issue to track [adding documentation for local development using Docker](https://github.com/City-Bureau/documenters-aggregator/issues/212).

[2018-01-06 04:22] diaholliday opened #213 "Airtable "display name" column"
It looks like the Airtable "display name" column doesn't allow for manual input because it's a formula. I'm working on uploading some PDF meetings for 2018 but I"m unable to fill in info in any columns that are set in formula mode. Any suggestions for how to get around this?

[2018-01-06 04:25] jim commented on #210
@diaholliday I agree with @pjsier and think that entering the dates by hand is the way to go. I think that should be our standard approach for anything embedded in a PDF, at least as long as the number of meetings is something that we can enter manually.

I also like the idea of contacting any of these sources and asking for the data to be made available in a more consumable format.

[2018-01-06 04:29] diaholliday commented on #210
Agreed. I'm up to spend some time over the next week importing PDF meetings
by hand, but see my latest issue for more on the complication I've run
across while trying to import this first set of meetings (it appears that
the Airtable columns that are set in formula mode can't do manual
input—though it's possible I'm just not doing it right):
https://github.com/City-Bureau/documenters-aggregator/is

[2018-01-06 04:34] jim opened #214 "Update Lambda scheduler during deployment"
This is currently a manual task. It should be an automatic part of deployment.

[2018-01-06 06:27] diaholliday commented on #213
Correction: After messing around with the columns for a bit I see that the formula tables can accept manual input by adding values in the columns built into the formula but there's another problem I'm seeing, there's something going on in the times or timeszones that is putting the meetings off by several hours. A good number of the meeting start times throughout the aggregator are at 10pm, 11pm,

[2018-01-06 17:32] #210 closed

[2018-01-06 17:37] diaholliday opened #215 "Formatting issue with start/end times"
I've been playing around with this a bit but can't seem to figure out where the real problem lies. There's something going on between the scraped start/end times and the formula start/end times. It's possible to manually input start/end times correctly but the formula reads them wrong in the conversion
![screen shot 2018-01-06 at 11 34 14 am](https://user-images.githubusercontent.com/4017450/34642

[2018-01-06 17:55] diaholliday commented on #215
I went ahead and added 6 hours to the start time on my manual inputs to get the correct formula time and here's what I have now
![screen shot 2018-01-06 at 11 54 14 am](https://user-images.githubusercontent.com/4017450/34642428-7719ea34-f2d8-11e7-8aa3-3ac17d2c0471.png)

It looks mostly correct except some of the formula times are still an hour off. Does the timezone formula conversion account for

[2018-01-07 03:32] easherma commented on #145
@r-wei can you clarify/update if the current geocoder pipeline has any tests implemented?

[2018-01-07 03:44] r-wei commented on #145
There are no tests

[2018-01-07 03:49] easherma commented on #145
Okay, thanks for clarifying!

We might want to consider cleaning up the repo or I could benefit from an explanation of how far along the project did get towards testing (there is some code scattered around that seems to be related) and whether I should connect the dots on what was put together previously or start from scratch.

As of tonight I am beginning to work on an alternate geooding implemen

[2018-01-08 20:00] jim commented on #145
@easherma We have tests for most (all?) of the spiders, but not any of the other classes such as middlewares. Feel free to add a file under `tests` and put any tests for your implementation there. We'd like to avoid dependencies on other files and external resources as much as possible.

We have used betamax to stub out HTTP requests in the past, so feel free to use that if you think it will help.

[2018-01-08 20:09] easherma commented on #145
Jim,

Thanks for clarifying. I'll see what I come up with. We should consider
cleaning up the master repo though to strip out things not being used in
the current version to avoid confusion for future devs. I understand this
isn't a large priority at the moment and would be tedious. We could also
clean up the files folder to be a little more clear on what could be used
for what. I can file either

[2018-01-08 20:29] jim commented on #145
I am 100% in favor of cleanup of all types. Please file issues with specific tasks you think we should undertake so we can prioritize and make them happen!

[2018-01-09 02:18] diaholliday opened #217 "Assignment application formatting"
@jim two things I just noticed on the assignment application form. In addition to auto-splitting assignments into multiple entries when multiple assignments are selected, i.e. one for live-tweeting, one for submit meeting notes, etc, and making the url "citybureau.org/applications" can we also:

1. switch the two header lines so the department name is the larger/bold one and the type of meeting is

[2018-01-11 16:29] diaholliday opened #218 "New Spider/Scraper Needed: CPS School Closure Meetings (link provided)"
In light of the Englewood school closings I've done some research to figure out where the next meetings are being held and how we can add them to the aggregator. It looks like most, if not all of them, are listed here. Can anyone take this scraper on ASAP so we can make sure we have Documenters at them?

I won't pretend to know how extensive this scraper will be. The meeting are located on separat

[2018-01-11 16:31] diaholliday commented on #218
Also if a coder could assess this link and let me know how difficult it would be or how long it would take that would also be much appreciated. If it's a bigger haul than I anticipated I can import the meetings by hand.

[2018-01-11 16:48] r-wei commented on #218
This looks like a good site to scrape--all the events are formatted similarly with enough structure to pick off the different pieces. The trickiest thing will probably be navigating between the tabs. For anyone interested, a [FormRequest object](https://doc.scrapy.org/en/latest/topics/request-response.html#formrequest-objects) may be useful (see the [cook county landbank spider](https://github.com

[2018-01-11 16:51] diaholliday commented on #218
If it helps, we can limit it to the "school actions" tab for now. That one is the most important but we'd need all the info in each box, including the type of closure (i.e. closure, consolidation, etc) and contact info

[2018-01-11 16:53] pjsier commented on #218
If we're limiting to the School Actions tab this will be pretty straight forward. I thought it would be one of the weirder ASPX pages, but that tab is just an iframe for this page http://schoolinfo.cps.edu/SchoolActions/Documentation.aspx which has everything. I can work on this today if it's a priority

[2018-01-11 17:01] diaholliday commented on #218
Yes, I'd say it's a priority for now. We're working on some other non-spider related roles for the project but the closures are timely and would be great to have available for Documenters.

[2018-01-11 17:07] easherma commented on #218
Are these one-time meetings or recurring?

If they are one-time meetings, then its a matter of weighing the hours spent manually entering vs writing the scraper.

[2018-01-11 17:08] diaholliday commented on #218
One time, but I'm guessing they will keep updating this page as more closures, consolidations, etc, are announced

[2018-01-11 17:44] easherma opened #219 "Process for approving a scraper request"
I don't want this to get bogged down or overly formal, but it's worth considering having a rubric of sorts for evaluating the relative benefit of writing and maintaining a scraper vs manual input.

We might consider things such as:
* Are these one-off meetings or recurring?
* If they are one-off meetings, do we expect more in the future to be announced using a similar structure?
* Is there histori

[2018-01-11 19:17] diaholliday opened #221 "City Council Spider Times are Incorrect"
Not sure if this applies other spiders or not but the City Council start times are off by several hours. For example, I know the committee on education starts at 2:30p tomorrow, not 8:30p. Is there a way to correct this and, second priority, any others that may be off?
![screen shot 2018-01-11 at 1 13 48 pm](https://user-images.githubusercontent.com/4017450/34842583-8c1f8b6c-f6d1-11e7-8073-9bd863c

[2018-01-11 20:22] easherma commented on #221
Sounds like it's probably a UTC time error given the hour interval. Should be an easy fix, I might be able to address this today and fix it on the scraper end. As for the data already in Airtable, I don't have access at the moment so I can't do much there.

[2018-01-11 20:33] easherma opened #222 "Wrappers vs scrapers"
I've noticed that some spiders are more API wrappers than traditional scrapers.

We should probably organize or tag these by type, and have some documentation about the differences, how you might decide to make a wrapper instead of a scraper, and a contrib guide for that alternative approach as well.

[2018-01-11 20:41] diaholliday commented on #221
I'll defer to @r-wei on the push to Airtable, she has access (the accounts cost $$ so I'm trying to keep the number of accounts down until we have a better sense of who needs access and/or if a limited number of people can just push all necessary changes there)

[2018-01-11 20:48] easherma commented on #221
The spider appears to be outputting start times as I'd expect ( i.e. 2018-01-11T16:00:00-06:00 is 10:00 AM in Chicago which is right for https://chicago.legistar.com/MeetingDetail.aspx?ID=584299&GUID=C817555E-7ABB-4FAF-B79E-5CD1C4630278&Options=info&Search= ), so the issue may be in the way it's sent to Airtable, or the way Airtable is interpreting it.

I'd wager the last one is probably the probl

[2018-01-11 23:47] easherma commented on #221
It sounds like Airtable itself may be defaulting to a timezone, maybe there
is a project or account setting with a timezone selected?
On Thu, Jan 11, 2018 at 2:41 PM Darryl Holliday <notifications@github.com>
wrote:

[2018-01-12 15:10] jim commented on #217
Also, add a label to the description.

[2018-01-12 15:13] jim commented on #217
Add a banner at the bottom that tells users to scroll down after selecting a meeting.

[2018-01-12 21:30] r-wei commented on #221
I can fix this. I think 2018-01-11T16:00:00-06:00 is 4pm Chicago time, so it's the spider not Airtable. The start times for the ward nights are showing up correctly in Airtable.

[2018-01-12 22:48] easherma commented on #221
Isn't 16:00 - 6 10 AM? I checked the spider output locally but this seemed
to line up to me.

On Fri, Jan 12, 2018 at 3:33 PM Rebecca Wei <notifications@github.com>
wrote:

[2018-01-12 22:53] r-wei commented on #221
[code]

I did this just now and it's 4:50pm... which suggests to me that "16:00...-06:00" means 4pm Chicago time. Does that seem right to you?

[2018-01-14 16:56] diaholliday opened #224 "Board of Education Description Field"
The Chicago Board of Education spider currently doesn't have description info coming through—can we add this text to that field?

"The Chicago Board of Education is responsible for the governance, organizational and financial oversight of Chicago Public Schools (CPS), the third largest school district in the United States of America."

[2018-01-15 22:20] #209 closed

[2018-01-15 22:22] r-wei commented on #221
resolved by #223

[2018-01-15 22:22] #221 closed

[2018-01-15 22:22] r-wei commented on #202
resolved by #223

[2018-01-15 22:22] #202 closed

[2018-01-15 22:23] r-wei commented on #215
resolved by #223

[2018-01-15 22:23] #215 closed

[2018-01-16 02:45] #218 closed

[2018-01-17 19:24] diaholliday opened #225 "Chicago Police Board bug"
It looks like all of the 2018 Chicago Police Board meetings are duplicated. One set has the correct dates and another has the date off by 1 day.

[2018-01-17 20:00] r-wei commented on #225
Thanks for catching that @diaholliday. I recently fixed the police board spider to get the correct dates, but forgot to delete the old records already in airtable. It should be fixed now.

[2018-01-17 20:00] #225 closed

[2018-01-20 19:06] diaholliday commented on #218
@r-wei i see this issue is closed but has it also been pushed to airtable? i don't see these meetings on the airtable backend but it's possible i'm overlooking it based on the name it was given.

[2018-01-23 01:26] jim opened #226 "Turn on GH pages for docs"

[2018-01-23 02:11] jim opened #227 "Write up "how projects works" document"

[2018-01-25 04:15] bonfirefan commented on #183
@jim so this was an issue when writing the spider - it seemed relatively simple using urllib's requests, and a bit more overkill with Scrapy. Would this be solved by using [Sessions](http://docs.python-requests.org/en/master/user/advanced/)? Apparently Scrapy uses twisted's HTTPClient which isn't persistent.

[2018-01-25 17:32] jim commented on #183
@bonfirefan I think that using a `Session` object with `requests` would work. It also looks like support for [persistent connections was added to Twisted](https://twistedmatrix.com/documents/17.5.0/web/howto/client.html#http-persistent-connection) at some point, but I have no idea how difficult that would be to use within Scrapy.

I'm going to mark this as a "nice-to-have", since this isn't curren

[2018-01-25 17:34] jim commented on #226
This is enabled now! Anything in the `docs` directory will show up on [the GH Pages site](https://city-bureau.github.io/documenters-aggregator/).

[2018-01-25 17:34] #226 closed

[2018-01-25 17:49] jim commented on #219
I like the idea of formalizing this process.

Where will we store the manually-entered data? I see three options:

1. In flat files somewhere in this repo
2. In flat files in another repo
3. In an external datastore, e.g. a relational database

I am leaning toward #1 for simplicity's sake in the short term myself.

[2018-01-25 18:41] easherma commented on #219
I also would vote for #1. I think this entire project can and should operate using flat files. I just haven't had the time yet to contribute anything in that regard yet.

[2018-01-30 23:04] diaholliday opened #229 "New Spider Request: CPS Local School Council excel sheet"
This is all the city currently has on the LSC's in Chicago but they'll have more once the committees elect new officials in July. In the meantime, can we add these meetings via scraper? Or would it be best to do by hand (there are quite a few).
[LSC Meetings 2018.xlsx](https://github.com/City-Bureau/documenters-aggregator/files/1679763/LSC.Meetings.2018.xlsx)

[2018-01-31 15:18] easherma commented on #62
Will do! Thanks, @bonfirefan. I too have switched totally over to Linux. 😎
On Tue, Jan 30, 2018 at 11:47 PM bonfirefan <notifications@github.com>
wrote:

[2018-01-31 19:28] diaholliday opened #232 "New Spider Request: CTA red line extension meetings"
@r-wei came across this sign on the train but I've also confirmed with CTA that this site will the one used for all Red Line extension meeting announcements going forward: http://www.transitchicago.com/news_initiatives/planning/rlx/whatsnew.aspx

Train sign:
![20180131_075726](https://user-images.githubusercontent.com/4017450/35643018-93854c02-068a-11e8-91a9-7463de027619.jpg)

[2018-01-31 19:59] bonfirefan commented on #232
So actually it looks like all capital project related meetings are posted under their [own subpages](http://www.transitchicago.com/news_initiatives/planning/). Long term it may be better to scrape all sup-projects posted with a "What's New" page for anything event-looking, but even longer term it could be better to request those events be posted on the main event portal - I can look into both.

[2018-02-01 02:51] meshulam commented on #193
I started on this at Logan Square Hack Night, PR forthcoming!

[2018-02-01 17:29] diaholliday opened #233 "Directions for non-coders?"
@cgreim brought up a great point last night re: the addition of README language that can help guide non-coders to non-coding jobs/needs within the project. I think this is a great idea and would be happy to write that out and post for review/addition.

In the meantime, does anyone have thoughts on this? My initial thoughts are that there are needs such as researching meetings (and possibly departm

[2018-02-02 00:40] easherma commented on #207
@jim wanna check in about this soon? I had started a pull request that was geocoder agnostic that I could dive back into but I'm not sure if this is still a priority?

[2018-02-02 15:04] bonfirefan commented on #207
I'm assuming this is a priority - it sounded like you were doing some structural reworking by creating a new pipeline? Would it work in interim to call work in the geocoder package in the existing geocoder.py file?

[2018-02-02 16:12] r-wei opened #234 "ward nights spider is broken"
Errors:
[code]

[2018-02-02 16:17] pjsier opened #235 "New spider template needs updates"
The template for new spiders in `templates/spider.tmpl` still inherits from `scrapy.Spider` instead of the custom `documenters_aggregator` spider. Not sure if the module will be renamed `city_scrapers`, but either way that could probably use an update

[2018-02-02 18:26] easherma commented on #207
I did open a pull request that began this work. Testing is a little
convoluted...I think with a sit down between rebecca and I we could
probably wrap up the rest of that refactoring in an hour or two
On Fri, Feb 2, 2018 at 9:43 AM bonfirefan <notifications@github.com> wrote:

[2018-02-06 23:17] r-wei opened #236 "Build a pipeline for local development"
To make things more user-friendly for newcomers, we want a pipeline that writes spider output to a local file. So, when someone calls `scrapy crawl my-spider-name`, they get all of the scraped items in a local, human-readable file.

Some things that probably need to be done for this:
- Create a pipeline for local development
- Register the pipeline in pipelines/__init__.py
- Turn the pipeline on i

[2018-02-06 23:36] easherma commented on #236
👍👌

[2018-02-06 23:41] easherma opened #237 "Establish naming conventions"
There has been a change to the project name, at least public facing, that brings up the issue of consistent names for things in order to avoid confusion or excess refactoring later.

I think it makes sense that the project could have a different public facing name. This should be geared towards whatever makes the most sense for engagment.

When it comes to aspects of the project development, I’d s

[2018-02-07 01:05] jim opened #238 "Provide a local development pipeline"
This should save scraped items to JSON files (or another format that is easy for humans to browse).

[2018-02-07 01:08] easherma commented on #238
see #236

[2018-02-07 01:08] jim opened #239 "Provide useful logging for developers"
The default logging we have now is very noisy and very difficult to interpret. We should replace it with something that is understandable and useful.

This might mean raising the default logger level to quiet things down and then adding our own logging statements in the right places.

[2018-02-07 01:10] jim commented on #238
This is what happens when you start to create an issue and then don't click "Create" until 24 hours later. Closed in favor of #236.

[2018-02-07 01:10] #238 closed

[2018-02-07 02:57] jim commented on #234
@r-wei Turns out these were from me running the code locally. Sorry about the confusion.

<img width="387" alt="screen shot 2018-02-06 at 8 56 09 pm" src="https://user-images.githubusercontent.com/3331/35896116-505e343e-0b80-11e8-8a6f-9f52cb8682c7.png">

[2018-02-07 02:57] #234 closed

[2018-02-07 15:39] r-wei commented on #181
@milti want to give this a try? There are 2 things that need to be done:
1.  The spider errors out when you try to run it. Running `scrapy crawl chi_animal` gives the following message:
[code]

2. We should have more tests for this spider. See Jim's comment above. It looks like the [test file we're currently using](https://github.com/City-Bureau/city-scrapers/blob/master/tests/files/chi_animal.htm

[2018-02-07 16:33] r-wei commented on #233
We should definitely make non-coder contributions more apparent. I think non-coders could work on #219 -- a group of non-coders could start by vetting a couple of meeting sources, and then build out a resource for "how to determine if a meeting should be scraped or manually input".

They could also publish some things they learn about how different local gov orgs interact, host meetings, etc.

[2018-02-07 18:24] cgreim commented on #233
🙌 all this sounds good.

I'll add, I think there's some value in trying to organize the non-coding work in a similar way to the coding work.

One way we could do this is to use a label on issues that indicates they're things non-coders could work on (like #219 -- or a ticket based on #219 that breaks out the suggestions @r-wei made above) and then include some copy in the README that encourages no

[2018-02-09 15:29] jim opened #241 "Clean up deploy directory"

[2018-02-09 22:01] bonfirefan commented on #235
Hey @pjsier, I see your point here. @r-wei @jim or should correct me if I'm wrong, but the `documententers_aggregator` spider appears to have been created as a new superclass to help format event id's. We should probably be initializing new spiders with the custom class instead of scrapy.Spider and include something in the documentation about using _generate_id to conform to the new event id schem

[2018-02-13 00:16] emmanuellyautomated opened #243 "'invoke runtests' complains about a `SECRET_KEY` stemming from opencivicdata"
My system stats
[code]

was running a python3.6 virtualenv as confirmed visually by @r-wei and got the following after running `$ invoke runtests`.

[code]

[2018-02-13 00:38] diaholliday opened #244 "Help with Airtable Formula + New Column"
Alright, I've tried giving this a go myself but can't seem to find the right formula. I'd like to create an Airtable column that reads the "Application" column and checks an "eligible" box if a Documenter has both an application AND a training checked in the system.

I made the eligibility column as a formula. Ideally, it'll read if a person has an application in then checks to see if they have a

[2018-02-13 00:46] jim commented on #243
This was a fun one to debug! Turns out the issue was that `invoke runtests` was execing `pytest -s`, which looked in all directories within the project directory for tests. If the virtual env is keeping dependencies inside the project directory, then they will be found and executed, leading to the error shown above.

The fix is to supply an argument to `pytest` so that it only looks in our `tests`

[2018-02-13 00:52] r-wei commented on #244
@diaholliday   I've made a column called is_eligible that is 1 if they have application and at least one of the trainings, 0 if they don't.

Working on turning the 1's and 0's into "yes" and "no"... Or should they be something else?

In airtable, should we be using the "application" column or the "application complete" column?

[2018-02-13 00:53] diaholliday commented on #244
Thanks! Yes/No would be ideal. It's the "Application" column

[2018-02-13 01:07] r-wei commented on #244
np, take a look now and if it's good feel free to close the issue.

[2018-02-13 01:09] diaholliday commented on #244
Yep, that's perfect, thanks. Also took a look at your formula—that's super helpful to see.

[2018-02-13 01:11] r-wei commented on #244
great, yeah, you can add/remove training columns there if you want

[2018-02-13 01:11] #244 closed

[2018-02-13 01:17] diaholliday commented on #229
Just wanted to quickly check in on this issue while LSCs are on my mind. Is this the best way to bump issues in Github? I'm mostly curious whether this is best as a spider or a manual input. There are lots of meetings the on the sheet but I could help fill in the other info if it can be a spider (i.e. description, address, community area, etc)

[2018-02-13 01:29] r-wei commented on #193
Resolved by #240

[2018-02-13 01:29] #193 closed

[2018-02-13 01:37] #49 closed

[2018-02-13 01:41] r-wei commented on #232
Non-coding tasks:
- [ ] should these events be update manually or by a spider?
- [ ] if manual, add these events to airtable

[2018-02-13 01:44] r-wei commented on #229
Having the tags "good first issue" and "help wanted" makes them more visible already. Spreadsheets are generally easy for spiders to scrape. Description and address are needed, but community area can be gotten from a geocoder.

[2018-02-13 01:45] r-wei commented on #192
Non-coding tasks:
- [ ] should these events be update manually or by a spider?
- [ ] if manual, add these events to airtable

[2018-02-13 01:46] r-wei commented on #191
Non-coding tasks:
- [ ] should these events be update manually or by a spider?
- [ ] if manual, add these events to airtable

[2018-02-13 02:18] jim opened #249 "New Geocoding Pipeline Plan"
At the meeting tonight, we discussed how to proceed with the geocoding part of the application. We decided to follow up @easherma's idea to split the process into multiple pipelines, with the following steps and a pipeline for each:

- [ ] Address cleanup using [usaddress](https://github.com/datamade/usaddress) (@bonfirefan)
Spiders that are including city in addresses: Chicago City Council, Chica

[2018-02-13 02:22] jim commented on #249
This supersedes #207.

[2018-02-13 02:23] jim commented on #207
Closing in favor of #249.

[2018-02-13 02:23] #207 closed

[2018-02-13 02:29] jim commented on #249
cc @pjsier 😄

[2018-02-13 15:06] emmanuellyautomated commented on #243
S/O to @jim for the keen intuition!

[2018-02-13 16:01] #243 closed

[2018-02-15 18:18] milti commented on #181
the page added an event that doesnt follow the pattern of the other entries:

2018 Meeting Dates:

    March 15, 2018 - 8:30 a.m.
    **May 17, 2018 - 6:30 p.m. - (Evening)**
    July 19, 2018 - 8:30 a.m.
    September 20, 2018 - 8:30 a.m.
    November 15, 2018 - 8:30 a.m.

discussing this with rebecca, we decided in getting the dateparse function to split the line after the am/pm designation and

[2018-02-17 17:30] pjsier opened #252 "PBCC (chi_buildings) spider needs to be redone"
The Public Building Commission of Chicago updated its website (http://www.pbcchicago.com), so the current spider won't work. The good news is now they have all of their calendar events set up on a JSON endpoint, so we can pull all the meetings for the year with a URL like this: http://www.pbcchicago.com/wp-admin/admin-ajax.php?action=eventorganiser-fullcal&start=2018-01-01&end=2018-12-31&timeforma

[2018-02-20 20:38] milti commented on #181
adding the current URL to use as a test file has now broken the test:

=================================== FAILURES ===================================
___________________________________ test_len ___________________________________
    def test_len():

E       AssertionError: assert 5 == 3
E        +  where 5 = len([{'_type': 'event', 'all_day': False, 'classification': 'Not classified', 'descrip

[2018-02-20 20:41] milti commented on #195
@r-wei should i look at this one next?

[2018-02-20 22:39] r-wei commented on #181
Hey @milti , it looks like the tests are passing on your fixed-chi-animal branch. Why don't you open a new pull request from milti/fixed-chi-animal to City-Bureau/master, and we can talk there.

For this issue, we want to add tests to cover all of the fields listed in the [events schema](https://github.com/City-Bureau/city-scrapers/blob/master/docs/06_event_schema.md). Right now, test_chi_animal i

[2018-02-20 22:47] milti commented on #181
ok, ill look into doing that.

but tell me, how do you run the tests from the terminal? ive tried from shell CL and it complains about not being able to import pkgs, but i dont know how to run a single test from python shell.

do you have a hint on how to do that? ive tried the *exec(open(<file>).read())* but i dont get any output.

[2018-02-20 22:49] r-wei commented on #181
ah, we're using a python package called pytest. If you're in the main repo folder, you can call `pytest tests/test_chi_animal.py` in the terminal.

[2018-02-20 22:52] milti commented on #181
thanks, thats the command i was looking for: pytest!

ill keep going on this one.

[2018-02-21 01:27] emmanuellyautomated commented on #192
currently working on this one!

[2018-02-21 23:38] #252 closed

[2018-02-25 14:09] diaholliday opened #256 "Triage source: Department of Water Management"
This issue involves a bit of non-coding sleuthing. We need to find out if there are any routine Chicago public meetings related to water in the city (i.e. water rights, scarcity, pipes, management, etc). One good place to start will be the Department of Water Management, which appears to not have meetings posted. Let's give them a call and find out for sure. If they don't have meetings themselves,

[2018-02-26 00:10] diaholliday opened #257 "Spider Needed: Metropolitan Water Reclamation District of Greater Chicago"
This one looks pretty straightforward and uses the same system as Chicago City Council: https://mwrd.legistar.com/Calendar.aspx

[2018-02-27 00:13] nickjordan commented on #257
Looking into this.

[2018-02-27 02:17] r-wei opened #258 "chi_pubhealth is out of date"
The url is for 2017: https://www.cityofchicago.org/city/en/depts/cdph/supp_info/boh/2017-board-of-health.html

We need to find the 2018 events page and scrape that instead.

[2018-02-27 02:18] r-wei commented on #203
superceded by #258

[2018-02-27 02:18] #203 closed

[2018-02-27 02:27] r-wei opened #259 "new spider: cook_electoral"
The site we were scraping is down: https://www.cookcountyclerk.com/elections/electoralboard/Pages/default.aspx

We need to find the url where the Cook County Electoral Board is keeping their events, and write a spider for that site.

[2018-02-27 02:49] #241 closed

[2018-02-27 02:50] jim commented on #236
Build tackled by @bonfirefan in #251.

[2018-02-27 02:53] jim commented on #195
@milti Feel free to take a stab at this! If you have any questions, please let us know.

[2018-02-27 03:09] r-wei opened #260 "Fix travis validation pipeline"
We changed the events schema so that start times and end times should be datetime objects instead of strings. We need to update the travis validation pipeline to reflect this. It also seems to error out if there is more than one spider to validate.

[2018-02-27 03:24] bonfirefan commented on #195
@milti, @r-wei see if this is no longer an issue, we took out the custom id_parser in the latest datetime branch update

[2018-02-27 04:38] milti commented on #195
willdo. thanks.

[2018-03-01 19:27] r-wei commented on #195
This issue will be resolved in PR #245

[2018-03-03 17:51] pjsier commented on #260
It looks like this was fixed by #245?

[2018-03-03 17:54] r-wei commented on #260
yep :)

[2018-03-03 17:54] #260 closed

[2018-03-03 17:55] r-wei commented on #195
resolved by #245

[2018-03-03 17:55] #195 closed

[2018-03-03 18:32] r-wei commented on #233
We have some basic instructions in the read me, so I'll close this issue. If we get feedback from interested non-coders on improvements, we can re-open this issue or make a new one.

[2018-03-03 18:32] #233 closed

[2018-03-04 19:56] bonfirefan commented on #260
Just for future note, something that @jim and I briefly talked about - the conversion to naive date is using the `_naive_datetime_to_tz` function, which defaults to the Chicago/America timezone.

[2018-03-05 00:27] bonfirefan commented on #236
Resolved by #251

[2018-03-05 17:26] #236 closed

[2018-03-08 02:36] hancush commented on #258
i can't assign myself as suggested, but i can take this one!

[2018-03-10 20:17] r-wei commented on #256
@diaholliday , is this issue resolved [here](https://github.com/City-Bureau/city-scrapers/issues/257), or do we want to look for more departments?

[2018-03-10 20:21] r-wei commented on #224
I'm not seeing this spider in the repo anymore. @jim , @bonfirefan , was it removed for some reason?

[2018-03-10 20:23] r-wei commented on #249
Related to #208

[2018-03-10 20:40] bonfirefan commented on #224
Is it not [/documenters_aggregator/spiders/chi_schools.py](https://github.com/City-Bureau/city-scrapers/blob/master/documenters_aggregator/spiders/chi_schools.py) ?

[2018-03-10 20:54] r-wei commented on #224
Ah there it is. Thanks @bonfirefan

[2018-03-10 20:57] bonfirefan commented on #224
Phew! I got worried that it had been somehow deleted in one of the many reworkings we did 😅

[2018-03-12 21:30] r-wei commented on #249
Reference for scrapy pipelines: https://www.youtube.com/watch?v=MtU4xuI8v4c&t=0s&list=PLyCZ96_3y5LXfPVZkHjhHRuIWhcjvCyQA&index=3

[2018-03-13 01:08] easherma commented on #249
We can use the Python geocoder library to choose a provider that returns a neighborhood as well. We can later get lat lng, then reverse geocode to get a community area, or use the SODA api to do a point in polygon search, depending on the quality/needs of the output.

[2018-03-13 02:24] vertigokidd commented on #259
FYI, here is where the board publishes its meeting info: https://www.cookcountyclerk.com/service/board-meetings

[2018-03-13 04:26] jim commented on #213
@diaholliday Is this still a problem? I can't recall if we addressed this or not.

[2018-03-13 04:47] diaholliday opened #265 "Scraper status at-a-glance"
Could we come up with a way to see which scrapers are broken/working at-a-glance? A real-time status would be ideal but I could also see this being a daily check that displays the status of each scraper currently in operation (i.e. working, broken, needs attention, etc).

This is the sort of tool that would be ideal for import to the platform down the line—if there's a way to make a working model

[2018-03-13 14:28] bonfirefan commented on #208
Do we want to use libpostal or usaddress for this? In the new pipeline plan it seems we were going with usaddress. Libpostal seems more applicable for multinational locations.

[2018-03-13 15:02] r-wei commented on #208
I think libpostal is just another thing we could try. My 2 cents: See how it goes with usaddress. If we're not getting good results on enough of the items, try passing them through libpostal.

[2018-03-13 15:26] easherma commented on #208
They are each made for separate purposes. Usaaddresses mainly attempts to
guess address components from a single input string (this isn’t super
helpful for geocoding, tbh, but it may help us clean our input). Libpostal
does that too, but it also generates trees of guesses of a standardized
address based on input.

So libpostal if given ‘123 S Stave St.’ would return a bunch of potential
options li

[2018-03-13 22:18] diaholliday commented on #213
Yep, I believe we're all set on this one.

[2018-03-13 22:19] diaholliday commented on #224
Is there an easy way for me to add descriptions to scrapers? I've seen a few that could use some brief additions and/or tweaks.

[2018-03-13 22:22] diaholliday commented on #256
This would still be a good research issue for a non-coder. I listed the meetings link for the Metropolitan Water Reclamation District of Greater Chicago but I'm still not sure if the Water Department hosts meetings or not. Could be resolved by a phone call to their office.

[2018-03-14 01:46] pjsier commented on #265
I can take a stab at this, and I'm summarizing a conversation with @diaholliday on Slack here. The current idea is to list each scraper in the README next to an SVG icon indicating its current status, similar to the Travis CI status badge.

The icons can be stored on S3 with filenames based on the scraper name, and we can update each scraper icon automatically after they run. We'll need to find th

[2018-03-14 01:52] diaholliday commented on #265
This all sounds great! My only request for now is that the display names for each scraper be as close as possible to the real department name (or easy to read abbreviations). Some of the scraper filenames are closer to shorthand—it'd be great if these display names were easy to discern at a glance.

[2018-03-14 01:56] pjsier commented on #265
Definitely! I didn't clarify in the issue, but I was thinking it would look something like this. The scraper name would be mostly for the filename

### Scraper Status

| Scraper | Status |
|-------------------------------------------|------|
| Chicago Parks District                    | ![Build Status](https://travis-ci.org/City-Bureau/city-scrapers.svg?branch=master) |
| Chicago Public Schools Bo

[2018-03-14 04:42] diaholliday commented on #265
Yesss, this is great.

[2018-03-16 20:10] diaholliday opened #268 "Running Tally of Chicago Public Meetings"
The question of exactly how many meetings occur per month in Chicago came up in the CB newsroom today. I'm thinking we actually have the answer to this question (or we will when we have a scraper for every department)—could we tally up the number of meetings per week/month/year and display that automatically updated number here on GitHub (with plans to migrate it to the platform down the line).

I

[2018-03-19 01:54] diaholliday commented on #215
@jim @r-wei just wanted to check in on this closed issue. I see a "meetings test" tab in Airtable that seems to have correct start times and start time formula columns, but I don't think this has been fixed in the main meetings tab (currently we have to add 6 hours in the start time columns for it to match the Start time formula columns that are visible to Documenters on the assignment form). Can

[2018-03-19 19:33] easherma opened #270 "test_item in utils dosen't seem to correspond to updated event schema"
https://github.com/City-Bureau/city-scrapers/blob/bebbb527fdfd452036b59e9776d66021d3ca7d4e/tests/utils.py#L51

I may be misunderstanding the point of test_item, but it dosen't seem to match the current event schema. Should 'name' be 'address'?

[2018-03-19 20:01] easherma commented on #249
FYI, Mapbox terms:
"The results from geocoding with the mapbox.places mode must be displayed on a Mapbox map and cannot be stored permanently. The mapbox.places-permanent mode, available with an Enterprise plan, does not have these licensing restrictions."

This isn't as bad as Google because we're much more likely to want to use Mapbox to display stuff.

I think we can get around the permanent th

[2018-03-19 20:21] eads commented on #249
Mapbox also has a quasi-editorial team and might be willing to grant an exception to the terms for journalistic purposes. I can make the hook up if that's useful.

[2018-03-19 20:23] easherma commented on #249
@eads I was thinking the same thing, I have several contacts at Mapbox as well (including one who actually works remotely here in Chicago! )

[2018-03-19 21:14] easherma commented on #145
This is relevant for #249

[2018-03-20 05:20] diaholliday opened #275 "Spiders in need of new descriptions (descriptions included)"
This would be a great first issue for non-coders—see Rebecca's video tutorial for instructions: https://www.youtube.com/watch?v=m_MjzgvVZ28

**[Note: When creating your pull request with an updated description, please tag with the Label "Description" and reference Issue #275 in your pull request]**

The following spiders need description edits. I've included new description text for each spider be

[2018-03-20 05:41] diaholliday opened #276 "Separating CPD beat meetings and labeling each district by neighborhood"
Is there a way to separate Chicago Police Department beat meetings from the more general CPD meetings in the Chicago_police spider? Or, alternatively, can we tag all beat meetings in the chicago_police spider with the following description (i.e. just the beat meetings, not the other meetings being scraped from the same  site https://home.chicagopolice.org/get-involved-with-caps/all-community-event

[2018-03-20 14:44] easherma commented on #276
These are great ideas! I’ve been using the cpd spider for my local tests, so I could take a look and think through this.

[2018-03-20 14:45] diaholliday commented on #276
Sounds good, thanks! Let me know if I can be helpful in any way.

[2018-03-20 15:03] r-wei commented on #275
:+1:  @diaholliday just to clarify: do you want to replace the descriptions that are currently being scraped with these new ones, or just add this text to the current descriptions?

[2018-03-20 15:39] diaholliday commented on #275
I'd like to replace all the current descriptions with the ones listed above.

[2018-03-21 19:04] diaholliday commented on #257
Thanks @nickjordan! Any updates so far?

[2018-03-22 13:13] diaholliday commented on #257
Btw here's some background on why we're interested in the MWRD meetings: https://www.bettergov.org/news/shaw-time-for-a-watchdog-at-metropolitan-water-district?rf=head&eType=EmailBlastContent&eId=e6dc14d0-782b-4e2b-993e-67ec1f88f1d3

[2018-03-22 17:09] eads commented on #257
Waaay back when, I met a guy running for MWRD president and he made no bones that it's a way into the political machine.

[2018-03-22 17:28] easherma commented on #257
True story. A little way back when, when I was more involved in local
politics, I got offered a 'chance' to run for one of those positions.

On Thu, Mar 22, 2018 at 12:09 PM David Eads <notifications@github.com>
wrote:

[2018-03-22 23:45] diaholliday commented on #257
Anyone interested in building this scraper if @nickjordan can't? I'd love to start sending Docs to them going forward. @nickjordan still all yours if you've already started it and/or want to keep working on it.

[2018-03-23 18:27] #258 closed

[2018-03-26 23:57] r-wei commented on #275
@ckwms63 did the description for the Cook County Health and Hospitals System :)

[2018-03-27 01:02] #213 closed

[2018-03-27 01:03] jim commented on #265
This is up and running!

[2018-03-27 01:03] #265 closed

[2018-03-27 01:04] jim commented on #208
No need to move forward with this if we're going a different direction.

[2018-03-27 01:04] #208 closed

[2018-03-27 01:08] jim commented on #214
This was done in #bebbb527.

[2018-03-27 01:08] #214 closed

[2018-03-27 01:13] jim commented on #214
This is done.

[2018-03-27 01:24] easherma commented on #249
We're going to write a separate pipeline/method for writing cached results to Airtable or others

[2018-03-27 01:35] easherma commented on #249
We also will have a pipeline to check for cached results

[2018-03-27 13:51] diaholliday commented on #275
Thanks @ckwms63! Let me know if you're interested in taking any more of the descriptions edits on as well.

[2018-03-27 19:32] easherma commented on #239
Partially addressed by #272, which makes a JSON feed export option available.

[2018-03-27 19:33] easherma commented on #145
[I did write a basic test](https://github.com/City-Bureau/city-scrapers/blob/249-geocode-branch/tests/test_geocode_pipeline.py)

[2018-03-27 20:02] easherma commented on #249
Following up on last night, I want to clarify a few aspects (which I also discussed [here](https://github.com/City-Bureau/city-scrapers/issues/208#issuecomment-372705251):

- [ ] Address cleanup using usaddress (@bonfirefan)
usaddress is only going to be of limited assistance cleaning address data. As [their docs](https://github.com/datamade/usaddress) say:
"**What this cannot do:** It cannot iden

[2018-03-27 20:08] eads commented on #249
Re the collecting the reporting, that's something I wondered from the very beginning. It would be pretty nice to be able to capture that data from documenters and have it override or at least have some priority over whatever we're getting from the scrapers. "It says 5th floor, but it's actually been on the 6th floor for past three months" or whatever.

[2018-03-27 21:05] diaholliday commented on #249
Big yes to @eads's point here^

[2018-03-27 22:10] ckwms63 commented on #275
You're welcome. I am interested in taking more descriptions edit. I plan to
do it this Friday.

Best,
- Caroline

On Tue, Mar 27, 2018 at 8:51 AM, Darryl Holliday <notifications@github.com>
wrote:

[2018-03-30 18:17] r-wei commented on #275
Hey @ckwms63 , can you let us know which ones you're working on? so we avoid multiple people working on the same thing

[2018-03-30 21:26] easherma commented on #249
Still thinking about this, and still leaning towards address validation as part of the process of reviewing a scraped spider (perhaps through a form or other process as has been discussed a bit).

Also dropping this link here so I don't lose it:
https://www.usps.com/business/web-tools-apis/welcome.htm

[2018-03-30 22:35] bonfirefan commented on #249
Hey @easherma, can you expand on that idea a bit? I remember we discussed this last coding session, but you appear to be describing something that would be served well within a pipeline. Or do you mean that we would want to modify each spider to validate addresses while parsing? Intrigued by the USPS API, also.

[2018-03-30 23:01] ckwms63 commented on #275
Hi Rebecca,

Thank you for the email. I plan to work on the description edit tonight or
tomorrow.
I will let you know which one I will work on.
Or better yet, you can recommend one for me to make sure that nobody else
is working on it.
I will also make my own note, a summary of your video to do it from the
beginning to the end.

Best,
- Caroline

On Fri, Mar 30, 2018 at 1:17 PM, Rebecca Wei <notif

[2018-03-30 23:07] r-wei commented on #275
Hey @ckwms63 , why don't you try Chicago Public Schools Board of Education :)

[2018-03-31 13:51] ckwms63 commented on #275
Ok, will do.

On Fri, Mar 30, 2018 at 6:07 PM, Rebecca Wei <notifications@github.com>
wrote:

[2018-04-01 20:18] easherma opened #282 "Avoid or document hard-coding locations into spiders"
I was doing some work on geocoding today and was confused as to how I was getting address results for chi_buildings. I eventually noticed that this was hard-coded in to the spider:
https://github.com/City-Bureau/city-scrapers/blob/bd6a4c00557fb28833fbef822055b3a5f93f14a1/documenters_aggregator/spiders/chi_buildings.py#L98

If this is a route we want to go (hard-coding known meeting locations for a

[2018-04-01 20:45] easherma commented on #249
@bonfirefan Sure thing, apologies for being vague.

There are a couple different steps that would typically be involved in cleaning up address data. If these  would be done, it would usually be prior to geocoding in order to help increase the usability and accuracy of the geocoding results. These steps can be considered optional, though clearly there is a good  chance of upping the accuracy of our

[2018-04-01 21:12] easherma opened #284 "Avoid duplicate geocoding/address validation queries."
I don't have stats on this, but I  get the impression that there are a significant numbers of duplicate address entries, where the meeting time may be different but the location is the same.

We would want to filter  out these dupes to avoid unnecessary geocoding queries. I did some research/poking around in the Scrapy documentation today and it appears  there  may be a few places inside of Scrapy

[2018-04-01 21:19] easherma commented on #276
@diaholliday If I can assume this ask is to better differentiate CPD meetings types on the admin side, I think a better approach than writing new spiders for each would be to do some additional sorting/tagging/labeling on the backend(after the data is scraped). This could still be done programatically before you'd have to touch the data.

I'm  not sure how flexible Airtable is in this regard, but

[2018-04-01 21:44] diaholliday commented on #276
Yep, it's more for the admin side for now. Additional labeling/tagging does seem like a better solution than creating new spiders. In that case, this can hold until the platform is built.

[2018-04-03 00:17] o-stovicek commented on #275
I edited the description for the Illinois Labor Relations Board! (Pending my pull request being accepted of course)

[2018-04-03 00:28] easherma commented on #257
@diaholliday I can grab this one, it's been some time and we haven't heard from @nickjordan , and there is a soft spot in my heart for the MWRD. :-)

[2018-04-03 00:30] diaholliday commented on #257
Woot! Thanks, I'm v curious about those meetings. Can't wait to send Documenters to them.

[2018-04-03 00:31] easherma commented on #33
Related to #257 for MWRD

[2018-04-03 00:33] easherma commented on #257
MWRD uses Legistar, relevant issues #33, #74

[2018-04-03 04:14] diaholliday commented on #192
Hey @emmanuellyautomated, are you still working on this spider? Would love to add it to the set. Just wanted to check in while it's on my mind. We can re-assign it if you'd rather hand it off.

[2018-04-03 04:25] #224 closed

[2018-04-04 04:09] bonfirefan opened #289 "CTA has a new website"
[CTA has a new website up!](https://www.transitchicago.com/) This means that the spider is broken, sadly. The old start_url should be replaced with the new URL, which is https://www.transitchicago.com/board/notices-agendas-minutes/

The [Contribute a Spider](https://github.com/City-Bureau/city-scrapers/blob/master/docs/03_contribute.md) doc should also prove helpful.

I'm tagging @milti and @ckwms

[2018-04-04 04:42] bonfirefan commented on #181
Hey @milti, I think we left you hanging. Hope you're ok with still checking in on this! I think Jim linked a good test file, [test_chi_pubhealth.py](https://github.com/City-Bureau/city-scrapers/blob/master/tests/test_chi_pubhealth.py). There have been a few changes since you created your branch, which you should be able to bring in by [syncing your fork](https://help.github.com/articles/syncing-a-

[2018-04-04 20:46] easherma commented on #259
I'm double-checking with some contacts, but I believe the situation here is as follows:

* The electoral board meets around upcoming elections, including primaries. They mainly exist to hear objections and make decisions about candidates running for cook county office. I don't believe they meet on a regular basis but I am confirming this.
* Meeting notices are posted here as pdfs: https://www.cook

[2018-04-04 20:47] easherma commented on #257
[PR opened](https://github.com/City-Bureau/city-scrapers/pull/288)

[2018-04-04 23:38] jim commented on #229
@diaholliday Can we make the spreadsheet a Google Sheet instead? That way we can handle it like the ward nights.

[2018-04-04 23:44] diaholliday commented on #229
@jim it should all be here in the first tab: https://docs.google.com/spreadsheets/d/1uzgWLWl19OUK6RhkAuqy6O6p4coTOqA22_nmKfzbakE/edit#gid=1962457190

[2018-04-05 00:10] easherma commented on #222
In addition to traditional scrapers and API wrappers, we have at least one instance of a spider that reads in data from a csv (Google Sheet in this case):
https://github.com/City-Bureau/city-scrapers/pull/137
https://github.com/City-Bureau/city-scrapers/issues/83

[2018-04-05 00:16] easherma commented on #191
working on this one, PR to follow

[2018-04-05 02:29] diaholliday opened #292 "Michigan Public Meetings Aggregator (list)"
Claim spiders by adding a comment to the "Who is coding" column with your name. Add links to calendar pages and suggest new departments via comment in the appropriate columns.

https://docs.google.com/spreadsheets/d/1fxbJNhwFUDKTvSARvHZkQV01FsBw5638IZr32q3zXKM/edit#gid=1418551062

[2018-04-05 13:27] jim commented on #191
@easherma As we discussed, please hold off on this until your other PR (#288) has been fully completed.

[2018-04-05 17:01] easherma commented on #62
@bonfirefan, btw, when i started using pipenv to manage dependencies this problem completely went away, even on windows!

[2018-04-05 22:53] cande313 commented on #275
I am going to try Chicago City Council.

[2018-04-05 23:28] wildisle commented on #275
Just took care of Chicago Police!

[2018-04-06 00:17] #217 closed

[2018-04-07 15:19] jmcbroom opened #296 "Detroit Board of Education (DPSCD)"
New scraper for the DPSCD Board of Education from http://detroitk12.org/board/meetings/

[2018-04-09 00:37] novellac commented on #275
I'll look at City College of Chicago.

[2018-04-09 01:34] vincecima commented on #201
@r-wei looking into this now and it appears that the sites lists multiple locations for each event. The OCD format doesn't appear to allow for > 1 location for a meeting? Should we make a best effort to parse and save the first location?

[2018-04-09 12:43] bonfirefan commented on #289
Thanks Olivia! I will take a look.

On Sun, Apr 8, 2018 at 9:19 PM o-stovicek <notifications@github.com> wrote:

--
*Bonnie Fan*
Skype: b0nn1efan
cell: +1-970-232-6820
email: bonnie.y.fan@gmail.com

[2018-04-09 12:45] bonfirefan commented on #289
Thanks Olivia, I’ll take a look!

[2018-04-09 15:33] r-wei commented on #201
Hm, my guess would be to pick the Chicago location whenever possible. @diaholliday, what do you think? There are multiple locations here: http://www.dph.illinois.gov/events

[2018-04-09 21:12] #289 closed

[2018-04-10 00:36] o-stovicek commented on #275
The Regional Transit Authority spider is actually pulling a description from the website, but it's cut off: "The RTA Board of Directors typically meets each month on a Thursday at 175 W. Jackson Blvd, Suite 1650 in Chicago. Board committee meetings typically begin at 8:30 a.m. Agendas are posted at least 48 hours prior to the meetings. All RTA Board meetings are audio taped. Recording of meetings

[2018-04-10 00:38] bonfirefan commented on #275
Tagging @novellac @wildisle @o-stovicek @ckwms63 @r-wei
Wanted to note that in order for @diaholliday to keep track of which spiders have had updated descriptions, we'll tag any issues of pull requests with the Label "Description" and reference Issue #275, as @novellac has already done.

[2018-04-10 00:41] diaholliday commented on #275
@o-stovicek the RTA spider doesn't need the info that's currently in the description. The one I provided above would be best (without anything from the old description).

[2018-04-10 00:44] o-stovicek commented on #275
It's also not clear to me which spider is the Cook County Government - JAC Council Meeting (JAC) one... there's a Cook County Board of Commissioners one and a general Cook County Government one that appears to scrape lots of different meetings. Would we need to do something fancier to specifically provide that description for the JAC meetings within the Cook County Gov meetings? (It doesn't seem l

[2018-04-10 00:44] o-stovicek commented on #275
@diaholliday Okay, good to know! Can't do that right now but I can get back to it later.

[2018-04-10 00:57] bonfirefan commented on #232
Ok - the new link is now https://www.transitchicago.com/redeis/whats-new/
What we can do is add the link to the start_urls list and add separate parsing functions for this link.

[2018-04-10 01:00] diaholliday commented on #275
@o-stovicek yep, you're right. The JAC meetings are likely part of the Cook County Government spider. I'm not sure if we can attach descriptions to particular meetings (and not others) within a spider. @r-wei @bonfirefan or others in the group might know.

Thanks for pointing this out!

[2018-04-10 01:18] pjsier opened #301 "Scraper status Lambda function not updating on error"
Some spiders have been failing, but the status Lambda didn't update their icons at all. I'm guessing this is because the status isn't listed as 'STOPPED' (https://github.com/City-Bureau/city-scrapers/blob/master/deploy/scrapers_status.py#L45), but there are also some other things it would throw errors for that should show up in the logs

[2018-04-10 01:31] jim opened #302 "Sentry isn't catching errors in pipelines"
We're having an issue with one of the pipelines that Sentry isn't catching. Investigate if we need to do something to configure it to catch those errors as well as those that occur within spiders.

[2018-04-10 01:32] r-wei commented on #191
@nickdevlin is working

[2018-04-10 01:56] r-wei commented on #301
@jim @pjsier I fixed the json decode error with chi_police, but it hasn't been merged in yet. It's on an open PR. Just fyi in case you're looking at individual spiders

[2018-04-11 16:56] #301 closed

[2018-04-11 18:27] pjsier opened #305 "AWS Batch setup"
After talking with @jim about the current ECS setup, it sounds like AWS Batch might be a better fit. It's really just a wrapper around ECS that makes it easier to temporarily create multiple servers to run tasks and then delete them when the jobs finish.

We should be able to migrate without too much effort and test it out before removing the current ECS setup. Including a list of steps below:

-

[2018-04-12 16:05] r-wei commented on #201
resolved by #303

[2018-04-12 16:05] #201 closed

[2018-04-16 01:34] vincecima commented on #296
@jmcbroom if no one else has claimed this one, I would love to take a shot.

[2018-04-16 02:34] novellac opened #309 "General Retirement System (GRSD)"
New scraper for the General Retirement System of Detroit (GRSD) from http://www.rscd.org/grsd/Resources/Meetings

[2018-04-16 02:35] novellac commented on #309
I've claimed this issue on the spreadsheet from #292.

[2018-04-16 02:47] vincecima commented on #296
@jmcbroom I just saw the spreadsheet mentioned in (https://github.com/City-Bureau/city-scrapers/issues/292). Happy to take a shot at something else, let me know either way.

[2018-04-16 14:59] novellac opened #310 "Typo in spider.tmpl"
On line 71, in the function def for `_parse_description`, the comment should probably read `Parse or generate event description.`  instead of `Parse or generate event name.`

[2018-04-16 15:40] novellac commented on #310
Labels look good.

[2018-04-16 15:42] novellac commented on #309
Labels: architecture:spiders, new spider needed, location: detroit

[2018-04-16 20:58] jmcbroom commented on #296
@vincecima please, feel free! I can grab a different one

[2018-04-16 22:10] bonfirefan commented on #275
Is JAC the only one left of these descriptions @diaholliday ? We can write in a conditional to attach the JAC description to specific cook county government spider items.

[2018-04-16 23:39] r-wei commented on #259
Future meetings are listed here: https://www.cookcountyclerk.com/service/board-meetings

[2018-04-16 23:54] r-wei commented on #276
resolved by #294

[2018-04-16 23:54] #276 closed

[2018-04-17 00:03] bonfirefan commented on #229
@cherdeman is writing tests for this!

[2018-04-17 00:27] natashamathur commented on #275
I'm working on the JAC descriptions!

[2018-04-17 04:13] novellac commented on #310
I'll take this.

[2018-04-17 18:41] diaholliday opened #313 "Slack test"

[2018-04-17 18:41] #313 closed

[2018-04-18 19:06] diaholliday commented on #275
I added the Cook County Board of Commissioners to this list (with new description).

[2018-04-19 00:31] novellac commented on #310
This has been merged so I'll close the issue. Let me know if I should not have done this! ;)

[2018-04-19 00:31] #310 closed

[2018-04-20 14:44] r-wei opened #314 "il_labor spider returns 404 error"
`scrapy crawl il_labor` returns no items and gives a 404 error:

[code]

Might be fixable by adding custom settings [like in chi_police](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/chi_police.py#L18).

[2018-04-20 17:34] pjsier commented on #314
The base URL (https://www.illinois.gov/ilrb/meetings/Pages/default.aspx) returns a 404 in the browser for me and then redirects to https://www2.illinois.gov/ilrb/meetings/pages/default.aspx

This might be fixable by just changing `www` to `www2`?

[2018-04-20 18:11] novellac opened #315 "Wayne County Comittee of the Whole (wayne_cow)"
New scraper for Wayne County Commission's Comittee of the Whole from [https://www.waynecounty.com/elected/commission/committee-of-the-whole.aspx]

Labels: architecture:spiders, new spider needed, location: detroit

[2018-04-20 18:46] novellac commented on #309
I started working on #315 so if someone wants to snag this one let me know!

[2018-04-22 23:04] #305 closed

[2018-04-22 23:30] jim opened #316 "AWS permission issue"
The new AWS Batch-based deployment is hitting a permission issue where the CodeBuild service isn't allowed to control AWS Batch:

arn:aws:sts::731290877662:assumed-role/code-build-DocumentersAggregator-service-role/AWSCodeBuild-487a8733-e0ae-4b7d-8bbc-e4501398938a is not authorized to perform: batch:DescribeJobDefinitions on resource: arn:aws:batch:us-east-1:731290877662:/v1/describejobdefinitions

[2018-04-22 23:33] jim commented on #316
Gonna fix this the easy way.

[2018-04-22 23:33] #316 closed

[2018-04-23 23:27] coraltint commented on #256
Recent leadership shakeup at this dept., noted in Tribune[ here](http://www.chicagotribune.com/news/local/politics/ct-met-chicago-water-department-racism-hearing-20180110-story.html).
I'll call their office tomorrow morning.

[2018-04-23 23:39] diaholliday opened #318 "New Spider Request: CPS Community Action Council"
Link to the site is here: http://cps.edu/FACE/Pages/CAC.aspx

Looks like a pretty straightforward spider with one main exception—meetings aren't listed individually, they're listed on a recurring schedule:
![screen shot 2018-04-23 at 6 36 31 pm](https://user-images.githubusercontent.com/4017450/39158392-67f0f952-4725-11e8-8b41-695fd1f99cd4.png)

[2018-04-24 00:13] diaholliday opened #319 "Revised Classification List"
Here's a defined list of classifications we can use for all scrapers: https://docs.google.com/spreadsheets/d/1K85cfJPoSIoeyHpjztZhisuleh8uKjHq_517V8f2qD4/edit#gid=0

@r-wei @jim tagging you both here because we talked about it briefly on Slack. Let me know if any of them don't make sense, I'm happy to bounce this back and forth a bit to make sure they're all a good fit.

[2018-04-24 00:51] #229 closed

[2018-04-24 20:05] brettvanderwerff commented on #318
Can you assign this to me?. I am an open source newbie, but have some scraping experience with my own pet projects. I'm still looking at your code base to figure out how things run, but would like the chance to try this if you are willing to give it to me. Thank you.

[2018-04-24 20:10] diaholliday commented on #318
Hi @brettvanderwerff! It's all yours. I'm pretty sure no one has started it yet. Are you able to create pull requests? Let me know if you need a certain level of access that you don't already have. @jim @bonfirefan or I can help you get set up.

[2018-04-24 20:11] brettvanderwerff commented on #318
Do you wan't me to put in the pull requests as soon as I set up the new branch to let people know it is a work in progress?

[2018-04-24 20:55] diaholliday commented on #318
I'll wait for @jim or @bonfirefan to let us know what the next best step is. Don't want to tell you the wrong thing.

[2018-04-24 23:33] diaholliday commented on #318
Hey @brettvanderwerff I just double-checked procedure on this. This conversation is sufficient as a claim on the spider. No need to start a PR at this point. This spider is all yours!

[2018-04-25 01:41] brettvanderwerff commented on #318
Ok thanks I'm starting out on this, I'm new to scrapy, so I'm just getting up to speed on the documentation it might take me a little bit to get up and running. I'll put in a WIP pull request once I have some worthwhile code.

[2018-04-25 04:51] bonfirefan commented on #318
@brettvanderweff, my apologies on the delay here! You’ve totally got it, all you need to do to claim an issue is to comment! And yes, whenever you feel at a comfortable point, please do make a pull request for review. We of course won’t merge it in until completion and you’ll be able to continue to make changes.

[2018-04-25 21:23] brettvanderwerff opened #321 "ImportError: No module named win32api when running spider for the first time on windows."
I'm using windows 10, python 3.6.3 running in virtual environment (did not do docker).  When setting up for the first time and trying to run a spider I ran into:

ImportError: No module named win32api

It wasnt that big of a deal and went away with installing pywin32 and everything worked fine after that.

I think this is a known issue with scrapy on windows: https://doc.scrapy.org/en/latest/faq.h

[2018-04-25 22:25] bonfirefan commented on #321
Thanks @brettvanderwerff - are you able to run the test command on windows with `invoke runtests` ? I believe that an incompatibility with `invoke` prevented us from supporting further development on Windows, but we're definitely still interested in resolving that.

[2018-04-25 23:04] brettvanderwerff commented on #321
`invoke` does not run on my setup, you can disregard this issue if you are not worried about people running on windows. I did see the windows testing issue in the documentation before posting. Thank you!

[2018-04-29 03:39] brettvanderwerff commented on #318
I just want to keep the lines of communication open on this and let you know that I am still engaged in this and plugging along. There are a lot of firsts in this one for me.

[2018-04-29 14:23] diaholliday opened #323 "Change Slack/Github Integration Settings"
Currently the integration is only showing the default list of commands, I'd like to change it to show/post all new comments and everything on this list: https://get.slack.help/hc/en-us/articles/232289568-GitHub-for-Slack

[2018-04-29 14:46] r-wei opened #324 "cook_pubhealth errors when start_time is None"
`scrapy crawl cook_pubhealth` gives the following TypeError:

[code]

start_time is a required field, so we should first check why the spider is returning None sometimes and write code to try to get those start times. A benefit of this error is that we are alerted when a required field is missing.

[2018-04-29 14:48] r-wei commented on #323
Hey @diaholliday , I removed the good first issue label because you might need admin or other privileges to do this for our slack

[2018-04-29 14:55] r-wei commented on #318
@brettvanderwerff , thanks for the update. Feel free also to ask questions in slack or show up to an in-person coding session: https://www.citybureau.org/city-scrapers-get-involved (scroll to the bottom for the calendar)

[2018-04-30 23:04] r-wei commented on #324
@cherdeman is working

[2018-04-30 23:10] diaholliday commented on #275
I added two new descriptions:

1) Chicago City Council Committee on Housing and Real Estate
2) Public Building Commission of Chicago

[2018-05-01 00:35] #323 closed

[2018-05-01 00:43] diaholliday commented on #191
@nickdevlin just wanted to check in on this, are you still working on this spider or should we put back out to the group?

[2018-05-01 00:49] r-wei commented on #324
resolved by #325

[2018-05-01 00:49] #324 closed

[2018-05-01 00:58] diaholliday commented on #192
hey @emmanuellyautomated just wanted to check in on this, are you still working on this spider or should we put back out to the group? No worries if you have to let it go—I'll plan to go ahead and re-assign it if I don't hear back from you by May 4.

[2018-05-01 01:01] diaholliday commented on #257
hey @easherma can you update me on the status of this PR? I'm going through the April milestone list to see if I can help move anything forward. No worries, if you're still working on it!

[2018-05-01 01:02] r-wei commented on #181
This issue is free for anyone to work on. Good first issue.

[2018-05-01 01:07] easherma commented on #257
The spider works but tests aren't written yet.

On Mon, Apr 30, 2018 at 8:01 PM Darryl Holliday <notifications@github.com>
wrote:

[2018-05-01 01:14] jim opened #328 "Revise Contribution guide to increase visibility into work"
* _New_ Developers should open a `[WIP]` pull request when they start working on an issue so that we can see what is being worked on.
* _Update_ Mention that issues without activity for 30 days may be reassigned or closed (just like we do with PRs).

This came out of a convo with @diaholliday.

cc @r-wei @bonfirefan

[2018-05-02 12:20] jim opened #331 "Public site still mentions "documenters-aggregator""
Our [public documentation site](https://city-bureau.github.io/city-scrapers/) still has a lot of mentions of the old project name.

The files for that site are all found in the `docs` directory of the project. We need to replace all instances of "Documenters Aggregator" with "City Scrapers". The content is all in markdown files and can be previewed in a lot of editors- there will be some styles mi

[2018-05-04 14:15] diaholliday commented on #192
@emmanuellyautomated I appreciate you work and time on this but I need to go ahead and re-assign this spider so we can start sending Documenters out to these meetings on a more regular basis.

[2018-05-04 21:40] pjsier opened #333 "Split out agency name addition into separate pipeline"
Currently the only reference to the host agency in the event schema is the slug in the ID. That means anything consuming the events has to have a mapping of slugs and agency names and update it each time a new scraper is added.

The Open Civic Data spec for events supports a `participants` array of people or organizations as [linked entities](https://opencivicdata.readthedocs.io/en/latest/data/eve

[2018-05-04 22:06] r-wei commented on #333
Hey @pjsier , how is host agency different than the spider's long name? What is a slug?

On a related note, maybe we should have some code that makes it easier to make changes to the events schema. I'll make a separate issue for this.

[2018-05-04 22:12] pjsier commented on #333
@r-wei it would be the same thing, but right now it doesn't look like we include that in the output for each event. And for slug I mean something like `chi_transit` for "Chicago Transit Authority Board"

[2018-05-04 22:13] r-wei opened #334 "make it easier to change the events schema"
Currently, in order to change the events schema, the following things must be done (feel free to add to this list):

- update all the spiders
- update docs for [events schema](https://github.com/City-Bureau/city-scrapers/blob/master/docs/06_event_schema.md)
- update [templates](https://github.com/City-Bureau/city-scrapers/tree/master/templates) and test fixtures [1](https://github.com/City-Bureau/

[2018-05-04 22:27] pjsier commented on #333
@r-wei ah, I didn't realize it was getting pulled in there. I didn't see it in the output of the feed export in #332, and it's probably because I disabled the Airtable pipeline for testing. I'm fine with leaving it in `agency_name`, but we should probably add that in a more general location. Is there anywhere in particular that you think it makes sense to add that to the item dictionary?

[2018-05-05 02:26] diaholliday commented on #275
I added a new description for the Chicago Transit Authority

[2018-05-05 03:48] novellac commented on #315
I don't have all the tests written, but would love feedback so far!

[2018-05-07 14:42] r-wei commented on #232
@bonfirefan , looks like this site doesn't have events anymore..? Maybe we should repurpose this issue into a non-coding/journalist task about building and maintaining a relationship/open line of communication with capital projects at CTA.

[2018-05-07 15:14] bonfirefan commented on #232
New meetings are up at https://www.transitchicago.com/rpm/whatsnew/
It will probably be necessary to get in contact with RPM@transitchicago.com and do the same for other long term capital projects.

[2018-05-07 22:52] vincecima commented on #302
@jim is there an example of a error or an easy way to replicate locally?

[2018-05-07 23:27] #333 closed

[2018-05-07 23:45] vincecima commented on #270
@easherma from a quick code search, it doesn't look like this method is actually used anywhere? Unless there is some dynamic usage I am missing, I think it could be removed, rather than updated.

[2018-05-07 23:48] r-wei commented on #181
resolved by #336

[2018-05-07 23:48] #181 closed

[2018-05-07 23:48] easherma commented on #270
@vincecima I noticed that too, it may have been sketched out for future use by a contributor but not utilized anywhere

[2018-05-07 23:50] r-wei commented on #192
@cherdeman is working

[2018-05-08 00:01] bonfirefan commented on #275
@o-stovicek see if you can take 2. Cook County Land Authority

[2018-05-08 00:04] rebecca-burwei opened #337 "Are Community Action Council meetings happening in Humboldt Park East?"
According to the [Community Action Council website](http://cps.edu/FACE/Pages/CAC.aspx), there are biweekly events in Humboldt Park East. However, these events don't seem to appear on [Humboldt Park's website](http://www.humboldtparkportal.org/events/). We want to know whether or not these events are happening, and if they are, where they are listed online.

This is a good non-coding issue for som

[2018-05-08 00:10] bonfirefan commented on #275
@diaholliday, @pjsier and I were discussing the descriptions portion, and he noted that the CTA spider for example scrapes event-specific description information, as does the il_pubhealth and likely other spiders.

For example:

Should we be careful about over-writing event descriptions with agency descriptions and assign a new agency description field for each spider in the item pipeline? The inf

[2018-05-08 00:37] r-wei commented on #196
resolved by #294

[2018-05-08 00:37] #196 closed

[2018-05-08 00:59] bonfirefan commented on #275
So actually this would be a good argument for keeping the event description so it's possible to discern which of the events are less important and adding a separate field in the pipeline for agency descriptions. What we're thinking is actually adding in the agency description as a property variable, the same way we define the spider agency "long name." For example:
[code]
As to deciding whether an

[2018-05-08 01:17] bonfirefan commented on #51
This issue seems to no longer be relevant. The spreadsheet itself still holds value for assigning agency research and contacts, though.

[2018-05-08 01:17] #51 closed

[2018-05-08 01:20] r-wei opened #340 "More tests for chi_library"
There are only [a few tests](https://github.com/City-Bureau/city-scrapers/blob/master/tests/test_chi_library.py) for the chi_library spider. We should have better coverage for this spider, something more along the lines of [this](https://github.com/City-Bureau/city-scrapers/blob/master/tests/test_chi_pubhealth.py).

[2018-05-08 01:26] r-wei opened #341 "More tests for det_schools"
We'd like some more [tests](https://github.com/City-Bureau/city-scrapers/blob/master/tests/test_det_schools.py) for the det_schools spider, something along the lines of [this](https://github.com/City-Bureau/city-scrapers/blob/master/tests/test_chi_pubhealth.py).

[2018-05-08 01:26] bonfirefan commented on #212
Let's close this in favor of using Codeanywherem #329 also separates out the Docker doc file in case anyone wants to tackle this further.

[2018-05-08 01:26] #212 closed

[2018-05-08 01:26] diaholliday commented on #275
@bonfirefan this all sounds spot on. I trust your judgement if y’all think this is the best technical route. We do want to keep event-specific descriptions that may be useful while creating an agency-wide description for each spider but we definitely want to be able to remove non-essential meetings. And yes, I think the new classifications doc could help in this process, especially in terms of sor

[2018-05-08 01:42] diaholliday commented on #275
Actually it looks like the “forum” classification will cover the majority of these non-governance meetings that are part of governance agencies, i.e. not display worthy but good to collect anyway

[2018-05-09 03:32] cherdeman commented on #340
Pull request #339 updated to include additional chi_library tests

[2018-05-09 14:33] jim commented on #302
@vincecima Having any of the pipelines raise an exception would do it. To reproduce the issue, you can add a line to the `process_item ` method in `city_scrapers/pipelines/localExporter.py` to throw an exception.

I looked into this a bit and I think the approach that will work is this:

[code]

Scrapy has a [signal system](https://doc.scrapy.org/en/latest/topics/signals.html), but it doesn't have

[2018-05-10 03:34] novellac commented on #315
I updated the tests for #335 and they are passing on my local. I still need:

 - test for event end time (no end time is given on the website)
 - help figuring out what unique ID to give the scraped objects
 - test for unique id

Almost there! Will also ping in slack.

[2018-05-10 14:25] r-wei commented on #318
resolved by #330

[2018-05-10 14:25] #318 closed

[2018-05-10 15:51] r-wei commented on #340
resolved by #339

[2018-05-10 15:51] #340 closed

[2018-05-10 15:51] r-wei commented on #192
resolved by #339

[2018-05-10 15:51] #192 closed

[2018-05-10 21:30] diaholliday commented on #192
Can we add this to the Scraper Status section too? @pjsier

[2018-05-12 09:04] diaholliday opened #345 "Spider Revisions Needed: Community Action Council (chi_schools_action)"
I'm really excited to have this spider in the collection! It looks like it's working fine but we do need to change some things so that it aligns with the back-end labels—i.e. Airtable (labels are in bold followed by the necessary change).

@brettvanderwerff tagging you here in case you want dibs on this—let me know if you have any questions, need any assistance or would prefer to hand the revision

[2018-05-12 23:35] brettvanderwerff commented on #345
@diaholliday Assign this to me please, I'd like to try and get it working the way it needs to be.  Thank you.

[2018-05-13 00:04] diaholliday commented on #345
All yours. Let me know if you run across any issues, @r-wei can offer some guidance if needed.

[2018-05-14 15:14] idieppa commented on #256
Hi guys! Who is on the team to research this issue? I would love to jump in and help! What still needs to be done.

[2018-05-14 17:59] vincecima commented on #302
@jim thanks for the additional context. I added a sample method (see https://github.com/City-Bureau/city-scrapers/pull/347). When I run `scrapy crawl chi_police` I don't see any of my logging output.

I get that we are overriding the Spider implementation of `_itemproc_finished`, but I don't see where most of the spiders actually use that Spider as a superclass. I am a Python novice, so I might be

[2018-05-14 23:04] noahkconley commented on #314
I'm looking into this issue

[2018-05-14 23:40] cherdeman commented on #341
@r-wei I'll jump in on this

[2018-05-14 23:47] bonfirefan commented on #314
looks like this is resolved with @noahkconley 's pull request

[2018-05-14 23:47] #314 closed

[2018-05-14 23:48] jim commented on #270
If we're not using the method, then let's delete it!

[2018-05-14 23:49] jim commented on #237
I think we're pretty set on City Scrapers for the time being.

[2018-05-14 23:49] #237 closed

[2018-05-14 23:58] jim commented on #302
@vincecima The scrapers _should_ be inheriting from our Spider subclass [like chi_animal does](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/chi_animal.py#L7-L10):

[code]

Perhaps my grand scheme to override this method won't work for some other reason.

[2018-05-15 00:16] noahkconley commented on #259
I'll take this!

[2018-05-15 00:22] #321 closed, assigned to nobody

[2018-05-15 00:25] r-wei commented on #138
The cook_county spider works for now, closing this issue.

[2018-05-15 00:25] #138 closed

[2018-05-15 00:27] r-wei commented on #6
We have the docs folder and CONTRIBUTING.md now

[2018-05-15 00:27] #6 closed

[2018-05-15 00:30] r-wei commented on #341
resolved by #350

[2018-05-15 00:30] #341 closed

[2018-05-15 00:39] jim opened #353 "IL Labor Relations Board spider isn't finding any items"

[2018-05-15 00:47] r-wei opened #354 "refactor test_chi_citycouncil so that it doesn't require an Internet connection"
We want to be able to run tests without an Internet connection. [Line 11 in test_chi_citycouncil.py](https://github.com/City-Bureau/city-scrapers/blob/master/tests/test_chi_citycouncil.py#L11) calls [line 62 in chi_citycouncil.py](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/chi_citycouncil.py#L62), which makes a [requests call](https://github.com/City-Bureau/city

[2018-05-15 00:53] r-wei opened #355 "refactor test_chi_library so that it doesn't require an Internet connection"
We want to be able to run tests without an Internet connection. [Line 8 in test_chi_library.py](https://github.com/City-Bureau/city-scrapers/blob/master/tests/test_chi_library.py#L8) calls [line 54 in chi_library.py](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/chi_library.py#L54), which makes a urllib.request call. Rewrite the code in these 2 files so that runnin

[2018-05-15 01:08] r-wei commented on #355
Maybe use betamax

[2018-05-15 01:08] r-wei commented on #354
Maybe use betamax

[2018-05-15 01:09] ab1470 commented on #337
I just emailed Carl Hurdlik, the contact listed on the CAC website for more information on the biweekly meetings. I will update this when I hear back from him.

[2018-05-15 10:29] diaholliday opened #356 "Check Ward Night Spider"
@jim can you check on the ward night spider? I only see ~6 entries in Airtable and there should be many more. Not sure if something is off or I'm just viewing it incorrectly.

[2018-05-15 10:38] diaholliday opened #357 "Check on CTA Spider (Chi_Transit)"
I'm not seeing board meetings for the CTA beyond May in Airtable or the basic UI but the meetings through all of 2018 are on the CTA website: https://www.transitchicago.com/board/

Can someone check on this spider to make sure it's running correctly? @bonfirefan this might have to do with the website change?

[2018-05-15 14:44] vincecima commented on #302
Thanks @jim, I am unfamiliar with Python's class syntax, so that escaped me. Will take a deeper look today on why the method isn't getting called as expected.

[2018-05-15 15:34] bonfirefan commented on #357
Hey Darryl, it looks like you're seeing the schedule that they've listed on the main board page. The [Meetings, Agendas and Minutes page](https://www.transitchicago.com/board/notices-agendas-minutes/) is where they post the meeting details, and none of the meetings past May have been posted. The Spider is checking the Meeting and Agendas page. Should we scrape the main board page? It would result

[2018-05-15 15:42] diaholliday commented on #357
Ah ok, I understand this now. They're posting meetings some amount of time beforehand but not very far in advance. Nothing is up beyond May but the spider will pull any info as it's posted. Do we know how far in advance they're posting upcoming meetings?

And no, this one is fine, my bad. We just have to rely on them to post meetings on this page instead of using the full list they already posted

[2018-05-15 16:35] jim commented on #302
It turns out I mixed up the `Spider` and the `Scraper` classes used internally by Scrapy, so my idea isn't going to work 😦

Feel free to dig into this more, or if you have lost interest at this point I'm happy to take a swing as well.

[2018-05-15 16:43] #357 closed

[2018-05-16 15:25] pjsier opened #358 "Update scraper names"
Listing a few spiders that need their names changed:

- [x] ~~`cps_community_action_council`: `chi_school_community_action_council`~~
- [x] `ward_night`: `chi_ward_night`
- [x] `metra_board`: `il_metra_board`
- [x] `regionaltransit`: `il_regionaltransit`(?)

[2018-05-18 22:44] bonfirefan commented on #257
Completed with #359

[2018-05-18 22:44] #257 closed

[2018-05-19 20:52] brettvanderwerff commented on #345
@diaholliday what exactly do you mean by 'community_area' I don't see any reference to this the the csv that is outputted when running the spider or in any of the functions within the spider script itself unless I am missing something. I worked on this today and am almost done I just need to update the tests.

[2018-05-20 02:04] r-wei commented on #345
Hey @brettvanderwerff ,

- For 'community_area': Could you add an additional key-value pair to each scraped item where the key is "community_area" and the value is what used to be in 'location name'?
- For the description: It looks like the last 2 sentences are still missing: "There are nine CACs across Chicago. Each works to empower the community they serve to lead the improvement of local qualit

[2018-05-21 14:07] r-wei commented on #356
@jim @pjsier This spider runs locally for me using [these instructions](https://github.com/r-wei/city-scrapers/blob/db5814ea0381aaf1701227ba394e65ae147db144/docs/faq.md), so it may be something with the deployment.

[2018-05-21 14:15] pjsier commented on #356
@r-wei you're right, the Google API key isn't getting added to the deployment environment variables. All we should have to do is add `DOCUMENTERS_AGGREGATOR_GOOGLE_API_KEY` to the `ENV_VARS` list in `deploy/aws_setup.py`. I can add that now if that works

[2018-05-21 14:16] r-wei commented on #356
Sounds good :)

[2018-05-21 14:17] r-wei commented on #356
@pjsier do you want to take this opportunity to rename it `CITY_SCRAPERS_GOOGLE_API_KEY`?

[2018-05-21 14:55] bonfirefan commented on #270
This code is being used in a test I'm writing, so I'll update the item to match the event schema.

[2018-05-21 18:27] diaholliday opened #361 "Best Practices on Public Meeting Information for Municipal Departments"
How can city/county/state departments best display and disseminate information on public meetings in a way that is more accessible and/or compatible with our scrapers? This could be based on formatting best practices (how to share the most critical information to share), methods to improve export (RSS feeds, etc) and/or tips on how to contact appropriate municipal departments of technology.

This

[2018-05-21 19:34] ab1470 commented on #337
Here's Carl's response to my inquiry:

Sounds like the only way to get information about meetings is to reach out to Carl.

[2018-05-21 23:11] bonfirefan commented on #337
Thanks for addressing this Andrew! Could you add Carl's contact information to this [Google Spreadsheet](https://docs.google.com/spreadsheets/d/1L1lbWj89wt8b2DIZhjxERJ5FCAWPDWd0nMibtc01sZk/edit#gid=0) of agencies? You may to indicate the neighborhood in the Meeting Location Column. Do you think you can email him to ask where we could have found information on the All-CAC Summit and ask to add city

[2018-05-21 23:29] bonfirefan commented on #52
According to #337, it seems like the Humboldt Park east Community Action Council events are email-only. It's highly likely that other CAC events are email-based as well. For email-only events, let's ask them to add cityscrapers@citybureau.org (I'll let @diaholliday verify)

[2018-05-21 23:34] bonfirefan opened #362 "Agency Contacts"
With priority to #256 and #232, we need to compile a list of contacts at agencies or organizations when we need to clarify event sourcing, frequency of postings, types of events, etc. All agency contacts should go to the spreadsheet: https://docs.google.com/spreadsheets/d/1L1lbWj89wt8b2DIZhjxERJ5FCAWPDWd0nMibtc01sZk/edit#gid=0

[2018-05-22 00:16] diaholliday commented on #52
Yes, that's the best address, thanks for connecting these issues!

[2018-05-22 00:36] r-wei commented on #358
Also rename `ward_night` spider to `chi_ward_night`

[2018-05-22 00:40] r-wei commented on #328
resolved by #349

[2018-05-22 00:40] #328 closed

[2018-05-22 00:52] pjsier commented on #302
We should also consider throwing errors at  404 response codes as well, just making a note

[2018-05-22 01:01] ab1470 commented on #337
@bonfirefan, the [CAC website](http://cps.edu/FACE/Pages/CAC.aspx) shows that Carl is the liaison only for the Bronzeville, Humboldt Park West, and Humboldt Park East CACs; there are four other liaisons for the remaining CACs. Do you want me to add a new spreadsheet row for each of the  liaisons?

Alternatively, the website above lists CAC_RSVP@cps.edu as a generic contact email for the CACs, with

[2018-05-22 01:07] ab1470 commented on #337
Also, I just found [this calendar](https://cpsparentu.org/apps/events2/view_calendar.jsp?id=0) (accessed from [this website](https://cpsparentu.org/)), which seems to list all of the CACs in one place. I'm not sure if anyone else has come across that calendar before, but maybe there should be a spider for it?

[2018-05-22 01:12] bonfirefan commented on #358
To add: `metra_board` to `il_metra_board`

[2018-05-22 01:14] bonfirefan commented on #358
And `regionaltransit` to `il_regional_transit`

[2018-05-22 01:17] diaholliday commented on #361
Adding a running doc to streamline this process. Feel free to add/edit directly to the doc if you'd like to contribute to this research process: https://docs.google.com/document/d/1JpeHVw0H6ghRi3EkvqRa3sDAXkfc_goP33CAtdFPEbA/edit

[2018-05-22 23:28] r-wei opened #365 "cook_housingauthority gives an AttributeError on NoneType"
`scrapy crawl cook_housingauthority` gives the following output:

[code]

Looks like the code to scrape a "time_range" no longer works. We should check if the 6 events that are causing these errors have time ranges. If they do, we want to scrape them.

[2018-05-23 21:34] diaholliday opened #366 "New spider: Chicago Board of Ethics"
It appears the BOE only has a PDF for meetings but we may also be able to, eventually, talk to them about a better system for displaying their meetings. For now, we could definitely use a spider or some other method of pulling out all the meetings on this PDF and adding them to our system: https://www.cityofchicago.org/content/dam/city/depts/ethics/general/BoardMeetings/2018/MtgDates2018.pdf

[2018-05-23 22:18] r-wei commented on #366
Hey @diaholliday , the spider package we're using isn't built to handle pdfs. There are other python packages and software out there that try to extract text out of pdfs, so we can leave this issue open as more of a research topic, but I think it's not a good first issue.

[2018-05-23 22:21] diaholliday commented on #366
I or someone else can also upload them individually via the manual assignment upload form (if that puts it back in the realm of first issue): https://airtable.com/shrAUMvvmRKcOEYmu

But yes, there's a definitely research element here—namely, is there a better source for these meetings (not a PDF)

[2018-05-24 00:27] mkrump commented on #365
just joined the project, so wasn't sure how issues are typically assigned, but I can take this.

[2018-05-24 00:42] diaholliday commented on #365
Hey @mkrump! @r-wei is our community manager/moderator so feel free to direct questions to her as they arise. Generally, if an issue looks open (based on the comments or lack thereof), it's up for grabs!

We also meet in-person every Monday to work collectively on larger group issues related to the overall health of the project—hope you can join us!

[2018-05-24 14:21] diaholliday commented on #356
It looks like this spider is putting the address in the "location_name" column when it should be in the "location_address" column. Should be an easy fix but I wanted to flag it just in case.

[2018-05-25 17:51] r-wei commented on #206
Legistar is no longer dependent on pupa :)

[2018-05-25 18:38] diaholliday commented on #366
The BOE folks were kind enough to add their meetings to the org's webpage, instead of just the PDF :) This should make it significantly easier to scrape the page for meeting information. The new home for that meeting info is here: https://www.cityofchicago.org/city/en/depts/ethics/supp_info/minutes.html

[2018-05-25 18:44] mkrump opened #368 "Update cook_housingauthority spider to use events API"
thehacc.org has an events API http://thehacc.org/wp-json/tribe/events/v1/events/. Update the spider to use this.

[2018-05-25 18:45] pjsier commented on #206
It's not essential for this, but I've been using Pipenv lately and it's made removing obsolete dependencies really easy. We have an issue for it in #211 either way, and running `pipenv lock -r > requirements.txt` generates a requirements.txt file so that no one has to change their workflow

[2018-05-25 22:09] easherma commented on #366
Nice!
On Fri, May 25, 2018 at 1:38 PM Darryl Holliday <notifications@github.com>
wrote:

[2018-05-26 06:04] diaholliday opened #370 "Chi_buildings spider revision"
This spider is working fine but it's pulling a majority of unrelated meetings. Can we revise it so that it only displays board meetings from the Public Building Commission?

[2018-05-26 23:53] diaholliday commented on #362
I added phone numbers for each agency to the sheet. @bonfirefan @pjsier should these numbers go into the spider or would it be easier/better to add them via the platform?

[2018-05-26 23:59] pjsier commented on #362
I think we should only include enough information in the spiders for people to uniquely identify an agency, so phone numbers or anything else past basic info probably makes more sense in the platform

[2018-05-27 00:38] diaholliday commented on #362
Sounds good, platform is my feeling on this one too.

[2018-05-27 12:55] #362 closed

[2018-05-28 15:07] r-wei commented on #370
This spider scrapes a JSON endpoint (something like [this](http://www.pbcchicago.com/wp-admin/admin-ajax.php?action=eventorganiser-fullcal&start=20180528)), so making this change should be straightforward. I think filtering on the `className` field should do the trick.

[2018-05-29 22:14] #353 closed

[2018-06-02 16:48] diaholliday opened #372 "Chicago Infrastructure Trust Research Call"
It's unclear whether the Chicago Infrastructure Trust has been disbanded or is on some type of hiatus, etc, following news reports of mismanagement by the Sun-Times: https://chicago.suntimes.com/opinion/rahm-emanuel-infrastructure-trust-wrigleyville-housing-grants-misused/

It would be great if someone could give them a call and report back on the organizational status: http://chicagoinfrastructur

[2018-06-02 20:26] diaholliday opened #373 "New spider: Metra Citizens Advisory Board (PDF)"
Meetings can be found under the "Citizen Advisory Board Meeting" drop down at the bottom of the page: https://metrarail.com/about-metra/leadership/board-meetings

[2018-06-05 00:13] diaholliday opened #377 "Why Doesn't the Department of Water Management Host Meetings?"
Are you curious? Give the Department of Water call, ask them, and let us know. This is reporting 101 and you can do it while helping the City Scrapers project! Here's the number: 312.744.4420

Feel free to say you're calling as a Documenter for City Bureau. You'll want to get a hold of someone in the communications office (if they have one) or the Deputy Commissioner of Administrative Support.

De

[2018-06-05 01:32] #366 closed

[2018-06-05 05:10] thenoelman commented on #373
Hello!  New contributor here looking to help out.  I'd love to take this issue.

[2018-06-05 05:38] thenoelman commented on #331
Has this been corrected already?  I don't see the text "Documenters Aggregator" in any of the .md files within the docs folder.

[2018-06-05 13:42] bonfirefan commented on #331
Hey @thenoelman, thanks for taking a look! It does seem like we've removed all mentions of "Documenters Aggregator." I'll close this.

[2018-06-05 13:42] #331 closed

[2018-06-05 15:02] r-wei opened #380 "Update spiders to new events schema"
We just released a [new events schema](https://github.com/City-Bureau/city-scrapers/blob/master/docs/06_event_schema.md)!

Changes:
- New `documents` field for agendas and meetings notes
- More useful and consistent `classification` and `status` fields
- Changes to the types of the `start` and `end `fields to allow for looser requirements if the start or end times are missing on the website
- `tim

[2018-06-05 15:04] r-wei commented on #373
hey @diaholliday and @thenoelman , we already have a [spider scraping this site](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/spiders/metra_board.py), but it can definitely be updated! Check out issue #380 for more info.

[2018-06-05 15:04] #373 closed

[2018-06-05 15:20] r-wei commented on #275
Closing this in favor of #380

[2018-06-05 15:20] #275 closed

[2018-06-05 20:21] kappklot commented on #377
I talked with Megan Vidis who is listed as "PR -- Water Management" in the city directory (312-744-8758). She said that they don't hold public meetings because it's "not part of the work they do" -- she said since their work is managing the sewage system, infrastructure, rather than public facing projects.

I think I could have asked more follow up questions but didn't quite have a message/talking

[2018-06-05 21:31] diaholliday commented on #377
Hey @kappklot another avenue to follow would be to figure out how certain departments come to have boards and public facing meetings in the first place. Some have ordinances stipulating the board makeup and the format for meetings and some departments seem to just not have ordinances or meetings at all. I'll be honest, I don't understand the process and would love to.

If you're interested, please

[2018-06-05 22:30] kappklot commented on #377
@diaholliday this is really interesting! definitely interested in brainstorming/thinking more about this. i'm going to ask around as well.

I also might try to cold call the Cook County Sheriff's office this week, just to see.

[2018-06-07 13:13] diaholliday commented on #377
You should! That office has been responsive in the past. If you get the same answer, we'll know where to start (i.e. with some research into how ordinances mandating boards and public meetings are created and when they've been created in the past or, more importantly, what levers, if any, exist to establish public meetings for departments that don't have them)

Ex: Page 37: https://www.cityofchica

[2018-06-10 22:37] rebecca-burwei opened #384 "Ask HACC to add board meetings to their events feed"
The Housing Authority of Cook County has a [nice online calendar](http://thehacc.org/events/). This calendar is powered by two very easy to scrape "backends": [1](http://thehacc.org/wp-json/tribe/events/v1/events/), [2](http://thehacc.org/events/feed/). Unfortunately, the Housing Authority's board meetings are not listed on the calendar. Instead, they are only available in a pdf at the bottom of [

[2018-06-12 00:49] rebecca-burwei opened #386 "Where are the Metropolitan Water Reclamation District meetings held?"
The [MWRD website](http://mwrd.legistar.com/Calendar.aspx) only says "board room". We're assuming the meetings happen at MWRD headquarters, but it doesn't actually say.

[2018-06-12 00:52] diaholliday opened #387 "New Spider Requests: Mayor's Advisory Councils"
Hey all, we have 2 new meetings in need of spiders—both on the same webpage:

- Mayor’s Pedestrian Advisory Council
- Mayor’s Bicycle Advisory Council

Here's the website: http://chicagocompletestreets.org/getinvolved/mayors-advisory-councils/

Good catch @ab1470!

[2018-06-12 01:04] diaholliday commented on #386
Looks like it's 100 East Erie Street but we can call to confirm.

[2018-06-12 01:29] diaholliday opened #390 "Contact Emails Needed for Agency Table"
We're getting our Best Practices document ready to send out to local departments (to help them be more efficient about publishing their public meeting info) but, in the meantime, we need to know where to send the document!

If you have a free minute or two and want to help out:

1) Take look at this excel sheet: https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/ed

[2018-06-12 01:43] ab1470 commented on #387
I'll take this one!

[2018-06-12 01:44] bonfirefan commented on #259
Closed by #389

[2018-06-12 01:44] #259 closed

[2018-06-18 22:06] pjsier commented on #302
@jim I took another look at this, and it looks like the problem might be that we're just setting the exit code rather than throwing any exceptions [in `crawl.py` here](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/commands/crawl.py#L22).

When I run it locally with an exception, the process doesn't fail out, but when I raise a `ValueError` in that line instead of setting t

[2018-06-18 22:58] pjsier commented on #169
Closed by #374

[2018-06-18 22:58] #169 closed

[2018-06-18 23:07] pjsier opened #397 "Deployment/pipeline housekeeping"
- [ ] Remove redundant validation pipeline
- [ ] Clean up pipeline filenames (lower/snake case)
- [ ] Remove SQLAlchemy pipeline
- [ ] Move settings files to one directory to avoid modifying `PYTHONPATH`
- [ ] Rename environment variables that still have `DOCUMENTERS_AGGREGATOR`
- [ ] Rebuild batch job definitions each time so that environment variables are updated
- [ ] Remove misc. shell scripts

[2018-06-18 23:59] r-wei commented on #356
resolved by #392

[2018-06-18 23:59] #356 closed

[2018-06-19 00:09] bonfirefan commented on #390
@diaholliday is this the right sheet? It looks like it's comment only. Looking to add the agency website classifications

[2018-06-19 01:09] diaholliday commented on #390
It's set to limited access now (you should have access). I can open it up to all if we need to, or grant access as needed. This is officially the central spider doc as of last week or so.

[2018-06-19 02:08] #397 closed

[2018-06-19 13:47] pjsier opened #405 "CodeBuild not deploying updates"
It looks like the reason we haven't been seeing errors until now is that CodeBuild hasn't actually been deploying the container updates. From the logs, it looks like it's trying to only deploy if on the `master` branch, but it's getting `remotes/origin/master` instead. I can make this update, and also fix the error that's occurring (in the `CityScrapersItemPipeline` it's looking for `long_name`, b

[2018-06-20 02:05] #405 closed

[2018-06-28 20:39] hampelm commented on #292
Just to confirm, is the current list now at https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297 ?

[2018-06-28 22:11] diaholliday commented on #292
Correct @hampelm! That is the current list.

[2018-06-29 14:24] r-wei commented on #358
all the names have been updated

[2018-06-29 14:24] #358 closed

[2018-07-02 22:55] r-wei opened #414 "cook_hopsitals gives an error when parsing start date and time"
Running `scrapy crawl cook_hospitals` gives this error:

[code]

I think this extra " - 2:00 PM" is the end time. If it is, we should capture it in the `end` field.

[2018-07-02 23:50] r-wei commented on #191
resolved by #411

[2018-07-02 23:50] #191 closed

[2018-07-03 00:21] cherdeman commented on #370
Hi @diaholliday and @r-wei  I can grab this!

[2018-07-03 01:01] r-wei commented on #370
Great :) I'll sign you up here: https://docs.google.com/spreadsheets/d/1wkSl3XkhEQhWYh3Dq-G8SS0uNXThqQ8CM0LJhe5i2FM/edit#gid=0  --there are some additional notes

[2018-07-03 19:11] diaholliday opened #418 "New spiders needed"
**Chicago Department of Planning and Development** (5 commissions, all appear to be on separate pages):

- [x] Chicago Zoning Board of Appeals: https://www.cityofchicago.org/city/en/depts/dcd/supp_info/zoning_board_of_appeals.html
- [x] Chicago Plan Commission: https://www.cityofchicago.org/city/en/depts/dcd/supp_info/chicago_plan_commission.html
- [x] Commission on Chicago Landmarks:
https://www.

[2018-07-03 21:54] #390 closed

[2018-07-05 14:34] novellac opened #419 "Wayne County Commission on Health and Human Services"
New spider for Wayne County Commission on Health and Human Services (wayne_health_human_services) from
[https://www.waynecounty.com/elected/commission/health-human-services.aspx](https://www.waynecounty.com/elected/commission/health-human-services.aspx)

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2b

[2018-07-05 14:35] novellac commented on #419
Needs labels:
 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-06 18:31] diaholliday commented on #418
@r-wei would you mind checking to see if the Chicago Housing Authority scraper is running? I see one meeting for it on the backend but I feel like there should be more.

[2018-07-09 16:36] diaholliday commented on #418
Just got a response from the HACC, they added the board meetings to the event calendar. They should show up now but I still need to confirm that the committees are included.

[2018-07-09 23:55] r-wei commented on #370
resolved by #416

[2018-07-09 23:55] #370 closed

[2018-07-10 00:11] ab1470 commented on #387
As some of us in the group has already discussed, the Mayor's Bicycle Advisory Council (MBAC) and the Mayor's Pedestrian Advisory Council (MPAC) are pretty difficult to scrape. The [website](http://chicagocompletestreets.org/getinvolved/mayors-advisory-councils/) has no clear structure, and the dates have no ID or Class tags that would help us extract them. Building a spider to scrape the info wou

[2018-07-10 01:04] novellac opened #432 "Successful crawls are no longer outputting new CSV files"
[432-Traceback-MissingCsvOutput.txt](https://github.com/City-Bureau/city-scrapers/files/2178499/432-Traceback-MissingCsvOutput.txt)

Issue: Successful crawls are no longer outputting new CSV files

Expected Result: When the command `scrapy crawl <spider name>` is run, a CSV file should be output to the folder `/city-scrapers/city-scrapers/local_outputs/`

Hints: May be a recently deprecated librar

[2018-07-10 01:13] bonfirefan commented on #432
So, I tested adding in pydispatch and it doesn't seem to be the issue here.

[2018-07-10 01:17] bonfirefan commented on #432
@pjsier could this be related to the [s3 pipeline](https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/pipelines/s3_item.py)?

[2018-07-10 01:19] pjsier commented on #432
@bonfirefan when I uncomment the CSV pipeline in `city_scrapers/settings/base.py` it works for me, otherwise I can't reproduce this. We might want to leave this on by default if it doesn't hurt anything for local development

[2018-07-10 01:24] rebecca-burwei opened #433 "ValueError parsing start date and time for chi_teacherpension spider"
Running `scrapy crawl chi_teacherpension` gives the following error:

[code]

Looks like the spider is expecting to parse some dates, but finding text instead.

[2018-07-10 01:29] bonfirefan commented on #432
@pjsier no wonder, that explains the local output portion. I think these are possibly two separate errors - it would be good to uncomment out the local exporter pipeline unless it was causing other errors?

Separate issue below. Here's what I'm seeing even after successfully outputting to csv after uncommenting the csv pipeline is output that matches @novellac's error output:

[code]
[bf_log_error

[2018-07-10 01:34] pjsier commented on #432
That's odd... can anyone else reproduce this? I'm wondering if it could have to do with an old version of boto or not having AWS credentials set up locally

[2018-07-10 01:40] r-wei commented on #432
hey @bonfirefan , what branch are you running to create that error? bonfirefan:pydispatch-export?

[2018-07-10 01:42] bonfirefan commented on #432
@r-wei this error appears on Master, but I tried to see if adding libraries or uncommenting out the csv exporter were the issue. Uncommenting out the csv exporter solved the issue of csv exports (unsurprisingly) and I think @novellac and I were just seeing additional errors that probably have to do with the s3 pipeline - that being said, these errors don't seem to affect the crawlers at all. If yo

[2018-07-10 01:53] r-wei commented on #432
yes, I also get the connect timeout error at the beginning, but the spider still scrapes and writes a csv

[2018-07-10 13:10] novellac opened #435 "Wayne County Commission on Public Services"
New spider for Wayne County Commission on Public Services (wayne_public_services) from
https://www.waynecounty.com/elected/commission/public-services.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-10 13:10] novellac commented on #435
Needs labels:

location: Detroit
architecture: spiders
new spider needed

[2018-07-10 14:57] novellac opened #437 "Wayne County Audit Committee"
New spider for Wayne County Audit Committee (wayne_audit) from
https://www.waynecounty.com/elected/commission/audit.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-10 14:58] novellac commented on #437
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-13 21:21] novellac opened #439 "Create "mixin" classes for agency spiders to inherit"
**Motivation:** In some cases, multiple agencies may be able to use the same spider code (albeit sometimes with minimal differences). Creating so many similar spiders may create unnecessary bloat, and maintaining so many similar spiders increases the chance of user error.

**Solution:** Allow agency spiders to pull from "mixin" classes.

**Proposed Actions:**
 - Create a "mixins" folder which woul

[2018-07-13 21:33] pjsier commented on #439
We wouldn't need to override the base class here, since the mixin would effectively just be swapping out certain functions, and we could even refer to methods that aren't defined on the mixin itself.

So if we created this mixin:

[code]

and had a spider inherit from both it and the base class spider

[code]

it would still work, even though `ExampleMixin` doesn't have a `_parse_dates` method def

[2018-07-14 20:38] diaholliday opened #440 "Non-coding Contributions: Local Government Spreadsheet (Chicago and Detroit)"
We're collecting public meeting information from local governing bodies but there's a good deal of supporting information that'll help us increase access to information on those bodies. If you're interested in a non-coding task this one can be done at your own pace and would help us survey the local political landscape.

Information we need help collecting:

- Phone
- Email
- Twitter Handle
- Meet

[2018-07-15 23:28] novellac opened #442 "Wayne Commission on Economic Development"
New spider for Wayne County Commission on Economic Development (wayne_economic_development) from
https://www.waynecounty.com/elected/commission/economic-development.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-16 02:26] novellac opened #444 "Wayne Commission on Government Operations"
New spider for Wayne County Commission on Government Operations (wayne_government_operations) from
https://www.waynecounty.com/elected/commission/government-operations.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-16 03:44] novellac opened #446 "Wayne Commission on Public Safety, Judiciary, and Homeland Security"
New spider for Wayne County Commission on Public Safety, Judiciary, and Homeland Security (wayne_public_safety) from
https://www.waynecounty.com/elected/commission/public-safety-judiciary.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-16 03:45] novellac commented on #446
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-16 23:38] noahkconley commented on #414
@r-wei I can take a look at this

[2018-07-16 23:45] ab1470 commented on #433
I'm working on it.

[2018-07-17 00:09] novellac opened #449 "Wayne County Ways and Means Committee"
New spider for Wayne County Ways and Means Coammittee (wayne_ways_means) from
https://www.waynecounty.com/elected/commission/ways-means.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-17 00:09] novellac commented on #449
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-17 00:50] r-wei commented on #414
resolved by #448

[2018-07-17 00:50] #414 closed

[2018-07-17 14:11] pjsier opened #454 "Add default city, state to certain spiders"
There are a few spiders (`chi_police`, `chi_school_actions`, and `chi_ward_night`) where the address commonly doesn't include the city, but we can safely assume that it will always be Chicago. Geocoding on the app side will be much more straightforward if we can add "Chicago, IL" to the end of each. I can update this if that works for everyone

[2018-07-17 14:21] pjsier commented on #454
@diaholliday since we have control of the aldermanic ward night spreadsheet, could we just make sure to include "Chicago" and ideally the state and zip code there?

[2018-07-17 16:40] pjsier commented on #449
Closed by #452

[2018-07-17 16:40] #449 closed

[2018-07-17 16:41] pjsier commented on #439
Closed by #441

[2018-07-17 16:41] #439 closed

[2018-07-17 16:41] pjsier commented on #432
Closed by #434

[2018-07-17 16:41] #432 closed

[2018-07-17 19:14] novellac opened #456 "Wayne County Full Commission"
New spider for Wayne County Full Commission (wayne_full_commission) from
https://www.waynecounty.com/elected/commission/full-commission.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-17 19:14] novellac commented on #456
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-17 21:53] novellac opened #457 "Wayne County Commission - aggregate"
This combines the outstanding Wayne County spiders. Includes the following PRs: #447 , #445 , #443 , #436 , #426

[2018-07-18 13:10] #454 closed

[2018-07-18 16:13] bdmorin opened #460 "Suggestion: Use waffle.io as a github project manager"
I use this website with a few other projects, works well.
https://waffle.io/project/create/chosen-repository?repo=City-Bureau%2Fcity-scrapers

I'm getting my feet into this project and want to start helping. I love scrapy.

[2018-07-19 16:06] pjsier commented on #446
Closed by #459

[2018-07-19 16:06] #446 closed

[2018-07-19 16:06] pjsier commented on #444
Closed by #459

[2018-07-19 16:06] #444 closed

[2018-07-19 16:07] pjsier commented on #442
Closed by #459

[2018-07-19 16:07] #442 closed

[2018-07-19 16:07] pjsier commented on #435
Closed by #459

[2018-07-19 16:07] #435 closed

[2018-07-19 16:07] pjsier commented on #419
Closed by #459

[2018-07-19 16:07] #419 closed

[2018-07-19 16:07] pjsier commented on #457
Closed by #459

[2018-07-19 16:07] #457 closed

[2018-07-19 16:09] pjsier commented on #437
Closed by  #441

[2018-07-19 16:09] #437 closed

[2018-07-19 16:10] pjsier opened #461 "Refactor Wayne commission spiders"
Refactor `wayne_cow`, `wayne_audit`, and `wayne_ways_means` to use the Wayne commission mixin similarly to the spiders in #459. @novellac is taking this one on

[2018-07-19 23:13] novellac commented on #461
@pjsier Refactored the relevant spiders and pushed to 457. Ready for review.

[2018-07-20 00:21] pjsier commented on #461
Closed by #462

[2018-07-20 00:21] #461 closed

[2018-07-20 15:19] pjsier commented on #211
Closed by #404

[2018-07-20 15:19] #211 closed

[2018-07-20 20:47] novellac opened #466 "Wayne County Building Authority"
New spider for Wayne County Building Authority (wayne_building_authority) from
https://www.waynecounty.com/boards/buildingauthority/meetings.aspx

This spider is currently part of ticketing group 13 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-20 20:48] novellac commented on #466
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-20 20:49] novellac commented on #466
Note that this one is labeled as a committee, but its url is under `/boards` rather than under `/elected/commission`.

[2018-07-23 01:54] novellac commented on #466
This is referenced in pull request #463 , ready for review.

[2018-07-23 01:56] novellac opened #468 "Detroit City Planning Commission"
New spider for Detroit City Planning Commission (det_city_planning) from
http://www.detroitmi.gov/Government/Boards/City-Planning-Commission-Information

This spider is currently part of ticketing group 1 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-23 01:57] novellac commented on #468
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-26 03:36] novellac opened #471 "Detroit Land Bank Authority"
New spider for Detroit Land Bank Authority (det_land_bank) from
https://buildingdetroit.org/events/meetings

This spider is currently part of ticketing group 4 on the [Public Meetings Aggregator](https://docs.google.com/spreadsheets/d/1Uu9FmcQAy8AXhBR2bj84LbSdlfgMNNroa9P89rsDJSQ/edit#gid=1214169297).

[2018-07-26 17:58] pjsier commented on #466
Closed by #463

[2018-07-26 17:58] #466 closed

[2018-07-26 17:58] pjsier commented on #456
Closed by #463

[2018-07-26 17:58] #456 closed

[2018-07-27 22:31] pjsier opened #477 "Convert spider class names to use cap words convention"
Right now the spider classes are a mix of caps and snake case. We should standardize this across spiders, the spider template, and docs to be `RegionAgencySpider` instead of `Region_agencySpider`

[2018-07-29 00:12] pjsier commented on #471
Closed by #473

[2018-07-29 00:12] #471 closed

[2018-07-29 21:48] pjsier commented on #302
Closed by #428

[2018-07-29 21:48] #302 closed

[2018-07-30 02:11] novellac opened #478 "Belle Isle Advisory Committee"
New spider for Belle Isle Advisory Committee (mi_belle_isle) from https://www.michigan.gov/dnr/0,4570,7-350-79137_79763_79901---,00.html

This spider does not have a ticketing group (it was part of Group 2 but that needs to be broken up since different/better sources have been found for some of these spiders).

[2018-07-30 02:12] novellac commented on #478
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-07-30 23:10] r-wei commented on #380
hey @laurieskelly @myersjustinc I see your usernames on the spreadsheet. are you still working on updating the chi_animal spider? https://docs.google.com/spreadsheets/d/1wkSl3XkhEQhWYh3Dq-G8SS0uNXThqQ8CM0LJhe5i2FM/edit#gid=0

Feel free to [join our slack channel](https://github.com/City-Bureau/city-scrapers#ready-to-code-with-us) if you want to chat about the project in real time.

[2018-07-31 01:02] bonfirefan opened #484 "Tests failing locally for a number of det/michigan tests due to ordering issues"
Working with @mkrump on this - if anyone else can replicate this failure, this occurs when running tests locally. Occurs with `pytest -s tests` as well. Appears to be due to items being referenced from unordered dictionaries .

When the list of parsed items are ordered, this resolves the error.
[code]

[2018-07-31 05:09] myersjustinc commented on #380
@r-wei Got my bearings again, and my [380-spider-chi_animal](https://github.com/myersjustinc/city-scrapers/tree/380-spider-chi_animal) branch already was pretty close to having that new schema in place. Did some rebasing and other cleanup in there, and all the tests pass. I still need to look at why I don't see anything written to disk when I `scrapy crawl chi_animal`, even though the logging mess

[2018-07-31 12:49] r-wei commented on #380
@myersjustinc thanks! You might try checking which item pipelines are turned on in your settings: https://github.com/City-Bureau/city-scrapers/blob/master/city_scrapers/settings/base.py

As a baseline, I turn off all my pipelines and check that something like `scrapy crawl chi_animal -o chi-animal.json´ writes the meetings to chi-animal.json

[2018-08-02 01:15] #284 closed

[2018-08-02 01:15] pjsier commented on #249
Closed by #487

[2018-08-02 01:15] #249 closed

[2018-08-02 01:15] pjsier commented on #145
Closed by. #487

[2018-08-02 01:15] #145 closed

[2018-08-02 01:15] pjsier commented on #143
Closed by #487

[2018-08-02 01:15] #143 closed

[2018-08-04 16:40] mkrump commented on #484
Try #486 when you get a chance to see if this resolves your issue.

[2018-08-05 00:47] novellac opened #490 "Board of Wrecking Contractors Examiners"
New spider for Detroit Board of Wrecking Contractors Examiners (det_wrecking_examiners) from http://www.detroitmi.gov/Government/Boards/Board-of-Wrecking-Contractors-Meetings

This spider does not have a ticketing group (it was part of Group 2 but that needs to be broken up since different/better sources have been found for some of these spiders).

[2018-08-05 00:48] novellac commented on #490
Needs labels:

 - location: Detroit
 - architecture: spiders
 - new spider needed

[2018-08-05 13:49] pjsier commented on #478
Closed by #488

[2018-08-05 13:49] #478 closed

[2018-08-05 13:52] pjsier commented on #468
Closed by #480